/* fancyline.css for LePtC [2015.0621] */
/* 代码来自：https://css-tricks.com/simple-styles-for-horizontal-rules/ */

hr.style2{
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
hr.style3 { border: 0; border-bottom: 2px dashed #112851; /*background: #999;*/ }
hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}
