/* float.css for LePtC [2015.0331] */
/* 代码来自：LePtC 原创 */
/* Shared under the MIT license */



#floatright{
	z-index: 9999;
	position: fixed;
	right: -4px;
	top: 0px;
	width: 54px;
	height: 430px;
	background: rgba(255, 255, 255, 0.8);
	border-radius: 4px;
	color: #112851;
}

#floatright p{
	font-size: 0.8em;
	line-height: 10%;
	padding: 0 0 0 3px;
}

