/* fold.css for LePtC [2015.0309] */
/* 代码来自：LePtC 原创 */
/* Shared under the MIT license */


.fold {
  margin-top: 6px;
  margin-bottom: 6px;
  border: 1px solid #112851;
  border-radius: 4px;
}

.fold-head {
  display: block;
  padding: 3px;
  background: rgba(17,40,81,0.7);
  color: #FFF;
  cursor:pointer;
}

.fold-cont {
  /*display: none;*/
  padding: 8px;
  border-top: 1px solid #112851;
}
