/* homepage16B.css for LePtC [2016.0727] */
/* 代码来自：LePtC 原创 */
/* Shared under the MIT license */


body {
  background-color: #1E1E1E;
}
.body{
  color: #CCC;
  background: rgba(30, 30, 30, .9);
}

a:link {
  color: #589cd6;
  text-decoration:none;
}
a:visited {
  color: #51718B;
  text-decoration:none;
}
a:hover, a:active {
  color: #589cd6;
  text-decoration:underline;
}



img.blackle {
  height: 80vh;
  max-height: 1000px;
  display: block;
  position: fixed;
  margin: 5% auto; /* Will not center vertically and won't work in IE6/7. */
  left: 0;
  right: 0;
  z-index:-4;
}


.fold, .fold-cont {
  border: none;
  padding: 0;
}

.fold-head {
  text-align: center;
  background: #AAA;
  color: #111;
  border: 1px solid #CCC;
  border-radius: 4px;
}



tfoot {
  display: table-header-group;
}

/*td.highlight {
  background-color: #333 !important;
}*/


input[id="日期"],
input[id="站点"],
input[id="标签"] {
  max-width: 70px;
}
input[id="赞"] {
  max-width: 18px;
}
input[type=text], input[type="search"] {
  font-size: 1em;
  padding: 2px;
  color: #DDD;
  background-color: #222;
  border: 2px solid #333;
  border-radius: 0;
}
input[type="search"] {
  background: url(search.png) no-repeat right;
}
input[type=text]:focus, input[type="search"]:focus {
  background: none;
  background-color: #333;
  border-color: #e4a438;
}

sup {
  color: #F05B1C;
  background: rgba(25,25,25,0.5);
}

#section {
  font-size: 0.8em;
}
table.dataTable {
  font-size: 1.1em;
}

#nav {
  color:#AAA;
  border: none;
}

#nav ul {
  list-style-type: none;
}

#togglecolumn, #toggleindex, #showcomment {
  display: none;
}

@media screen and (min-device-width: 580px){
  #nav {
    width: 100px;
    height: 100%;
  }
  #section {
    max-width: 1080px;
    padding: 5px 10px 5px 120px;
  }
/*  #footer {
    text-align: center;
    padding-left: 200px;
  }*/
}


@media screen and (max-device-width: 580px){
  #nav {
    width: 100%;
    height: 40px;
    background-color: #1E1E1E;
  }
  #section {
    min-width: 0;
    padding: 30px 10px 5px 10px;
  }
}

