/* homepageB.css for LePtC [2015.0910] */
/* 代码来自：LePtC 原创 */
/* Shared under the MIT license */


body{
	background-color: #351A0F;
}
span.glass{
  color: #F05B1C;
  background: rgba(0,0,0,0.5);
}

#demo{
  margin-left:auto;
  margin-right:50px;
  height:360px;
  line-height:60%;
}
orange{
  /*font-size: 0.9em;*/
  color: #F05B1C;
}
white{
  color: #FFF;
}
orange, white{
  background: rgba(0,0,0,0.5);
  padding-left: 3px;
  border-radius: 4px;
}
blue{
  color: #487BD9;
  font-size: 1.1em;
}
/*grey{
  color: #666 !important;
}*/

p.button{
  text-align: right;
}
p.button a{
  color: #000;
  background: #487BD9;
  padding: 2px 4px 2px 4px;
  border-radius: 4px;
}
p.button a:hover{
  background: #AAA;
  text-decoration:none;
}

/*#body{
  background: rgba(0,0,0,0.7);
}*/

.body{
  color: #EEE;
  background: rgba(0,0,0,0.7);
  margin: 25px auto;
  padding-top: 6px;
  position: relative;
  border: 1px solid #AAA;
  border-radius: 14px;
}

h2, h2 *, h2 a:hover, h3{
  color: #487BD9;
}

