/* homepage2col.css for LePtC [2016.0204] */
/* Shared under the MIT license */


body {
  background: none;
  background-color: #15232C;
}

span.glass{
  color: #FFF;
  background: rgba(0,0,0,0.2);
}

.body{
  color: #DDD;
  background: rgba(0,0,0,0.2);
  padding-top: 3px;
  margin-top: 15px;
}


img.sky{
  height: 100%;
  width: auto;
  min-width: 100%;
  min-height: 100%;
  margin: auto;
  overflow: hidden;
  position: fixed;
  left: 0px;
  top: 0px;
}


.header h2{
  font-size: 1.2em;
  color: #8195BB;
}
.header h2 a:hover{
  color: #DDD;
  text-decoration: none;
}
h3 {
  color: #8195BB;
}

/*.icon a img {
  height: 30px;
  padding: 2px;
  margin-bottom: 5px;
}
.icon a:hover img {
  filter: invert(92%);
}
p.icon{
  text-align: right;
  padding: 0;
  margin: 0;
  border: 0;
}*/

#leftguide {
  color: #DDD;
  font-size: 0.9em;
  padding: 10pt 0pt 10pt 15pt;
}
#leftguide ul{
  padding: 3pt;
}
#leftguide a {
  color: #DDD;
}


.content p a {
  /*color: #DDD;*/
  padding: 1px 3px 1px 3px;
  background: rgba(0,0,0,0.2);
}
.ds-recent-comments a {
  color: #DDD;
}


h1 {
  font-size:1.4em;
}
img.moele{
  height: 45px;
}

#nav {
  position: fixed;
  top: 0px;
  left: 5px;
  padding: 0;
  margin: 0;
  border-right: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 9999;
}



@media screen and (min-device-width: 580px){
  #nav {
    width: 200px;
    height: 100%;
  }
  #section {
    max-width: 880px;
    padding: 5px 10px 5px 220px;
  }
  /*body h1, */#footer {
    text-align: center;
    padding-left: 250px;
  }
}


@media screen and (max-device-width: 580px){
  #nav {
    width: 100%;
    height: 140px;
    background-color: #223B67;
  }
  #section {
    min-width: 300px;
    padding: 130px 10px 5px 10px;
  }
  #footer {
    text-align: center;
  }
}
