---
layout: notsci-nf
categories: s2n0
title: 模版
---
<pnum>1</pnum>
<blockquote>
	<a href="http://www.guokr.com/question//">@XXX</a>：如果？
</blockquote>
<hr />

<div class="content">

<p><pnum>2</pnum>
	</p>

<p><pnum>3</pnum>
	</p>

<p><pnum>4</pnum>
	</p>

<p><pnum>5</pnum>
	</p>

<p><pnum>6</pnum>
	</p>

<p><pnum>7</pnum>
	</p>

<p><pnum>8</pnum>
	</p>

<p><pnum>9</pnum>
	</p>

<p><pnum>10</pnum>
	</p>

<p><pnum>11</pnum>
	</p>

<p><pnum>12</pnum>
	</p>

<p><pnum>13</pnum>
	</p>

<p><pnum>14</pnum>
	</p>

<p><pnum>15</pnum>
	</p>

<p><pnum>16</pnum>
	</p>

<p><pnum>17</pnum>
	</p>

<p><pnum>18</pnum>
	</p>

<p><pnum>19</pnum>
	</p>

<p><pnum>20</pnum>
	</p>

<p><pnum>21</pnum>
	</p>

<p><pnum>22</pnum>
	</p>

<p><pnum>23</pnum>
	</p>

<p><pnum>24</pnum>
	</p>

<p><pnum>25</pnum>
	</p>

<p><pnum>26</pnum>
	</p>

<p><pnum>27</pnum>
	</p>

<p><pnum>28</pnum>
	</p>

<p><pnum>29</pnum>
	</p>

<p><pnum>30</pnum>
	</p>

<p><pnum>31</pnum>
	</p>

<p><pnum>32</pnum>
	</p>

<p><pnum>33</pnum>
	</p>

<p><pnum>34</pnum>
	</p>

<p><pnum>35</pnum>
	</p>

<p><pnum>36</pnum>
	</p>

<p><pnum>37</pnum>
	</p>

<p><pnum>38</pnum>
	</p>

<p><pnum>39</pnum>
	</p>

<p><pnum>40</pnum>
	</p>

<p><pnum>41</pnum>
	</p>

<p><pnum>42</pnum>
	</p>

<p><pnum>43</pnum>
	</p>

<p><pnum>44</pnum>
	</p>

<p><pnum>45</pnum>
	</p>

<p><pnum>46</pnum>
	</p>

<p><pnum>47</pnum>
	</p>

<p><pnum>48</pnum>
	</p>

<p><pnum>49</pnum>
	</p>

<p><pnum>50</pnum>
	</p>

<p><pnum>51</pnum>
	</p>

<p><pnum>52</pnum>
	</p>

<p><pnum>53</pnum>
	</p>

<p><pnum>54</pnum>
	</p>

<p><pnum>55</pnum>
	</p>

<p><pnum>56</pnum>
	</p>

<p><pnum>57</pnum>
	</p>

<p><pnum>58</pnum>
	</p>

<p><pnum>59</pnum>
	</p>

<p><pnum>60</pnum>
	</p>



<div class="fold">
	<div class="fold-head" onclick="isHidden('div2')">
				展开计算过程 (1)～(4)
	</div>
	<div class="fold-cont" id="div2" style="display:none">
		<p><pnum>3</pnum>已知</p>
		<p>$$\tau=\frac{A}{\dot{A}}=\frac{\pi ab}{h/2}$$</p>
	</div>
</div>

<div class="fold">
	<pnum>7</pnum>
	<div class="fold-head" onclick="isHidden('div3')">
		展开计算过程 (5)
	</div>
	<div class="fold-cont" id="div3" style="display:none">
		<p>Mathematica 代码：</p>
{% highlight mma %}
ListDensityPlot[data, PlotRange -> {-0.2, 0.2}, Mesh -> {3, 3}, ColorFunction -> Function[{x}, Hue[(x + 0.2)/0.4, 1, Sin[(x + 0.2)/0.2*20 \[Pi]]*0.4 + 0.6]], ColorFunctionScaling -> False, ClippingStyle -> Automatic, ImageSize -> Scaled[0.2], Frame -> False]
ContourPlot[Sin[x^2 + y^2] == Cos[x y], {x, -10, 10}, {y, -10, 10} , MaxRecursion -> 2, PlotPoints -> 50]
differentiationF1[x_] := Sin[x] + Sin[x] + Cos[x] + Tan[x] + Cot[x] + Sinh[x] + Cosh[x]
{% endhighlight %}
	</div>
</div>


</div>

{% include header.html param="参考资料" %}

<div class="content">
<ol>
	<li>s1n1 白矮星<a href="http://www.guokr.com/question/507354/">↗</a></li>
</ol>
</div>

{% include header.html param="审稿人" %}

<div class="content">
	<p><h3>邀请审稿人（按时间顺序排序）：</h3></p>
	<p><h3>其他参与审稿：</h3></p>
</div>

