---
layout: index-s
author: 笔记
title: 主页
---

<link rel="stylesheet" type="text/css" href="/css/smint.css">
<script src="/js/jquery-1.11.2.min.js"></script>

<script src="/js/jquery_002.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready( function() {
    $('.subMenu').smint({
      'scrollSpeed' : 500
    });
});
</script>

<div id="body">
<div class="wrap">

  <div class="section sTop">
    <div class="inner">

<div class="content">
  <p>狸笔记（LeNote）是 LePtC 为整理学习笔记开发的 LaTeX 模版，主要特点有双语词条、自动高亮、图文混排、表文混排、紧凑版面、简化数理命令、强迫症友好型格式约定等… 【<a href="http://github.com/LePtC/LeNote">项目主页</a>】【<a href="http://github.com/LePtC/LeNote/archive/master.zip">模版下载</a>】。</p>

  <img src="lenotef1.jpg" height="244" alt="双语词条" class="lenotef">
  <img src="lenotef3.jpg" height="244" alt="自动高亮" class="lenotef">
  <img src="lenotef2.jpg" height="244" alt="图文混排" class="lenotef">
  <img src="lenotef4.jpg" height="244" alt="数理约定" class="lenotef">

  <p>本主页为狸笔记的内容分享项目，提供 LePtC 学习笔记的 pdf 文件下载。</p>
  <p><h3>笔记仅限学习交流使用，未经编者同意禁止用于商业用途。</h3></p>
  <p>欢迎童鞋检查笔记中的错误，提出改进意见。如果你有自己的 LeNote 笔记，欢迎<a href="/author.html">与我分享</a>～</p>
</div>

    </div>
  </div>

<div>
  <div style="position: relative; top: 0px; left: 0px;" class="subMenu smint">
    <div class="inner">
      <a id="sTop" href="#sTop" class="subNavBtn action">↑</a>
      <a id="s-Ex" href="#s-Ex" class="subNavBtn">实</a>
      <a id="s-M" href="#s-M" class="subNavBtn">力</a>
      <a id="s-T" href="#s-T" class="subNavBtn">热</a>
      <a id="s-E" href="#s-E" class="subNavBtn">电</a>
      <a id="s-O" href="#s-O" class="subNavBtn">光</a>

      <a id="s-I" href="#s-I"  class="subNavBtn">信</a>
      <a id="s-Q" href="#s-Q"  class="subNavBtn">量</a>
      <a id="s-A" href="#s-A"  class="subNavBtn">原</a>
      <a id="s-F" href="#s-F"  class="subNavBtn">场</a>
      <a id="s-C" href="#s-C"  class="subNavBtn">凝</a>
      <a id="s-H" href="#s-H"  class="subNavBtn">粒</a>
      <a id="s-G" href="#s-G"  class="subNavBtn">相</a>
      <a id="s-fo" href="#s-fo"  class="subNavBtn">公</a>
      <a id="s-r" href="#s-r"  class="subNavBtn">实</a>
      <a id="s-p" href="#s-p"  class="subNavBtn">概</a>
      <a id="s-c" href="#s-c"  class="subNavBtn">复</a>
      <a id="s-a" href="#s-a"  class="subNavBtn">代</a>
      <a id="s-ag" href="#s-ag"  class="subNavBtn">群</a>
      <a id="s-g" href="#s-g"  class="subNavBtn">几</a>
      <a id="s-t" href="#s-t"  class="subNavBtn">拓</a>
      <a id="s-m" href="#s-m"  class="subNavBtn">模</a>
      <a id="s-n" href="#s-n"  class="subNavBtn">值</a>
      <a id="s-Pm" href="#s-Pm"  class="subNavBtn">理</a>
      <a id="s-en" href="#s-en"  class="subNavBtn">外</a>

{% include lenote.html cn="实验" en="Ex" %}

<div class="fold">
  <div class="fold-head" onclick="isHidden('divEx')">
    计划 9 个章节，已上传 7 个，已完结 4 个
  </div>
  <div class="fold-cont" id="divEx" style="display:none">
  <ol>
    <li>物理实验 <a href="https://github.com/LePtC/LeNotePDF/raw/master/Phys/Ex1.pdf">Ex1.pdf</a></li>
    <li>字母及单位表 <a href="https://github.com/LePtC/LeNotePDF/raw/master/Phys/希腊字母.pdf">希腊字母.pdf</a></li>
    <li>物理常数表 <a href="https://github.com/LePtC/LeNotePDF/raw/master/Phys/CODATA2010.pdf">CODATA2010.pdf</a></li>
    <li>核素表 <a href="https://github.com/LePtC/LeNotePDF/raw/master/Phys/nuclear wallet card 2011-摘.pdf">nuclear wallet card 2011-摘.pdf</a></li>
  </ol>
  </div>
</div>
  <h3>精：</h3>
  <h3>参：</h3>

{% include lenote.html cn="力" en="M" %}

<div class="fold">
  <div class="fold-head" onclick="isHidden('divM')">
    计划 14 个章节，已上传 0 个，已完结 0 个
  </div>
  <div class="fold-cont" id="divM" style="display:none">

  </div>
</div>
  <h3>精：</h3>
  <ol>
    <li>赵凯华. 新概念物理教程－力学（第二版）. 高等教育出版社（赵凯华新概念系列 NC 粉…）</li>
    <li>舒幼生. 力学. 北京大学出版社（以及北大红蓝封面系列 NC 粉…）</li>
    <li>清华分析力学讲义</li>
  </ol>
  <h3>参：</h3>
  <ol>
    <li>周衍柏. 理论力学教程（第三版）. 高等教育出版社</li>
    <li>（英文书待整）</li>
  </ol>

{% include lenote.html cn="热" en="T" %}

<div class="fold">
  <div class="fold-head" onclick="isHidden('divT')">
    计划 22 个章节，已上传 0 个，已完结 0 个
  </div>
  <div class="fold-cont" id="divT" style="display:none">

  </div>
</div>
  <h3>精：</h3>
  <ol>
    <li>Greiner. Thermodynamics and Statistical Mechanics. Springer（中译：锺云霄. 热力学与统计力学. 北京大学出版社）（也是这个北大中译系列的 NC 粉）（有这一本就够了，一本书把热学热力学量子统计全讲了…）</li>
  </ol>
  <h3>参：</h3>
  <ol>
    <li>赵凯华. 新概念物理教程－热学（第二版）. 高等教育出版社</li>
    <li>汪志诚. 热力学统计物理（第五版）. 高等教育出版社</li>
    <!-- <li>北大编写组. 量子统计物理学. 北京大学出版社</li> -->
  </ol>

{% include lenote.html cn="电" en="E" %}

<div class="fold">
  <div class="fold-head" onclick="isHidden('divE')">
    计划 24 个章节，已上传 11 个，已完结 7 个
  </div>
  <div class="fold-cont" id="divE" style="display:none">
  <ol>
    <li>电磁学 <a href="https://github.com/LePtC/LeNotePDF/raw/master/Phys/E.pdf">E.pdf</a></li>
    <li>电路 <a href="https://github.com/LePtC/LeNotePDF/raw/master/Phys/E-c.pdf">E-c.pdf</a></li>
  </ol>
  </div>
</div>
  <h3>精：</h3>
  <ol>
    <li>赵凯华. 电磁学（第三版）. 高等教育出版社（有新概念版，相当于这本书的缩水版）</li>
    <li>Purcell. Electricity and Magnetism (2nd ed). McGraw-Hili</li>
    <li>虞福春. 电动力学（修订版）. 北京大学出版社</li>
  </ol>
  <h3>参：</h3>
  <ol>
    <li>郭硕鸿. 电动力学（第三版）. 高等教育出版社</li>
    <li>Jackson, Classical Electrodynamics (3rd ed). Wiley（tedious…）</li>
  </ol>

{% include lenote.html en="O" cn="光" %}

<div class="fold">
  <div class="fold-head" onclick="isHidden('divO')">
    计划 25 个章节，已上传 0 个，已完结 0 个
  </div>
  <div class="fold-cont" id="divO" style="display:none">

  </div>
</div>
  <h3>精：</h3>
  <ol>
    <li>赵凯华. 新概念物理教程－光学. 高等教育出版社</li>
    <li>钟锡华. 现代光学基础（第三版）. 北京大学出版社</li>
    <li>Boyd. Nonlinear Optics (3rd ed). Elsevier</li>
    <li>李福利. 高等激光物理学. 中国科学技术大学</li>
    <li>Fox. Quantum Optics - An Introduction. Oxford</li>
  </ol>
  <h3>参：</h3>
  <ol>
    <li>[印度] Ajoy Ghatak. Optics. （中译：张晓光. 光学（第四版）. 清华大学出版社）（讲的相当的全…）</li>
    <li>安连生. 应用光学. 北京理工大学出版社</li>
    <li>Gerry. Introductory Quantum Optics. Cambridge</li>
    <li>Agarwal. Quantum Optics. Cambridge</li>
  </ol>

{% include lenote.html en="I"  cn="信息" %}

<div class="fold">
  <div class="fold-head" onclick="isHidden('divI')">
    计划 17 个章节，已上传 5 个，已完结 0 个
  </div>
  <div class="fold-cont" id="divI" style="display:none">

  </div>
</div>
  <h3>精：</h3>
  <ol>
    <li>Nielsen & Chuang. Quantum Computation and Quantum Information. Wiley（中译：赵千川. 量子计算和量子信息. 清华大学出版社）</li>
    <li>张礼. 量子力学的前沿问题. 清华大学出版社</li>
  </ol>
  <h3>参：</h3>
  <ol>
    <li>Preskill@Caltech 讲义</li>
    <li>数字电子技术基础</li>
    <li>龙桂鲁. 量子力学新进展（第五辑）. 清华大学出版社</li>
  </ol>

{% include lenote.html en="Q"  cn="量子" %}

<div class="fold">
  <div class="fold-head" onclick="isHidden('divQ')">
    计划 8 个章节，已上传 7 个，已完结 0 个
  </div>
  <div class="fold-cont" id="divQ" style="display:none">
  <ol>
    <li>初等量子力学 <a href="https://github.com/LePtC/LeNotePDF/raw/master/Phys/Q.pdf">Q.pdf</a></li>
  </ol>
  </div>
</div>
  <h3>精：</h3>
  <ol>
    <li>赵凯华. 新概念物理教程－量子物理（第二版）. 高等教育出版社（初学入门）</li>
    <li>Griffiths. Introduction to quantum mechanics. Pearson（中译: 机械工业出版社）（最好的初量教材没有之一）</li>
    <li>Sakurai. Modern Quantum Mechanics (2nd ed). Wesley（概念讲的很好， 就是符号记号陈旧）</li>
  </ol>
  <h3>参：</h3>
  <ol>
    <li>曾谨言. 量子力学教程 (第三版). 科学出版社（数学很详细…）</li>
    <li>周世勋. 量子力学教程 (第二版). 高等教育出版社</li>
  </ol>

{% include lenote.html en="A"  cn="原子" %}

<div class="fold">
  <div class="fold-head" onclick="isHidden('divA')">
    计划 11 个章节，已上传 6 个，已完结 0 个
  </div>
  <div class="fold-cont" id="divA" style="display:none">
  <ol>
    <li>氢原子 <a href="https://github.com/LePtC/LeNotePDF/raw/master/Phys/A.pdf">A.pdf</a></li>
  </ol>
  </div>
</div>
  <h3>精：</h3>
  <ol>
    <li>同量子（量子的内容实在太多了所以拆分一下…）</li>
    <li>Demtröder. Atom, Molecules and Photons (2nd ed). Springer（补充实验上的知识）</li>
  </ol>

{% include lenote.html en="F"  cn="场论" %}

<div class="fold">
  <div class="fold-head" onclick="isHidden('divF')">
    计划 9 个章节，已上传 0 个，已完结 0 个
  </div>
  <div class="fold-cont" id="divF" style="display:none">
  </div>
</div>
  <h3>精：</h3>
  <ol>
    <li>Lancaster. Quantum Field Theory for the gifted amateur. Oxford（初学入门严重推荐）</li>
    <li>Zee. Quantum Field Theory in a Nutshell. Springer（NC 粉系列）</li>
  </ol>
  <h3>参：</h3>
  <ol>
    <li>Merzbacher. Quantum Mechanics (3rd ed). Wiley</li>
  </ol>

{% include lenote.html en="C"  cn="凝态" %}

<div class="fold">
  <div class="fold-head" onclick="isHidden('divC')">
    计划 19 个章节，已上传 4 个，已完结 0 个
  </div>
  <div class="fold-cont" id="divC" style="display:none">

  </div>
</div>
  <h3>精：</h3>
  <ol>
    <li>阎守胜. 固体物理基础（第二版） . 北京大学出版社（适合初学科普）</li>
    <li>Kittel. Introduction to Solid State Physics (8th edition)（中译: 项金钟. 固体物理导论. 机械工业出版社）</li>
    <li>Annett. Superconductivity, Superfluids and Condensates. Oxford</li>
    <li>清华冷原子课程讲义</li>
  </ol>
  <h3>参：</h3>
  <p>同场论</p>

{% include lenote.html en="H"  cn="粒子" %}

<div class="fold">
  <div class="fold-head" onclick="isHidden('divH')">
    计划 19 个章节，已上传 10 个，已完结 1 个
  </div>
  <div class="fold-cont" id="divH" style="display:none">
  <ol>
    <li>核物理 <a href="https://github.com/LePtC/LeNotePDF/raw/master/Phys/N.pdf">N.pdf</a></li>
  </div>
</div>
  <h3>精：</h3>
  <ol>
    <li>卢希庭. 原子核物理. 原子能出版社</li>
    <li>丁富荣. 辐射物理. 北京大学出版社</li>
    <li>Perkins. Introduction to High Energy Physics (4th ed). Cambridge</li>
  </ol>
  <h3>参：</h3>
  <ol>
    <li>Robert Mann. An Introduction to Particle Physics and the Standard Model. CRC Press</li>
  </ol>

{% include lenote.html en="G"  cn="相对论" %}

<div class="fold">
  <div class="fold-head" onclick="isHidden('divG')">
    计划 11 个章节，已上传 0 个，已完结 0 个
  </div>
  <div class="fold-cont" id="divG" style="display:none">

  </div>
</div>
  <h3>精：</h3>
  <ol>
    <li>虞福春. 电动力学（修订版）. 北京大学出版社（第 6 章）</li>
    <li>Schwabl. Advanced Quantum Mechanics. Springer</li>
    <li>Zee. Einstein Gravity in a Nutshell. Princeton</li>
  </ol>
  <h3>参：</h3>

{% include lenote.html en="fo"  cn="公式" %}

<div class="fold">
  <div class="fold-head" onclick="isHidden('divfo')">
    计划 11 个章节，已上传 7 个，已完结 4 个
  </div>
  <div class="fold-cont" id="divfo" style="display:none">
  <ol>
    <li>常用数学公式 <a href="https://github.com/LePtC/LeNotePDF/raw/master/Math/fo.pdf">fo.pdf</a></li>
  </ol>
  </div>
</div>
  <h3>精：</h3>
  <h3>参：</h3>

{% include lenote.html en="r"  cn="实分析" %}

<div class="fold">
  <div class="fold-head" onclick="isHidden('divr')">
    计划 13 个章节，已上传 3 个，已完结 0 个
  </div>
  <div class="fold-cont" id="divr" style="display:none">
  <ol>
    <li>数学分析 <a href="https://github.com/LePtC/LeNotePDF/raw/master/Math/r.pdf">r.pdf</a></li>
  </ol>
  </div>
</div>
  <h3>精：</h3>
  <h3>参：</h3>
  <ol>
    <li>杨小远. 工科数学分析. 科学出版社</li>
    <li>丁同仁. 常微分方程教程（第二版）. 高等教育出版社</li>
    <li>程其襄. 实变函数与泛函分析基础（第三版）. 高等教育出版社</li>
  </ol>

{% include lenote.html en="p"  cn="概统" %}

<div class="fold">
  <div class="fold-head" onclick="isHidden('divp')">
    计划 9 个章节，已上传 0 个，已完结 0 个
  </div>
  <div class="fold-cont" id="divp" style="display:none">

  </div>
</div>
  <h3>精：</h3>
  <h3>参：</h3>

{% include lenote.html en="c"  cn="复分析" %}

<div class="fold">
  <div class="fold-head" onclick="isHidden('divc')">
    计划 12 个章节，已上传 0 个，已完结 0 个
  </div>
  <div class="fold-cont" id="divc" style="display:none">

  </div>
</div>
  <h3>精：</h3>
  <ol>
    <li>梁昆淼. 数学物理方法（第四版）. 高等教育出版社（第一篇）</li>
    <li>吴崇试. 数学物理方法（第二版）. 北京大学出版社（第一部分）</li>
  </ol>
  <h3>参：</h3>
  <ol>
    <li>郑君里. 信号与系统（第二版）. 高等教育出版社</li>
  </ol>

{% include lenote.html en="a"  cn="代数" %}

<div class="fold">
  <div class="fold-head" onclick="isHidden('diva')">
    计划 8 个章节，已上传 0 个，已完结 0 个
  </div>
  <div class="fold-cont" id="diva" style="display:none">

  </div>
</div>
  <h3>精：</h3>
  <ol>
    <li>蓝以中. 高等代数简明教程. 北京大学出版社</li>
  </ol>
  <h3>参：</h3>
  <ol>
    <li>高宗升. 线性代数（第二版）. 北京航空航天大学出版社</li>
  </ol>

{% include lenote.html en="ag"  cn="群论" %}

<div class="fold">
  <div class="fold-head" onclick="isHidden('divag')">
    计划 9 个章节，已上传 0 个，已完结 0 个
  </div>
  <div class="fold-cont" id="divag" style="display:none">

  </div>
</div>
  <h3>精：</h3>
  <ol>
    <li>韩士安. 近世代数（第二版）. 科学出版社（数学专业，讲群环域）</li>
    <li>Elliott. Symmetries in Physics. Macmillan（中译: 仝道荣. 物理学中的对称性. 科学出版社）（完整讲群和群表示论以及物理应用）</li>
  </ol>
  <h3>参：</h3>
  <ol>
    <li>Serre. Linear Representation of Finite Groups（中译: 郝鈵新. 有限群的线性表示. 科学出版社）</li>
    <li>Greiner. Quantum Mechanics Symmetries. Springer（中译: 钱裕昆. 量子力学：对称性. 北京大学出版社）（李群）（不确定这本书是放在数学里还是放粒子物理里…）</li>
  </ol>

{% include lenote.html en="g"  cn="几何" %}

<div class="fold">
  <div class="fold-head" onclick="isHidden('divg')">
    计划 10 个章节，已上传 3 个，已完结 0 个
  </div>
  <div class="fold-cont" id="divg" style="display:none">

  </div>
</div>
  <h3>精：</h3>
  <ol>
    <li>梅向明. 微分几何（第四版）. 高等教育出版社</li>
  </ol>
  <h3>参：</h3>

{% include lenote.html en="t"  cn="拓扑" %}

<div class="fold">
  <div class="fold-head" onclick="isHidden('divt')">
    计划 2 个章节，已上传 1 个，已完结 0 个
  </div>
  <div class="fold-cont" id="divt" style="display:none">

  </div>
</div>
  <h3>精：</h3>
  <ol>
    <li>Armstrong. Basic Topology（中译：孙以丰. 基础拓扑学. 北京大学出版社）</li>
  </ol>
  <h3>参：</h3>
    <ol>
      <li>王敬庚. 直观拓扑（第三版）. 北京师范大学出版社</li>
    </ol>

{% include lenote.html en="m"  cn="数模" %}

<div class="fold">
  <div class="fold-head" onclick="isHidden('divm')">
    计划 8 个章节，已上传 8 个，已完结 6 个
  </div>
  <div class="fold-cont" id="divm" style="display:none">
  <ol>
    <li>运筹学，数学模型 <a href="https://github.com/LePtC/LeNotePDF/raw/master/Math/m.pdf">m.pdf</a></li>
  </ol>
  </div>
</div>
  <h3>精：</h3>
  <ol>
    <li>运筹学教材编写组. 运筹学（第三版）. 清华大学出版社</li>
  </ol>
  <h3>参：</h3>
  <ol>
    <li>姜启源. 数学模型（第四版）. 高等教育出版社</li>
  </ol>

{% include lenote.html en="n"  cn="数值" %}

<div class="fold">
  <div class="fold-head" onclick="isHidden('divn')">
    计划 10 个章节，已上传 0 个，已完结 0 个
  </div>
  <div class="fold-cont" id="divn" style="display:none">

  </div>
</div>
  <h3>精：</h3>
  <ol>
    <li>Landau. A survey of computational physics. Princeton and Oxford</li>
  </ol>
  <h3>参：</h3>
  <ol>
    <li>颜庆津. 数值分析（第三版）. 北京航空航天大学出版社</li>
  </ol>

{% include lenote.html en="Pm"  cn="数理" %}

<div class="fold">
  <div class="fold-head" onclick="isHidden('divPm')">
    计划 13 个章节，已上传 0 个，已完结 0 个
  </div>
  <div class="fold-cont" id="divPm" style="display:none">

  </div>
</div>
  <h3>精：</h3>
  <ol>
    <li>梁昆淼. 数学物理方法（第四版）. 高等教育出版社（第二篇）</li>
    <li>吴崇试. 数学物理方法（第二版）. 北京大学出版社（第二部分）</li>
  </ol>
  <h3>参：</h3>

{% include lenote.html en="en"  cn="外语" %}

  <ol>
    <li>英语 <a href="https://github.com/LePtC/LeNotePDF/raw/master/Lang/Eng.pdf">Eng.pdf</a></li>
    <li>英语法 <a href="https://github.com/LePtC/LeNotePDF/raw/master/Lang/英语语法.pdf">英语语法.pdf</a></li>
    <li>德语法 <a href="https://github.com/LePtC/LeNotePDF/raw/master/Lang/德语变化表.pdf">德语变化表.pdf</a></li>
    <li>日语法 <a href="https://github.com/LePtC/LeNotePDF/raw/master/Lang/日语变化一览表.pdf">日语变化一览表.pdf</a></li>
  </ol>


</div>

  </div>
</div>


</div>

<div class="content">
<p>（其它科目笔记多为纸质版，尚待积累）</p>
</div>

</div>



<div id="discuss">
  <div class="fold">
  <div class="fold-head" onclick="isHidden('discu')">
    展开讨论
  </div>
  <div class="fold-cont" id="discu" style="display:none">
    <!-- 多说评论框 start -->
      <div class="ds-thread" data-thread-key="lenote-Phys/Ex" data-title="lenote" data-url="http://leptc.github.io/lenote/"></div>
    <!-- 多说评论框 end -->
  </div>
  </div>
</div>

