---
layout: index-s
author: 笔记
title: 主页
---

<link rel="stylesheet" type="text/css" href="/css/smint.css">
<script src="/js/jquery-1.11.2.min.js"></script>

<script src="/js/jquery_002.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready( function() {
    $('.subMenu').smint({
      'scrollSpeed' : 500
    });
});
</script>

<div id="body">
<div class="wrap">

  <div class="section sTop">
    <div class="inner">

<div class="content">
  <p>狸笔记（LeNote）是 LePtC 为整理物理数学笔记开发的 LaTeX 模版，主要特点有双语词条、自动高亮、图文混排、表文混排、紧凑版面、简化数理命令、强迫症友好型格式约定等…</p>

  <img src="lenotef1.jpg" height="244" alt="双语词条" class="lenotef">
  <img src="lenotef3.jpg" height="244" alt="自动高亮" class="lenotef">
  <img src="lenotef2.jpg" height="244" alt="图文混排" class="lenotef">
  <img src="lenotef4.jpg" height="244" alt="数理约定" class="lenotef">

  <p>本主页为狸笔记的内容分享项目，提供 LePtC 学习笔记的 pdf 文件下载。LaTeX 模版开发主页见【<a href="http://github.com/LePtC/LeNote">项目主页</a>】以及【<a href="http://github.com/LePtC/LeNote/archive/master.zip">模版下载</a>】</p>
  <p><h3>笔记仅限学习交流使用，未经编者同意禁止用于商业用途。</h3></p>
  <p>欢迎童鞋检查笔记中的错误，提出改进意见。如果你有自己的 LeNote 笔记，欢迎<a href="/author.html">跟偶分享</a>～</p>
</div>

    </div>
  </div>

<div>
  <div style="position: relative; top: 0px; left: 0px;" class="subMenu smint">
    <div class="inner">
      <a id="sTop" href="#sTop" class="subNavBtn action">↑</a>
      <a id="s-Ex" href="#s-Ex" class="subNavBtn">实</a>
      <a id="s-M" href="#s-M" class="subNavBtn">力</a>
      <a id="s-T" href="#s-T" class="subNavBtn">热</a>
      <a id="s-E" href="#s-E" class="subNavBtn">电</a>
      <a id="s-O" href="#s-O" class="subNavBtn">光</a>

      <a id="s-I" href="#s-I"  class="subNavBtn">信</a>
      <a id="s-Q" href="#s-Q"  class="subNavBtn">量</a>
      <a id="s-A" href="#s-A"  class="subNavBtn">原</a>
      <a id="s-F" href="#s-F"  class="subNavBtn">场</a>
      <a id="s-C" href="#s-C"  class="subNavBtn">凝</a>
      <a id="s-H" href="#s-H"  class="subNavBtn">粒</a>
      <a id="s-G" href="#s-G"  class="subNavBtn">相</a>
      <a id="s-fo" href="#s-fo"  class="subNavBtn">公</a>
      <a id="s-r" href="#s-r"  class="subNavBtn">实</a>
      <a id="s-p" href="#s-p"  class="subNavBtn">概</a>
      <a id="s-c" href="#s-c"  class="subNavBtn">复</a>
      <a id="s-a" href="#s-a"  class="subNavBtn">代</a>
      <a id="s-ag" href="#s-ag"  class="subNavBtn">群</a>
      <a id="s-g" href="#s-g"  class="subNavBtn">几</a>
      <a id="s-t" href="#s-t"  class="subNavBtn">拓</a>
      <a id="s-m" href="#s-m"  class="subNavBtn">模</a>
      <a id="s-n" href="#s-n"  class="subNavBtn">值</a>
      <a id="s-Pm" href="#s-Pm"  class="subNavBtn">理</a>
      <a id="s-En" href="#s-En"  class="subNavBtn">英</a>
      <a id="s-De" href="#s-De"  class="subNavBtn">德</a>
      <a id="s-Jp" href="#s-Jp"  class="subNavBtn">日</a>

{% include lenote.html ca="Phys" cn="实验" en="Ex" pl="6" fin="3.5" %}
<ol>
  <li>物理实验：草稿（2015.05.26）</li>
  <li>符号单位表：一期完结（2014.10.07）</li>
  <li>物理常数表：一期完结（2013.08.25）</li>
  <li>元素周期表</li>
  <li>核素表：一期完结（2013.08.24）</li>
</ol>
{% include lenote.html ca="Phys" cn="力" en="M" pl="2" fin="0" %}
<ol>
  <li>经典力学</li>
  <li>分析力学</li>
</ol>
{% include lenote.html ca="Phys" cn="热" en="T" pl="3" fin="0" %}
<ol>
  <li>热力学</li>
  <li>统计物理</li>
  <li>量子统计</li>
</ol>
{% include lenote.html ca="Phys" cn="电" en="E" pl="4" fin="1.5" %}
<ol>
  <li>电磁学：草稿（2015.05.26）</li>
  <li>电动力学</li>
  <li>电路：一期完结（2012.01.05）</li>
  <li>模拟电路</li>
</ol>
{% include lenote.html en="O" ca="Phys" cn="光" pl="3" fin="0" %}
<ol>
  <li>经典光学</li>
  <li>现代光学</li>
  <li>量子光学</li>
</ol>
{% include lenote.html en="I" ca="Phys" cn="信息" pl="3" fin="1" %}
<ol>
  <li>数字电路</li>
  <li>信息学</li>
  <li>量子信息：一期完结（2015.07.09）</li>
</ol>
{% include lenote.html en="Q" ca="Phys" cn="量子" pl="1" fin="0.5" %}
<ol>
  <li>量子力学：草稿（2015.05.26）</li>
</ol>
{% include lenote.html en="A" ca="Phys" cn="原子" pl="1" fin="0.5" %}
<ol>
  <li>氢原子</li>
</ol>
{% include lenote.html en="F" ca="Phys" cn="场论" pl="1" fin="0" %}
<ol>
  <li>量子场论</li>
</ol>
{% include lenote.html en="C" ca="Phys" cn="凝态" pl="2" fin="0.5" %}
<ol>
  <li>固体物理</li>
  <li>冷原子物理</li>
</ol>
{% include lenote.html en="H" ca="Phys" cn="粒子" pl="2" fin="0.5" %}
<ol>
  <li>核物理：草稿（2015.05.26）</li>
  <li>粒子物理</li>
</ol>
{% include lenote.html en="G" ca="Phys" cn="相对论" pl="3" fin="0" %}
<ol>
  <li>狭义相对论</li>
  <li>相对论量子场论</li>
  <li>广义相对论</li>
</ol>
{% include lenote.html en="fo" ca="Math" cn="公式" pl="2" fin="1.5" %}
<ol>
  <li>常用数学公式：草稿（2015.05.26）</li>
  <!-- <li>微分积分表：一期完结（2013.08.29）</li> -->
  <li>常微分方程：一期完结（2012.12.24）</li>
</ol>
{% include lenote.html en="r" ca="Math" cn="实分析" pl="1" fin="0.5" %}
<ol>
  <li>数学分析</li>
</ol>
{% include lenote.html en="p" ca="Math" cn="概统" pl="1" fin="0" %}
<ol>
  <li>概率统计</li>
</ol>
{% include lenote.html en="c" ca="Math" cn="复分析" pl="1" fin="0" %}
<ol>
  <li>复变函数</li>
</ol>
{% include lenote.html en="a" ca="Math" cn="代数" pl="1" fin="0" %}
<ol>
  <li>高等代数</li>
</ol>
{% include lenote.html en="ag" ca="Math" cn="群论" pl="1" fin="1" %}
<ol>
  <li>群论：二期完结（2015.07.07）</li>
</ol>
{% include lenote.html en="g" ca="Math" cn="几何" pl="2" fin="0" %}
<ol>
  <li>解析几何</li>
  <li>微分几何</li>
</ol>
{% include lenote.html en="t" ca="Math" cn="拓扑" pl="1" fin="0" %}
<ol>
  <li>拓扑学</li>
</ol>
{% include lenote.html en="m" ca="Math" cn="数模" pl="1" fin="1" %}
<ol>
  <li>运筹学：一期完结（2013.08.15）</li>
</ol>
{% include lenote.html en="n" ca="Math" cn="数值" pl="1" fin="0" %}
<ol>
  <li>数值分析</li>
</ol>
{% include lenote.html en="Pm" ca="Math" cn="数理" pl="1" fin="0" %}
<ol>
  <li>数学物理方法</li>
</ol>
{% include lenote.html en="En" ca="Lang" cn="英语" pl="2" fin="2" %}
<ol>
  <li>英语：一期完结（2012.08.04）</li>
  <li>英语语法：一期完结（2010.06.06）</li>
</ol>
{% include lenote.html en="De" ca="Lang" cn="德语" pl="1" fin="0.5" %}
<ol>
  <li>德语语法表：草稿（2015.02.28）</li>
</ol>
{% include lenote.html en="Jp" ca="Lang" cn="日语" pl="1" fin="0.5" %}
<ol>
  <li>日语语法表：草稿（2015.02.28）</li>
</ol>


</div>

  </div>
</div>


</div>

<div class="content">
<p>（其它科目笔记多为纸质版，尚待积累）</p>
</div>

</div>


