---
layout: wiki
categories: shu
title: SHU
---
<blockquote>
	<p>“SHU 是狸类进步的阶梯。”</p>
</blockquote>
<hr />

<div class="content">
	<a title="星空大学"><img src="/css/picplace.png" alt="星空大学" class="wiki" style="width: 200px;"></a>
	<p>SHU，仰望星空大学（Sternenhimmel University），又被戏称为超等教育大学（Super High University），位于狸星母星的星空市。</p>
  <p>现任校长：<a href="dumbele">邓布狸 D</a></p>
	<p>校徽：</p>
	<p>校歌：《仰望星空》（创始人认为只有这首歌永远不会过时）</p>
	<br />
</div>


{% include header.html param="培养方案" %}

<div class="content">
  <p>SHU 是狸类教育手段进步和平均智力进化的共同体现。SHU 的学生须选择一个主修专业和至少两个辅修专业，且选择的专业必须覆盖文理两类学科。主专业的全部课程加上次专业的核心课程合成为该学生的培养计划。</p>
</div>

{% include header.html param="人物" %}

<div class="content">
	<p>由于 SHU 覆盖的领域极广，不仅各行各业的精英都来自 SHU，一些狸星顶尖的高智商罪犯同样曾毕业于 SHU。</p>
</div>


