---
layout: popsci
categories: p151212-lexplain-lorentz-transform-1
title: 狸解洛伦兹变换（一）
---
<blockquote>
<p>我还没想好是发到果壳还是知乎，大家可以在评论区投票…</p>
<p>当然也可以选哪也不发，作为狸站的独家作品 ╮(╯▽╰)╭</p>
</blockquote>
<hr />


{% include header.html param="时空图" %}

<div class="content">

  <p> <blue>时空图</blue> （space-time diagram）是一类功能强大的魔法阵，通过画这类魔法阵，你可以不必计算咒语（推导公式），从图中便可得出时空变换后的结果。</p>

  <p>宏观上，我们的「地球 Online」系统演算于一个一维时间、三维空间的时空中，称为 <blue>闵可夫斯基空间</blue> （Minkowski Space）。（以下为了便于在纸面上展示，空间我们只画出一个维度）时空图的画法如下：首先画一个向上的箭头，它代表着时间。然后画一个向右的箭头，它代表着空间位置。（这有点像位移－时间图，而时空图则是翻过来的）</p>

  {% include imglex.html cn="洛伦兹变换" en="lt" num="1.png" wid="350"%}

  <p>最后标上刻度，然后由刻度建立平行四边形网格，嗒哒～你的第一个魔法阵便绘制完成啦。</p>

  {% include imglex.html cn="洛伦兹变换" en="lt" num="2.png" wid="350"%}

  <p>网格中竖着的叫 <blue>时间轴</blue> ，它们是同一坐标不同时间连成的轨迹。横着的叫 <blue>空间轴</blue> ，它们是不同地点的同时事件连成的轨迹。每一条空间轴就是一维世界在某个时刻的快照，随着时间流逝，空间轴向上演化，呈现的就是不同时刻的世界的照片。</p>

</div>


{% include header.html param="伽利略变换" %}

<div class="content">

  <p>假设在初始时刻，萌狸站在坐标为 0 的位置，坐标 2 米处有一棵树：</p>

  {% include imglex.html cn="洛伦兹变换" en="lt" num="3.png" wid="350"%}

  <p>然后萌狸开始以 1 米每秒匀速向树奔跑：</p>

  {% include imglex.html cn="洛伦兹变换" en="lt" num="4.png" wid="350"%}

  <p>那么就会在 2 秒的时刻撞到树上：</p>

  {% include imglex.html cn="洛伦兹变换" en="lt" num="5.png" wid="350"%}

  <p>不过这件事在萌狸的参考系来看的话，是整个世界以 1 米每秒匀速向萌狸运动，然后把树拍在了萌狸的脸上：</p>

  {% include imglex.html cn="洛伦兹变换" en="lt" num="6.png" wid="450"%}

  <p>上图中橙色的便是萌狸的参考系，灰色的是静止参考系，把动系画成直角系的图叫作伽利略逆变换（因为是站在动系的角度看静系），把静系画为直角则是伽利略正变换。注意伽利略变换假设了两点之间的 <blue>距离</blue> 是不变的，所以 $x$ 轴的刻度不用变。</p>

  {% include imglex.html cn="洛伦兹变换" en="lt" num="7.png" wid="450"%}

  <p>显然，在伽利略变换下，萌狸看到的任何物体，运动速度都会变成原来的 $v-1$ 米每秒，包括光速：</p>

  {% include imglex.html cn="洛伦兹变换" en="lt" num="8.png" wid="450"%}

  <p>物体的运动在时空图中画出的轨迹称为 <blue>世界线</blue>（world line）。从以上的例子中我们看到，静止的物体的世界线与 $x$ 轴垂直，匀速直线运动物体的世界线为一条斜线，斜率等于物体运动速度的倒数。</p>

</div>


{% include header.html param="洛伦兹变换" %}

<div class="content">

  <p>为了看清洛伦兹变换，我们需要看速度接近光速的东西，所以以下把时间轴和空间轴都变成以光速 $c$ 为单位。因为光子的速度为光速，所以在时空图中的斜率为 1 ：</p>

  {% include imglex.html cn="洛伦兹变换" en="lt" num="9.png" wid="350"%}

  <p>咦？演员呢？</p>

  <p><img src="/faces/wbz.png" alt="捂鼻子" style="width:50px"> 能不能别让人家撞树惹… 鼻纸好疼…</p>

  <p>好啦，我在 1 光秒的位置放了一桶你最爱的豆浆哦～</p>

  {% include imglex.html cn="洛伦兹变换" en="lt" num="10.png" wid="350"%}

  <p>只见萌狸和一束光信号同时出发，萌狸以 0.5 倍光速扑向豆浆，2 秒后便趴在了豆浆桶上。光信号则先后经过了 1 光秒处的豆浆和 2 光秒外的树。</p>

  <p>前面我们讲过时间轴就是等坐标线，那么我们已经画出的萌狸参考系的时间轴，依旧是橙色的箭头。空间轴怎么办呢？如何判断发生在不同地点的两个事件是否同时？</p>

  <p>这里，我们要开始用狭义相对论的第一个假设：不同惯性系中的光速一样，也就是说，代表光子的轨迹的斜率必须总为 1，伽利略变换显然不满足这一点，如图，萌狸看到的光速变成了 $0.5c$ ：</p>

  {% include imglex.html cn="洛伦兹变换" en="lt" num="11.png" wid="350"%}

  <p>有一个办法可以保持光子的斜率为 1，那就是把空间轴也转动相同的角度，这样两边的分量就对称了，相除之后还得 1：</p>

  {% include imglex.html cn="洛伦兹变换" en="lt" num="12.png" wid="350"%}

  <p>从图上我们还看到了，如果在树的位置 1 秒的时刻给出一个信号，萌狸会认为这和他在 0 秒时出发的事件是同时的！不信？既然光速不变，那么我们可以用光信号来判断两个事件是否同时：假设时空经过变换后仍均匀（实际上用到了狭义相对论的第二个假设），那么若两束光在两地中点相遇（同地点的事件可以比较同时性），则说明发光时的事件是同时的。</p>

  {% include imglex.html cn="洛伦兹变换" en="lt" num="13.png" wid="350"%}

  <p>绿点代表着两束光相遇的事件，它在萌狸参考系中的空间分量的确落在了中点哦～</p>

<p><blue>（未完待续）</blue></p>

</div>


<!--
{% include header.html param="间隔" %}

<div class="content">

  <p>我们已经找到了洛伦兹变换后的时间轴和空间轴，不过还没有标刻度，显然如果把时间轴和空间轴缩放相同的倍数，都能够满足光速不变。为了定下刻度，我们需要用到狭义相对论的第二个假设。</p>

  <p>设有两个事件之间空间间隔为 $\Delta l$ ，时间间隔为 $\Delta t$ ，如果两个事件以光信号相联系，则有 $\Delta l=c\Delta t$ ，我们定义 <blue>间隔</blue> ：$s^2=(c\Delta t)^2-(\Delta l)^2$ ，由于信号的速度不能超光速，故 $s^2$ 的正负反映的是“有生之年内”还是“有生之年外”。</p>

  <p>狭义相对论的另一个假设是：物理规律在所有惯性参考系的形式相同。</p>

</div>
 -->



