---
layout: popsci
categories: p151212-lexplain-lorentz-transform-1
title: 狸解洛伦兹变换（一）
---
<blockquote>
<p>我还没想好是发到果壳还是知乎，大家可以在评论区投票…</p>
<p>当然也可以选哪也不发，作为狸站的独家作品 ╮(╯▽╰)╭</p>
</blockquote>
<hr />


{% include header.html param="时空图" %}

<div class="content">

  <p> <blue>时空图</blue> （space-time diagram）是一类功能强大的魔法阵，它让你可以直接在图上完成时空变换，而不必念出咒语（公式）来。</p>

  <p>宏观上，我们的「地球 Online」系统演算于一个一维时间、三维空间的四维时空中，称为 <blue>闵可夫斯基空间</blue> （Minkowski Space）。（以下为了便于在纸面上展示，空间我们只画出一个维度。）魔法阵的画法如下：首先画一个向上的箭头，它代表着时间。然后画一个向右的箭头，它代表着空间位置。（这有点像位移－时间图，而时空图则是翻过来的）</p>

  {% include imglex.html cn="洛伦兹变换" en="lt" num="1.png" wid="350"%}

  <p>然后标上刻度，嗒哒～你的第一个魔法阵便完成啦。</p>

  {% include imglex.html cn="洛伦兹变换" en="lt" num="2.png" wid="350"%}

  <p>魔法阵的使用方法：假设某时某地发生了一个 <blue>事件</blue> （event），我们用时空图中的一个点来表示：</p>

  {% include imglex.html cn="洛伦兹变换" en="lt" num="2.1.png" wid="350"%}

  <p>从事件点出发，引出和坐标轴平行的线，我们就得到这个事件发生的时刻和地点了！这就是魔法阵的神奇之处～</p>

  {% include imglex.html cn="洛伦兹变换" en="lt" num="2.2.png" wid="350"%}

  <p>这一法则称为矢量分解的 <blue>平行四边形法则</blue>，请大家牢记这一原则，后面我们会遇到倾斜的坐标轴，依然是引出和坐标轴平行的线来获得时间和空间坐标。</p>

  <p>这一根时间轴，一根空间轴，实际上定义了一个 <blue>参考系</blue>（reference system）。接下来我们要做时空变换大法，变的就是这两根轴。变化后的轴画在同一张图中，而事件点保持不变。轴的改变导致事件点的分解改变，得出的就是新参考系下的坐标。</p>

  {% include imglex.html cn="洛伦兹变换" en="lt" num="2.3.png" wid="350"%}

  <p>上图举了一个平移变换的例子，即对于同一个事件，选择了不同原点的人看到的事件的坐标不同。</p>

</div>


{% include header.html param="伽利略变换" %}

<div class="content">

  <p>每一条空间轴就是一维世界在某个时刻的快照，随着时间流逝，空间轴向上演化，呈现的就是不同时刻的世界的照片。假设在初始时刻，萌狸站在坐标为 0 的位置，坐标 2 米处有一棵树：</p>

  {% include imglex.html cn="洛伦兹变换" en="lt" num="3.png" wid="350"%}

  <p>然后萌狸开始以 1 米每秒匀速向树奔跑：</p>

  {% include imglex.html cn="洛伦兹变换" en="lt" num="4.png" wid="350"%}

  <p>那么就会在 2 秒的时刻撞到树上：</p>

  {% include imglex.html cn="洛伦兹变换" en="lt" num="5.png" wid="350"%}

  <p>接下来我们在同一张图中画出萌狸的参考系，主要任务是找到时间轴和空间轴。时间轴就是位置坐标等于零的点的轨迹，萌狸在自己的参考系中看自己是不动的，所以他的轨迹就是时间轴。空间轴就是零时刻同时事件的轨迹，在 <blue>伽利略变换</blue> 下并不会发生尺缩之类的效应，所以 $x$ 轴和原来一样，刻度也没有变。</p>
<!-- 平行于时间轴的线代表不同时刻同一位置的事件，平行于空间轴的线代表不同地点同一时刻的事件。 -->

  {% include imglex.html cn="洛伦兹变换" en="lt" num="7.png" wid="450"%}



  <p>另外，萌狸也可以认为自己是静系，是整个世界以 1 米每秒匀速向萌狸运动，然后把树拍在了萌狸的脸上：</p>

  {% include imglex.html cn="洛伦兹变换" en="lt" num="6.png" wid="450"%}

  <p>图中橙色的依然代表萌狸的参考系，灰色的是树参考系，把动系画成直角系的图叫作 <blue>伽利略逆变换</blue>（因为是站在动系的角度看静系）。</p>



  <p>物体的运动在时空图中画出的轨迹称为 <blue>世界线</blue>（world line）。从以上的例子中我们看到，静止的物体的世界线与时间轴平行，匀速直线运动物体的世界线为一条斜线，斜率等于物体运动速度的倒数。</p>

  {% include imglex.html cn="洛伦兹变换" en="lt" num="8.png" wid="450"%}

  <p>在伽利略变换下，萌狸看到的任何物体，运动速度都会变成原来的 $v-1$ 米每秒，包括光速。</p>

  <!-- <p>在远低于光速的情况下，空间轴被压在光子的世界线下面，所以旋转可忽略。</p> -->

</div>


{% include header.html param="洛伦兹变换" %}

<div class="content">

  <p>为了看清洛伦兹变换，我们需要看速度接近光速的东西，所以以下把时间轴和空间轴都画成以光速 $c$ 为单位。因为光子的速度为光速，所以在时空图中的斜率为 1 ：</p>

  {% include imglex.html cn="洛伦兹变换" en="lt" num="9.png" wid="350"%}

  <p>咦？演员呢？</p>

  <p><img src="/faces/wbz.png" alt="捂鼻子" style="width:50px"> 能不能别让人家撞树惹… 鼻纸好疼…</p>

  <p>好啦，我在 1 光秒的位置放了一桶你最爱的豆浆哦～</p>

  {% include imglex.html cn="洛伦兹变换" en="lt" num="10.png" wid="350"%}

  <p>只见萌狸和一束光信号同时出发，萌狸以 0.5 倍光速扑向豆浆，2 秒后趴在了豆浆桶上。光信号则先后经过了 1 光秒处的豆浆和 2 光秒外的树。</p>

  <p>萌狸参考系的时间轴依旧是橙色的箭头，刻度我们稍后再定。空间轴怎么办呢？如何判断发生在不同地点的两个事件是否同时？</p>

  <p>这里，我们要使用狭义相对论的第一个假设：不同惯性系中的光速一样，也就是说，代表光子的轨迹的斜率必须总为 1，伽利略变换显然不满足这一点，如图，萌狸看到的光速变成了 $0.5c$ ：</p>

  {% include imglex.html cn="洛伦兹变换" en="lt" num="11.png" wid="350"%}

  <p>有一个办法可以保持光子的斜率为 1，那就是把空间轴也转动相同的角度，这样两边的分量就对称了，相除之后还得 1：</p>

  {% include imglex.html cn="洛伦兹变换" en="lt" num="12.png" wid="350"%}

  <p>从图中我们还看到，标星星的两个事件分别是在 0 秒和 1 秒发生的，在萌狸看来却是同时发生的。我们得到一个重要推论：对于不同地点发生的事件，「同时」不再是绝对的，而和参考系有关。</p>

  {% include imglex.html cn="洛伦兹变换" en="lt" num="12.1.png" wid="350"%}

  <p>不信？我们可以来做个验证实验。既然光速不变，那么我们可以用光信号来判断两个事件是否同时：假设时空经过变换后仍均匀（实际上用到了狭义相对论的第二个假设），那么若两束光在两地中点相遇（同地点的事件可以比较同时性），则说明发光时的事件是同时的。</p>

  {% include imglex.html cn="洛伦兹变换" en="lt" num="13.png" wid="350"%}

  <p>绿点代表着两束光相遇的事件，向萌狸参考系的空间轴分解求其空间坐标，它的确落在中点～</p>

</div>



