---
layout: index-sp
author: 趣图
title: 物理趣图
---


<div class="body">

{% include header.html param="物理趣图系列" %}

<div class="content">

{% include funpic.html cn="学物理是种怎样的体验" date="2016.04.23" ref="http://www.guokr.com/post/729708/" %}

{% include funpic.html cn="母卫一和母星的近似公倍数回归周期节" date="2016.02.05" ref="http://www.guokr.com/post/718985/" %}

{% include funpic.html cn="战术手势-物理篇" date="2015.06.04" ref="http://www.guokr.com/post/684563/" %}

{% include funpic.html cn="九宫格阵营-光学篇" date="2015.05.14" ref="http://www.guokr.com/post/680853/" %}

{% include funpic.html cn="科研流程图" date="2014.10.23" ref="http://www.guokr.com/post/638164/" %}

{% include funpic.html cn="学物理的秘笈" date="2014.01.31" ref="http://www.guokr.com/post/559630/" %}

{% include funpic.html cn="专业书你为何这么萌" date="2013.12.27" ref="http://www.guokr.com/post/548117/" %}

{% include funpic.html cn="最近在玩俄罗斯方块" date="2013.12.01" ref="http://www.guokr.com/post/535269/" %}

</div>

</div>


<div class="body">

{% include header.html param="物理笑话系列" %}

<div class="content">


<table>

  <tr><td><a href="http://www.guokr.com/post/700465/">一个冷故事…</a></td><td>2015.09.16</td></tr>
  <tr><td><a href="http://www.guokr.com/post/639731/">两电子自旋态好萌啊</a></td><td>2014.10.30</td></tr>
  <tr><td><a href="http://www.guokr.com/post/596804/">我建议老板给实验室买个新显卡…</a></td><td>2014.06.04</td></tr>
  <tr><td><a href="http://www.guokr.com/post/529375/">最近看到一个关于量子力学的笑话…</a></td><td>2013.11.17</td></tr>

</table>


</div>

</div>

