---
layout: index-sp
author: 作者
title: 联系作者
---

<div id="body">

{% include header.html param="关于 LePtC" %}

<div class="content">
<p>名称「LePtC」来源于将姓名的拼音仿为化学式和 LaTeX <a href="http://www.guokr.com/post/562014/">↗</a>，全部小写「leptc」亦可接受～官方读音为「狸 PC」 <a href="http://www.guokr.com/question/562401/">↗</a>，逐字母读亦可接受～其它读法和写法均表示不习惯… </p>
<p>「萌狸」是作者的作品中主角的名字，亦可称呼作者「萌狸君」～</p>
<p>正确的书写 LePtC 的大小写将视为敬体，如果还做上下标的话 $\mathrm{L^{e}P_{t}C}$ 将视为对这个名字的最高礼仪  (๑• . •๑) </p>
</div>

{% include header.html param="社交网站" %}

<div class="content">
  <p><a title="果壳主页" href="http://www.guokr.com/i/1585771774/"><img src="/img/guokr.ico"> 果壳主页</a>：作品的发源地及搬运地</p>
  <p><a title="知乎主页" href="http://www.zhihu.com/people/leptc"><img src="/img/zhihu.ico"> 知乎主页</a>：我就看看，很少说话</p>
  <p><a title="哔哩哔哩" href="http://space.bilibili.com/2654670"><img src="/img/bili.ico"> 哔哩哔哩</a>：我就看看，从未投稿…</p>
  <p><a title="新浪微博" href="http://weibo.com/u/1045122993"><img src="/img/weibo.ico"> 新浪微博</a>：只看提到我的，绝不说话</p>
  <p><a title="译言" href="http://user.yeeyan.org/u/485697"><img src="/img/yeeyan.ico"> 译言主页</a>：专程去看<a href="http://user.yeeyan.org/u/235419">猪的米</a>的</p>
  <p><a title="physics StackExchange" href="http://physics.stackexchange.com/users/41092/leptc"><img src="/img/pse.ico"> Physics StackExchange</a>：问专业的问题</p>
  <p><a title="Github" href="https://github.com/LePtC"><img src="/img/github.ico"> Github</a>：章鱼喵已经是个离不开的工具啦～</p>
</div>

{% include header.html param="联系作者" %}

<div class="content">
  <p><a href="mailto:alileptc@gmail.com">alileptc@gmail.com</a></p>
  <p>以上联系方式均不一定会及时回复… 因此本页的评论框同样可用于联系作者 ↓</p>
</div>


</div>


<div id="discuss">
  <div class="fold">
  <div class="fold-head" onclick="isHidden('discu')">
    此评论框仅用于联系作者
  </div>
  <div class="fold-cont" id="discu" style="display:none">
    <!-- 多说评论框 start -->
      <div class="ds-thread" data-thread-key="contact" data-title="contact" data-url="http://leptc.github.io/contact.html"></div>
    <!-- 多说评论框 end -->
  </div>
  </div>
</div>
