---
layout: default
author: 主页
title: LePtC
---

<link rel="stylesheet" type="text/css" href="/css/homepage2col.css">
<link rel="stylesheet" type="text/css" href="/css/calendar.css">
<link rel="stylesheet" type="text/css" href="/css/timeline.css">

<div>
<a id="logo-img"><img src="/img/16A.jpg" class="sky" style="z-index:-4"></a>
</div>


<div id="nav">

{% include top.html %}


<table class="calendar">
  <tr style="font-size:0.9em">
    <td style="padding:0" class="lastday">&nbsp;&nbsp;&nbsp;</td>
    <td style="padding:0;color:#DDD;background:none;">：最后更新，</td>
    <td style="padding:0" class="today">&nbsp;&nbsp;&nbsp;</td>
    <td style="padding:0;color:#DDD;background:none;">：今天</td>
  </tr>
</table>

<table id="calendar" class="calendar" align="center">
<tr>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td>一</td>
  <td>2</td>
  <td>3</td>
</tr>
<tr>
  <td>4</td>
  <td>5</td>
  <td>6</td>
  <td>7</td>
  <td>8</td>
  <td>9</td>
  <td>10</td>
</tr>
<tr>
  <td>11</td>
  <td>12</td>
  <td><a href="#01.13">13</a></td>
  <td>14</td>
  <td>15</td>
  <td>16</td>
  <td>17</td>
</tr>
<tr>
  <td>18</td>
  <td>19</td>
  <td><a href="#01.20">站</a></td>
  <td>21</td>
  <td>22</td>
  <td>23</td>
  <td>24</td>
</tr>
<tr>
  <td>25</td>
  <td><a href="#01.26">站</a></td>
  <td>27</td>
  <td><a href="#01.28">28</a></td>
  <td>29</td>
  <td>30</td>
  <td>31</td>
</tr>
<tr>
  <td>二</td>
  <td>2</td>
  <td>3</td>
  <td><a href="#02.04">4</a></td>
  <td>5</td>
  <td><a href="#02.06">帖</a></td>
  <td>7</td>
</tr>
<tr>
  <td>8</td>
  <td>9</td>
  <td><a href="#02.10">站</a></td>
  <td>11</td>
  <td><a href="#02.12">站</a></td>
  <td>13</td>
  <td>14</td>
</tr>
<tr>
  <td>15</td>
  <td>16</td>
  <td>17</td>
  <td><a href="#02.18">图</a></td>
  <td>19</td>
  <td>20</td>
  <td>21</td>
</tr>
<tr>
  <td>22</td>
  <td>23</td>
  <td>24</td>
  <td>25</td>
  <td>26</td>
  <td>27</td>
  <td>28</td>
</tr>
<tr>
  <td>29</td>
  <td>三</td>
  <td>2</td>
  <td>3</td>
  <td>4</td>
  <td>5</td>
  <td>6</td>
</tr>
<tr>
  <td>7</td>
  <td>8</td>
  <td>9</td>
  <td>10</td>
  <td>11</td>
  <td>12</td>
  <td>13</td>
</tr>
<tr>
  <td>14</td>
  <td>15</td>
  <td>16</td>
  <td>17</td>
  <td>18</td>
  <td>19</td>
  <td>20</td>
</tr>
<tr>
  <td>21</td>
  <td>22</td>
  <td>23</td>
  <td>24</td>
  <td>25</td>
  <td>26</td>
  <td>27</td>
</tr>
<tr>
  <td>28</td>
  <td>29</td>
  <td>30</td>
  <td>31</td>
  <td>四</td>
  <td>2</td>
  <td>3</td>
</tr>
<tr>
  <td><a href="#04.04">笔</a></td>
  <td>5</td>
  <td>6</td>
  <td>7</td>
  <td><a href="#04.08">8</a></td>
  <td>9</td>
  <td>10</td>
</tr>
<tr>
  <td>11</td>
  <td><a href="#04.12">答</a></td>
  <td>13</td>
  <td>14</td>
  <td>15</td>
  <td>16</td>
  <td>17</td>
</tr>
<tr>
  <td>18</td>
  <td>19</td>
  <td>20</td>
  <td><a href="#04.21">笔</a></td>
  <td>22</td>
  <td><a href="#04.23">图</a></td>
  <td>24</td>
</tr>
<tr>
  <td>25</td>
  <td>26</td>
  <td>27</td>
  <td>28</td>
  <td>29</td>
  <td>30</td>
  <td>五</td>
</tr>
<tr>
  <td>2</td>
  <td>3</td>
  <td>4</td>
  <td>5</td>
  <td><a href="#05.06">站</a></td>
  <td>7</td>
  <td>8</td>
</tr>
<tr>
  <td>9</td>
  <td><a href="#05.10">游</a></td>
  <td>11</td>
  <td>12</td>
  <td>13</td>
  <td>14</td>
  <td><a href="#05.15">哔</a></td>
</tr>
<tr>
  <td>16</td>
  <td>17</td>
  <td>18</td>
  <td>19</td>
  <td>20</td>
  <td>21</td>
  <td><a href="#05.22">科</a></td>
</tr>
<tr>
  <td><a href="#05.23">图</a></td>
  <td>24</td>
  <td>25</td>
  <td>26</td>
  <td>27</td>
  <td>28</td>
  <td><a href="#05.29">哔</a></td>
</tr>
<tr>
  <td>30</td>
  <td>31</td>
  <td>六</td>
  <td>2</td>
  <td>3</td>
  <td>4</td>
  <td><a href="#06.05">5</a></td>
</tr>
<tr>
  <td>6</td>
  <td>7</td>
  <td>8</td>
  <td><a href="#06.09">哔</a></td>
  <td>10</td>
  <td>11</td>
  <td><a href="#06.12">答</a></td>
</tr>
<tr>
  <td>13</td>
  <td>14</td>
  <td>15</td>
  <td>16</td>
  <td><a href="#06.17">图</a></td>
  <td>18</td>
  <td>19</td>
</tr>
<tr>
  <td>20</td>
  <td>21</td>
  <td>22</td>
  <td class="lastday">23</td>
  <td>24</td>
  <td>25</td>
  <td>26</td>
</tr>
<tr>
  <td>27</td>
  <td>28</td>
  <td>29</td>
  <td>30</td>
  <td>七</td>
  <td>2</td>
  <td>3</td>
</tr>
<tr>
  <td>4</td>
  <td>5</td>
  <td>6</td>
  <td>7</td>
  <td>8</td>
  <td>9</td>
  <td>10</td>
</tr>
</table>

<script language="javascript" type="text/javascript">
  var Calendar = new Date(); // Calendar.getFullYear() Returns year
  var mon = Calendar.getMonth(); //  Returns month (0-11)
  var first = 5;
  if(mon>0){first+=31;}
  if(mon>1){first+=29;}
  if(mon>2){first+=31;}
  if(mon>3){first+=30;}
  if(mon>4){first+=31;}
  var j = Calendar.getDay(); // Returns weekday (0-6)
  if(j==0){j=7;}
  var i = (first + Calendar.getDate() -1 -j) / 7 // Returns day (1-31)
  var calenId = document.getElementById("calendar");
  calenId.rows[i].cells[j-1].className = "today";
</script>

<!--
<div class="icon">
  <a title="联系作者" href="/author.html"><img src="css/author.png" alt="作者"></a>
  <a title="问卷调查" href="posts/questionnaire.html"><img src="css/question.png" alt="问卷"></a>
  <a title="最近评论" href="/comment.html"><img src="css/comment.png" alt="评论"></a>
  <a title="历史动态" href="/history.html"><img src="css/history.png" alt="历史"></a>
</div>
 -->

</div>


<div id="section">


<div class="body">
{% include header.html param="置顶" %}

<div class="content">

<div class="active">
<ul>
  <li><a href="posts/ask.html">提问与反馈</a> (2015.09)</li>
  <li><a href="posts/questionnaire.html">问卷调查</a> (2015.05)</li>
  <li><a href="/author.html">联系作者</a> (2015.03)</li>
</ul>
</div>

</div>
</div>



<div class="body">
{% include header.html param="历史作品集" %}

<div class="content">

    <!-- <td><a href="http://www.guokr.com/blog/793041/">问答</a> (768)</td> -->

<table class="timetable" align="center">
  <tr>
    <td></td>
    <td class="bottom"></td>
    <td class="bottom"></td>
    <td class="bottom"></td>
    <td class="bottom">娱乐性</td>
  </tr>
  <tr>
    <td class="right"></td>
    <td></td>
    <td></td>
    <td><a href="funpic/">物理笑话</a> (4)</td>
    <td><a href="project/">游戏</a> (3)</td>
  </tr>
  <tr>
    <td class="right"></td>
    <td></td>
    <td></td>
    <td><a href="funpic/">物理漫画</a> (9)</td>
    <td style="color:rgba(221, 221, 221, 0.4)">科幻 (0)</td>
  </tr>
  <tr>
    <td class="right">干</td>
    <td></td>
    <td></td>
    <td><a href="archiv/funque.html">问答帖</a> (17)</td>
    <td><a href="notsci/">what-if</a> (53)</td>
  </tr>
  <tr>
    <td class="right">货</td>
    <td></td>
    <td><a href="popsci/">看不懂</a> (305)</td>
    <td><a href="http://www.guokr.com/i/1585771774/articles/">科学人</a> (6)</td>
    <td></td>
  </tr>
  <tr>
    <td class="right">性</td>
    <td></td>
    <td><a href="lenote/">狸笔记</a> (17)</td>
    <td><a href="posts/lexplain.html">如何狸解</a> (2)</td>
    <td></td>
  </tr>
</table>


</div>
</div>



<div class="body">
{% include header.html param="2016A 动态" %}

<div class="content">

<table class="timeline">
  <tr class="com"><td><a name="07.??">07.??</a></td>
    <td class="left"><a href="probesim/">探机模拟器</a> 故事模式开始上线（第 0 集：教学关 <img src="img/xcry.png" alt="[笑 cry]">）</td>
  </tr>
  <tr class="com"><td><a name="06.??">06.??</a></td>
    <td class="left">狸笔记 经典光学 （实力跳票 →_→）</td>
  </tr>
  <tr class="com"><td><a name="06.??">06.??</a></td>
    <td class="left">果壳评论音轨 在下坂本</td>
  </tr>
  <tr><td><a name="06.17">06.17</a></td>
    <td class="left">画了一个并没有什么卵用的探机模拟器封面（← 不快点写代码画画倒挺积极 o(#￣▽￣)==O))￣O￣") ）</td>
  </tr>
  <tr><td><a name="06.12">06.12</a></td>
    <td class="left"> 怎样跟外星人解释左和右的概念？ ↗
    <a href="https://www.zhihu.com/question/21433839/answer/105617168">知</a></td>
  </tr>
  <tr><td><a name="06.09">06.09</a></td>
    <td class="left">投稿 <a href="http://www.bilibili.com/video/av4918707/"> 【Mathematica】当那些熟悉的音乐降调之后会怎样 </a> 视频</td>
  </tr>
  <tr class="com"><td><a name="06.05">06.05</a></td>
    <td class="left">预计将休更两周，之后冒篇光学的狸笔记后又休更两周，下次有作品得等七月份了</td>
  </tr>
  <tr><td><a name="05.29">05.29</a></td>
    <td class="left">投稿 <a href="http://www.bilibili.com/video/av4809184/">【Mathematica】2012～2020 年的日食月食凌日冲日演示动画 </a> 视频</td>
  </tr>
  <tr><td><a name="05.23">05.23</a></td>
    <td class="left">【一图流】大气中的散射现象合集 ↗
    <a href="http://www.guokr.com/post/734334/">壳</a></td>
  </tr>
  <tr><td><a name="05.22">05.22</a></td>
    <td class="left"><a href="popsci/p160521/">酷炫动图：高考物理篇</a>（果壳将在高考前发，上狸站的小伙伴就有先睹为快的福利啦～） ↗
    <a href="http://www.guokr.com/article/441476/">壳</a></td>
  </tr>
  <tr><td><a name="05.15">05.15</a></td>
    <td class="left">投稿 <a href="http://www.bilibili.com/video/av4666841/">【探机模拟器】开发日记.week01</a> 视频 ↗
    <a href="http://www.guokr.com/post/733019/">壳</a></td>
  </tr>
  <tr><td><a name="05.10">05.10</a></td>
    <td class="left">开始开发一个叫作 <a href="https://github.com/LePtC/ProbeSim/blob/master/log.md">Probe 模拟器</a> 的 Javascript 游戏 <img src="img/xcry.png" alt="[笑 cry]">，临时的在线试玩 <a href="probesim/">地址</a></td>
  </tr>
  <tr><td><a name="05.06">05.06</a></td>
    <td class="left">在首页加入历史作品索引及未来计划版块</td>
  </tr>
  <tr><td><a name="04.23">04.23</a></td>
    <td class="left">【漫画】学物理是种怎样的体验？ ↗
    <a href="http://www.guokr.com/post/729708/">壳</a></td>
  </tr>
  <tr><td><a name="04.21">04.21</a></td>
    <td class="left"><a href="lenote/">狸笔记</a> <a href="lenote/Math/a/a-m.html">矩阵分析</a> 第一版 发布</td>
  </tr>
  <tr><td><a name="04.12">04.12</a></td>
    <td class="left">【 What-if 】聚月光能否点火？ ↗
    <a href="http://www.guokr.com/post/728006/">壳</a>
    <a href="https://www.zhihu.com/question/40403436/answer/94948184">知</a></td>
  </tr>
  <tr class="com"><td><a name="04.08">04.08</a></td>
    <td class="left">线代上一版本有几张三维矢量图把 pdf 弄得又大又卡，本版已修复</td>
  </tr>
  <tr><td><a name="04.04">04.04</a></td>
    <td class="left"><a href="lenote/">狸笔记</a> <a href="lenote/Math/a/a-l.html">线性代数</a> 第二版 发布</td>
  </tr>
  <tr class="com"><td><a name="04.04">04.04</a></td>
    <td class="left">一开学就投入科研了，没注意竟有一个月没更新狸站天啦噜 ╮(╯▽╰)╭ 其实笔记一直都在做，总觉得还不够圆满就想拖拖再发…</td>
  </tr>
  <tr><td><a name="02.18">02.18</a></td>
    <td class="left">新 2016A 封面「引狸波」</td>
  </tr>
  <tr><td><a name="02.12">02.12</a></td>
    <td class="left">MathJax 改装为离线版（无法应用于评论区依然没解决…）<!-- ，主页使用动态背景（CPU 高占用依然没解决…） --></td>
  </tr>
  <tr><td><a name="02.10">02.10</a></td>
    <td class="left">新版 <a href="lenote/">狸笔记主页</a> 也采用双栏版式</td>
  </tr>
  <tr><td><a name="02.06">02.06</a></td>
    <td class="left">低产了一年的萌狸君祝大家母卫一和母星的近似公倍数回归周期节快乐 ↗
    <a href="http://www.guokr.com/post/718985/">壳</a>
    <a href="https://www.zhihu.com/question/39056993/answer/85058276">知</a></td>
  </tr>
  <tr><td><a name="02.04">02.04</a></td>
    <td class="left">狸站新双栏主页开发，javascript 日历开发</td>
  </tr>
  <tr class="com"><td><a name="01.28">01.28</a></td>
    <td class="left">修改完最后一篇论文，休更期结束</td>
  </tr>
  <tr><td><a name="01.26">01.26</a></td>
    <td class="left">狸站 2016 新 logo</td>
  </tr>
  <tr><td><a name="01.20">01.20</a></td>
    <td class="left">狸站 2016 新图标</td>
  </tr>
  <tr class="com"><td><a name="01.13">01.13</a></td>
    <td class="left">final 之后仍然很忙，厚着脸皮把休更期充值到二月份</td>
  </tr>
</table>

<p style="text-align:right">
  <a href="/history.html">历史动态</a>
</p>

</div>
</div>



<div class="body">
{% include header.html param="未来计划" %}

<div class="content">


<table class="timeline">
  <tr><td><a>萌狸笔记</a></td>
    <td class="left">一直在填，先以较快速度<invi>（← 一个月一更也™叫较快）</invi>填完本科 level 的，然后慢悠悠填研究生 level 的<invi>（因为是个无底洞…）</invi></td>
  </tr>
  <tr><td><a>萌狸科幻</a></td>
    <td class="left">一直在填，速度极慢<invi>（灵感可遇不可求…）</invi>，绝不弃坑…</td>
  </tr>
  <tr><td><a>萌狸百科</a></td>
    <td class="left">跟随科幻作品的进度不定期发布</td>
  </tr>
  <tr><td><a>脑洞系列</a></td>
    <td class="left">坑着，也许退休后会复更…<invi>（看，爷爷小时候最喜欢的 UP 主终于更了…）</invi></td>
  </tr>
  <tr><td><a>科普系列</a></td>
    <td class="left">还没想好什么形式，做过几种尝试都不满意<invi>（← 想既低成本又高收益的贪心狸）</invi></td>
  </tr>
  <tr><td><a>项目开发</a></td>
    <td class="left">狸站和 LeNote 本身也是需要投入精力的代码开发项目，另外准备重拾 Javascript 游戏的开发</td>
  </tr>
</table>



</div>
</div>



<div class="body">
{% include header.html param="最新评论" %}

<div class="content">
<!-- 多说最新评论 start -->
  <div class="ds-recent-comments" data-num-items="5" data-show-avatars="0" data-show-time="1" data-show-title="1" data-show-admin="1" data-excerpt-length="50"></div>
<!-- 多说最新评论 end -->

<p style="text-align:right">
  <a href="/comment.html">查看更多</a>
</p>

</div>

</div>



</div>


