---
layout: popsci
categories: p151217-lexplain-lorentz-transform-2
title: 狸解洛伦兹变换（二）
---


{% include header.html param="间隔" %}

<div class="content">

  <p>设有两个事件之间空间间隔为 $\Delta l$ ，时间间隔为 $\Delta t$ ，如果两个事件以光信号相联系，则有 $\Delta l=c\Delta t$ ，我们定义 <blue>间隔</blue> ：$s^2=(c\Delta t)^2-(\Delta l)^2$ ，由于信号的速度不能超光速，故 $s^2$ 的正负反映的是“有生之年内”还是“有生之年外”。</p>

  <p>我们已经找到了洛伦兹变换后的时间轴和空间轴，不过还没有标刻度。显然，如果我们把时间轴和空间轴缩放相同的倍数，依然能满足光速不变。为了定下刻度，我们需要引入狭义相对论的第二个假设。</p>

  <p>（本段咒语要求读者掌握力学魔法才能解读，不懂可跳过）如果我们对时空做等比例变换，由于速度等于空间变化除以时间变化，故速度不变，从而动能不变。狭义相对论第二个假设是，物理规律在所有惯性系形式相同，那起码运动方程不能变吧。大声告诉我，运动方程是由什么推出来的？拉~氏~量~ 当然哈矢量亦可，它们都是既包含动能项，又包含势能项的。对于势能只是空间的函数，形式就会变，导出的运动方程就不一样了。</p>

  <p>所以结论就是比例系数为 1 ，间隔不变。</p>

  [画得粗粗的这个表示刻度 1]
  {% include imglex.html cn="洛伦兹变换" en="lt" num="12.png" wid="350"%}


  <p>实际上物理学家魔法师们还为这个打架，东海岸教定义为空间减时间</p>

</div>

{% include header.html param="类时线" %}

<div class="content">

  <p>类时线，代表固有时间的流逝</p>

（到广义相对论，表述中的直线需改为测底线，这里我们用不到）

</div>


{% include header.html param="孪生子佯谬" %}

<div class="content">

  <p>如果你理解了上述时空图大法的工作原理，那么恭喜你，接下来你将能够直接在图上解除困扰了一大票人的孪生子魔咒。（虽然这个问题涉及非惯性系，但真的不需要广义相对术，狭义就能搞定哦）

  <p>萌狸和叶紫同年出生，假设萌狸坐上了亚光速飞船，而叶紫留在狸星，就这样旅行了若干年，某天突然跳出一个小白（… 兔）问了这么一个问题：</p>

  <p>（他们俩谁更年轻？）</p>

  <p>我并不禁止你问这个问题，不过请你告诉我，你想比较“哪个时刻”的萌狸和“哪个时刻”的叶紫谁更年轻？</p>

  <p>（废话，当然是同一时刻的了。）</p>

  <p>你瞧，这就是问题所在了，在不同参考系的眼里，“同时”是不一样的。</p>

  <p>在叶紫眼里，A 点和 B 点是同时事件，注意粗粗的地方是双方各自的时间刻度 1，因此萌狸年轻。</p>

  <p>在萌狸眼里，A' 点和 B' 点是同时事件，因此叶紫年轻。</p>

  <p>（我不服！让他们飞到同一地点比较！）</p>

  <p>方案一：萌狸返回狸星，由于两点之间直线最长，故叶紫经历的固有时更长，萌狸更年轻。</p>

  <p>方案二：叶紫追上萌狸，同样由于两点之间直线最长，故叶紫更年轻。</p>

  <p>担心不同参考系看到的结果不同？不会的哦，洛伦兹变换是线性变换，翻译成人话就是，直线变换后还是直线，曲线还是曲线，结论是绝对的。</p>

</div>





