---
layout: lenote
categories: Lang/En
title: 英语法
---

{% include lefile.html col="g" ca="Lang" en="Eng" size="1.11" date="2012.08.04" status="一周目完" %}

{% include lefile.html col="g" ca="Lang" en="英语语法" size="2.36" date="2010.06.06" status="一周目完" %}


<div class="fold">
  <div class="fold-head" onclick="isHidden('div1')">
    英语笔记目录
  </div>
  <div class="fold-cont" id="div1">
  <ol>
    <li>花体</li>
    <li>国际音标</li>
    <li>常用拉丁语</li>
  </ol>
  </div>
</div>

<div class="fold">
  <div class="fold-head" onclick="isHidden('div2')">
    英语参考书
  </div>
  <div class="fold-cont" id="div2">
  <h3>词典：</h3>
  <ol>
    <li>牛津高阶英汉双解词典（第八版）. 商务印书馆</li>
  </ol>
  <h3>电子词典：</h3>
  <ol>
    <li>有道</li>
  </ol>
  <h3>教材：</h3>
  <ol>
    <li>New Concept English. 外语教学与研究出版社</li>
  </ol>
  </div>
</div>

