---
layout: index
author: 看不懂系列
title: 主页
---
{% include header.html param="第二季作品目录" %}

<div class="content">

<p><h3>一图流：</h3></p>

<table>
<tr>
  <th>分类</th>
  <th>标题</th>
  <th>状态</th>
</tr>

<tr>
  <td>s2p5</td>
  <td><a href="s2p5/">战术手势-物理篇</a>
  <a href="http://www.guokr.com/post/684563/">↗</a></td>
  <td>
    已发布（2015.06.04）
  </td>
</tr>
<tr>
  <td>s2p3</td>
  <td><a href="s2p3/">九宫格阵营-光学篇</a>
  <a href="http://www.guokr.com/post/680853/">↗</a></td>
  <td>
    已发布（2015.05.14）
  </td>
</tr>
</table>

<p><h3>长文：</h3></p>

<table>
<tr>
  <th>分类</th>
  <th>标题</th>
  <th>状态</th>
</tr>

<tr>
  <td>s2p4</td>
  <td><a href="s2p4/">关于物理学的几点思考</a></td>
  <td>
    已发布（2015.05.19）
  </td>
</tr>
<tr>
  <td>s2p1</td>
  <td><a href="s2p1/">酷炫动图：物理篇（未编辑卖萌版）</a>
  <a href="http://www.guokr.com/article/440051/">↗</a></td>
  <td>
    已发布（2015.03.17）
  </td>
</tr>
</table>


<p><h3>量子力学科普系列：</h3></p>

<table>
  <tr>
    <th>分类</th>
    <th>标题</th>
    <th>状态</th>
  </tr>
<tr>
  <td>s2p2</td>
  <td><a href="s2p2/">薛定谔的猫问题</a>
  <a href="http://www.guokr.com/answer/551852/">↗</a></td>
  <td>
    未配图（2015.04.27）
  </td>
</tr>
  <tr style="display:none"><td>[8]</td><td><a href="http://www.guokr.com/question/496532/"> 相对于某观察者，他未观察到的结果相对于他都是处于叠加态吗？</a></td><td></td></tr>
  <tr style="display:none"><td>[8]</td><td><a href="http://www.guokr.com/question/559800/"> 薛定谔的猫是用来质疑量子力学的，但量子力学不是只适用于微观的</a></td><td></td></tr>

  <tr><td>s2p0</td><td>电子可以相对原子核静止不动嘛？<a href="http://www.guokr.com/question/541776/">↗</a></td><td></td></tr>
  <tr><td>s1p5</td><td>Feynman 传播子的物理意义是什么？<a href="http://www.guokr.com/question/545520/">↗</a></td><td></td></tr>
  <tr><td>s1p4</td><td>量子纠缠是如何被观测到的？<a href="http://www.guokr.com/question/580811/">↗</a></td><td></td></tr>
  <tr><td>s1p3</td><td>什么是量子纠缠？<a href="http://www.guokr.com/question/499811/">↗</a></td><td></td></tr>
  <tr><td>s1p2</td><td>原子自旋方向可以同时指向不止一个方向，谁能解释一下怎样理解？<a href="http://www.guokr.com/question/574969/">↗</a></td><td></td></tr>
<tr>
  <td>s2p6</td>
  <td>电子自旋的民科狸解
  <a href="http://www.zhihu.com/question/26677689/answer/50619590">↗</a></td>
  <td>
    已发布（2015.06.09）
  </td>
</tr>
  <tr><td>s1p1</td><td>粒子的自旋是什么意思？<a href="http://www.guokr.com/question/570006/">↗</a></td><td></td></tr>
  <tr style="display:none"><td>[52]</td><td><a href="http://www.guokr.com/question/173908/"> 原子特征光谱是核外电子的跃迁发光？那么连续光谱是怎么发生的呢</a></td><td></td></tr>
  <tr style="display:none"><td>[30]</td><td><a href="http://www.guokr.com/question/497818/"> 学习量子力学需要什么样的数学和物理基础？</a></td><td></td></tr>
  <tr style="display:none"><td>[12]</td><td><a href="http://www.guokr.com/question/535238/"> 没有广义相对论就没有GPS，那么没有量子物理有哪些生活中的技</a></td><td></td></tr>
  <tr><td>[12]</td><td><a href="http://www.guokr.com/question/493888/"> 电子在不同能级之间跃迁的时间有多长？</a></td><td></td></tr>
  <tr style="display:none"><td>[12]</td><td><a href="http://www.guokr.com/question/557029/"> 如果观察一个很遥远的粒子，那么它的波函数是不是需要很长的时间</a></td><td></td></tr>
  <tr style="display:none"><td>[10]</td><td><a href="http://www.guokr.com/question/506890/"> 对不确定性原理有一个疑问。</a></td><td></td></tr>
  <tr style="display:none"><td>[8]</td><td><a href="http://www.guokr.com/question/489794/"> 什么是点粒子和薜定谔波？为什么电子可以与自已干涉，电子难道是</a></td><td></td></tr>
  <tr><td>[8]</td><td><a href="http://www.guokr.com/question/575888/"> 为什么原子中的电子与原子核是分离的？</a></td><td></td></tr>
</table>


</div>

{% include header.html param="第一季作品目录" %}

<div class="content">


<p><h3>学物理的那些好玩的事：</h3></p>

<table>
  <tr>
    <th>分类</th>
    <th>原问答</th>
    <th>状态</th>
  </tr>
  <tr><td>[]</td><td><a href="http://www.guokr.com/blog/480784/"> 【总结】以高斯命名的数学和物理概念</a></td><td></td></tr>
  <tr><td>[127]</td><td><a href="http://www.guokr.com/question/565900/"> 有哪些在你的认知圈子里是理所当然，在大众看来却是匪夷所思的事</a></td><td></td></tr>
  <tr><td>[97]</td><td><a href="http://www.guokr.com/question/547594/"> 用你的专业设计2048游戏的话，可以有哪些元素？</a></td><td></td></tr>
  <tr><td>[70]</td><td><a href="http://www.guokr.com/question/525903/"> 你的专业里有哪些让人头疼的符号？</a></td><td></td></tr>
  <tr><td>[53]</td><td><a href="http://www.guokr.com/question/547555/"> 如何用数学符号设计一套颜文字？</a></td><td></td></tr>
  <tr><td>[51]</td><td><a href="http://www.guokr.com/question/537592/"> 你见过的最霸气的数学证明是啥样的？</a></td><td></td></tr>
  <tr><td>[42]</td><td><a href="http://www.guokr.com/question/543890/"> 怎样用你的专业约架/比试本领？</a></td><td></td></tr>
  <tr><td>[37]</td><td><a href="http://www.guokr.com/question/569638/"> 你的专长或兴趣影响了你看待哪些事物的视角或方式？</a></td><td></td></tr>
  <tr><td>[36]</td><td><a href="http://www.guokr.com/question/492555/"> 在你的专业领域中，你觉得别人很难懂得的词汇或概念是什么？</a></td><td></td></tr>
  <tr><td>[27]</td><td><a href="http://www.guokr.com/question/502744/"> 你觉得最经典的物理定理\数学公式\化学方程是什么？</a></td><td></td></tr>
  <tr><td>[12]</td><td><a href="http://www.guokr.com/question/537338/"> 你们做过最学霸的事是什么？？（最好是比较励志的经历、、）</a></td><td></td></tr>
  <tr><td>[7]</td><td><a href="http://www.guokr.com/question/526811/"> 你的专业里最容易挂科的是哪一门课？</a></td><td></td></tr>
</table>

<p><h3>核，粒子，高能物理科普系列：</h3></p>

<table>
  <tr>
    <th>分类</th>
    <th>原问答</th>
    <th>状态</th>
  </tr>
  <tr><td>[]</td><td><a href="http://www.guokr.com/blog/743525/"> 【日记】第一次做加速器上的实验~</a></td><td></td></tr>
  <tr><td>[133]</td><td><a href="http://www.guokr.com/question/517349/"> 凑个嫦娥3号的热闹。为什么嫦娥三号不采用核电池？</a></td><td></td></tr>
  <tr><td>[116]</td><td><a href="http://www.guokr.com/question/533064/"> 为什么铁元素的平均核子质量最小？或者说为什么会出现一个极小值</a></td><td></td></tr>
  <tr><td>[102]</td><td><a href="http://www.guokr.com/question/547603/"> 希格斯玻色子的发现中提到的“XX个标准差内为真”的研究方法是</a></td><td></td></tr>
  <tr><td>[95]</td><td><a href="http://www.guokr.com/question/498651/"> 如果一个人跑过一根 用每个几乎原子那么大的材料连接成的一根线</a></td><td></td></tr>
  <tr><td>[94]</td><td><a href="http://www.guokr.com/question/545338/"> 电子是不是比夸克小？</a></td><td></td></tr>
  <tr><td>[86]</td><td><a href="http://www.guokr.com/question/543300/"> 发现顶夸克的形成过程有哪些实际意义？</a></td><td></td></tr>
  <tr><td>[68]</td><td><a href="http://www.guokr.com/question/539698/"> 超弦理论里提到的“粒子是弦的不同的振动模式”，我想问这里提到</a></td><td></td></tr>
  <tr><td>[65]</td><td><a href="http://www.guokr.com/question/545354/"> 光子是如何传递电磁力的？</a></td><td></td></tr>
  <tr><td>[61]</td><td><a href="http://www.guokr.com/question/510841/"> 《生活大爆炸》第7季第6集里，Sheldon在白板上写</a></td><td></td></tr>
  <tr><td>[60]</td><td><a href="http://www.guokr.com/question/539238/"> 电子和中子简并压力的本质是哪种相互作用呢？</a></td><td></td></tr>
  <tr><td>[60]</td><td><a href="http://www.guokr.com/question/572256/"> 如果把一团物质加速到光速，那么这团物质的温度会有怎样的变化呢</a></td><td></td></tr>
  <tr><td>[58]</td><td><a href="http://www.guokr.com/question/350695/"> 所有物质的本质都是场，而场的基态是真空。这句话正确吗？</a></td><td></td></tr>
  <tr><td>[56]</td><td><a href="http://www.guokr.com/question/580502/"> 洛克希德马丁公司宣布突破小型反应堆技术，这是什么技术？</a></td><td></td></tr>
  <tr><td>[53]</td><td><a href="http://www.guokr.com/question/539982/"> 加瑞特·里斯用e8来统一四种基本相互作用力?</a></td><td></td></tr>
  <tr><td>[52]</td><td><a href="http://www.guokr.com/question/542573/"> 弱相互作用是怎么回事？</a></td><td></td></tr>
  <tr><td>[52]</td><td><a href="http://www.guokr.com/question/556427/"> 契伦科夫辐射是怎么一回事？</a></td><td></td></tr>
  <tr><td>[51]</td><td><a href="http://www.guokr.com/question/546670/"> 那么电子自旋取向要如何改变呢？</a></td><td></td></tr>
  <tr><td>[45]</td><td><a href="http://www.guokr.com/question/541220/"> 如何确定中微子是来自哪个方向的？</a></td><td></td></tr>
  <tr><td>[43]</td><td><a href="http://www.guokr.com/question/304060/"> 实粒子周围为什么包围有虚粒子？</a></td><td></td></tr>
  <tr><td>[42]</td><td><a href="http://www.guokr.com/question/502391/"> 地球都存在这么多年了，为什么还有放射性元素呢？</a></td><td></td></tr>
  <tr style="display:none"><td>[41]</td><td><a href="http://www.guokr.com/question/542218/"> 为什么物理学家们常干一些类似LHC这样很惊人的事情，而其他学</a></td><td></td></tr>
  <tr><td>[35]</td><td><a href="http://www.guokr.com/question/572323/"> 物理中的粒子的“味”是什么？</a></td><td></td></tr>
  <tr><td>[34]</td><td><a href="http://www.guokr.com/question/581465/"> 一个质子和一个电子可以被摁在一起么？会产生什么现象？</a></td><td></td></tr>
  <tr><td>[32]</td><td><a href="http://www.guokr.com/question/546187/"> 电磁波和光是什么关系？</a></td><td></td></tr>
  <tr><td>[31]</td><td><a href="http://www.guokr.com/question/553635/"> 恒星版的2048科学吗？</a></td><td></td></tr>
  <tr><td>[23]</td><td><a href="http://www.guokr.com/question/569853/"> 电子偶素是什么，其能级公式又是如何的？</a></td><td></td></tr>
  <tr><td>[23]</td><td><a href="http://www.guokr.com/question/572543/"> 真空能量是否可以利用？</a></td><td></td></tr>
  <tr><td>[20]</td><td><a href="http://www.guokr.com/question/541222/"> 高能粒子加速器危险么？</a></td><td></td></tr>
  <tr><td>[18]</td><td><a href="http://www.guokr.com/question/559012/"> 粒子的静质量怎样在实验中体现？</a></td><td></td></tr>
  <tr><td>[16]</td><td><a href="http://www.guokr.com/question/488728/"> 在氢原子中电子跃级中需要多少能量?</a></td><td></td></tr>
  <tr><td>[16]</td><td><a href="http://www.guokr.com/question/565154/"> 当物理学越向基本发展是不是应该越简单？</a></td><td></td></tr>
  <tr><td>[15]</td><td><a href="http://www.guokr.com/question/559469/"> 什么物质（固态，透光最好）可以反射高温中子？</a></td><td></td></tr>
  <tr><td>[14]</td><td><a href="http://www.guokr.com/question/547819/"> 可不可以来详细地介绍一下粒子物理的标准模型？</a></td><td></td></tr>
  <tr><td>[14]</td><td><a href="http://www.guokr.com/question/535297/"> 天然射线为什么只有3种？</a></td><td></td></tr>
  <tr><td>[14]</td><td><a href="http://www.guokr.com/question/550203/"> “反苹果”究竟会上升还是下落？反物质是否同普通物质一样会由于</a></td><td></td></tr>
  <tr style="display:none"><td>[14]</td><td><a href="http://www.guokr.com/question/579946/"> 想自学粒子物理，需要哪些基础？</a></td><td></td></tr>
  <tr><td>[13]</td><td><a href="http://www.guokr.com/question/563699/"> 正负电子都有质量，为什么碰撞后就没有质量了？</a></td><td></td></tr>
  <tr><td>[12]</td><td><a href="http://www.guokr.com/question/491196/"> 为什么带不同电荷的质子和电子不会黏在一起，而质子们却会？万有</a></td><td></td></tr>
  <tr><td>[12]</td><td><a href="http://www.guokr.com/question/559622/"> 临界质量是一个范围还是一个定值？</a></td><td></td></tr>
  <tr><td>[11]</td><td><a href="http://www.guokr.com/question/531120/"> 《物理》公布2013年国际物理领域11项重要成果，北京谱仪发</a></td><td></td></tr>
  <tr style="display:none"><td>[11]</td><td><a href="http://www.guokr.com/question/540755/"> 目前的弦理论是不是还不能做出预测？那为什么大家还是很看好这个</a></td><td></td></tr>
  <tr style="display:none"><td>[13]</td><td><a href="http://www.guokr.com/question/543010/"> 既然弦论目前不能验证，那那些搞弦论的物理学家每天的工作是什么</a></td><td></td></tr>
  <tr style="display:none"><td>[8]</td><td><a href="http://www.guokr.com/question/568338/"> 为什么质子的质量远小于顶夸克的质量？</a></td><td></td></tr>
  <tr style="display:none"><td>[8]</td><td><a href="http://www.guokr.com/question/559960/"> 普朗克常数描述的最小能量和电子比哪个大？</a></td><td></td></tr>
</table>


<p> </p>
<input name="key" type="text" id="key" onkeypress="onSearch(this,'filters1')" onpaste="onSearch(this,'filters1')" oninput="onSearch(this,'filters1')" value=""/>
<p> </p>

<table id="filters1">
	<tr>
		<th>分类</th>
		<th>原问答</th>
		<th>状态</th>
	</tr>

	<tr><td>[114]</td><td><a href="http://www.guokr.com/question/529215/"> 能否简单的说一下光速不变现象？</a></td><td></td></tr>
	<tr style="display:none"><td>[111]</td><td><a href="http://www.guokr.com/question/572333/"> 为什么铁丝掰弯容易掰直难？</a></td><td></td></tr>
	<tr><td>[100]</td><td><a href="http://www.guokr.com/question/559202/"> 自从学了物理之后我知道物体分为三态，固态、液态、气态，那么我</a></td><td></td></tr>
	<tr style="display:none"><td>[93]</td><td><a href="http://www.guokr.com/question/575766/"> 在火星上，夕阳是蓝色的吗？为什么？</a></td><td></td></tr>
	<tr style="display:none"><td>[86]</td><td><a href="http://www.guokr.com/question/563564/"> 以太阳作为参考系时，月球的运动轨迹是什么样的？</a></td><td></td></tr>
	<tr style="display:none"><td>[76]</td><td><a href="http://www.guokr.com/question/492934/"> 为什么在炎炎夏日下，在平直的公路上行驶，会看到前方路面好像积</a></td><td></td></tr>
	<tr style="display:none"><td>[75]</td><td><a href="http://www.guokr.com/question/565812/"> 有没有比哈勃的命名更多的名人？</a></td><td></td></tr>
	<tr style="display:none"><td>[73]</td><td><a href="http://www.guokr.com/question/577463/"> 欧、美、日的学生、家人是如何看待大学排名的呢？</a></td><td></td></tr>
	<tr style="display:none"><td>[72]</td><td><a href="http://www.guokr.com/question/553591/"> 极黑的布伦希尔特中的公式是什么？</a></td><td></td></tr>
	<tr style="display:none"><td>[69]</td><td><a href="http://www.guokr.com/question/551166/"> “百科”内容的编辑、审核、校对，多大的“自由”，会比较合适呢</a></td><td></td></tr>
	<tr style="display:none"><td>[67]</td><td><a href="http://www.guokr.com/question/498567/"> 怎样让肥皂泡吹的更大更稳定？</a></td><td></td></tr>
	<tr style="display:none"><td>[66]</td><td><a href="http://www.guokr.com/question/568707/"> “人即神明”漫画中的这个公式是什么意思？</a></td><td></td></tr>
	<tr style="display:none"><td>[64]</td><td><a href="http://www.guokr.com/question/566424/"> 在你的专业，哪些课必须逃，哪些课不能逃？</a></td><td></td></tr>
	<tr style="display:none"><td>[63]</td><td><a href="http://www.guokr.com/question/547549/"> 为什么e^(pi*sqrt(163))几乎是一个整数？</a></td><td></td></tr>
	<tr style="display:none"><td>[63]</td><td><a href="http://www.guokr.com/question/558460/"> Gpu可以和Cpu进行共享吗？</a></td><td></td></tr>
	<tr style="display:none"><td>[61]</td><td><a href="http://www.guokr.com/question/512155/"> 科学素养高的Guokrer们就一定要对基督教持意见么？</a></td><td></td></tr>
	<tr style="display:none"><td>[60]</td><td><a href="http://www.guokr.com/question/562009/"> 爱因斯坦的质能公式根本就是忽悠人的，会不会有人同意我的观点？</a></td><td></td></tr>
	<tr style="display:none"><td>[58]</td><td><a href="http://www.guokr.com/question/569490/"> 对于一个物理现象，用文字表达和数学表达有什么区别吗？</a></td><td></td></tr>
	<tr style="display:none"><td>[57]</td><td><a href="http://www.guokr.com/question/556852/"> 用过的一张人民币回到自己手中的概率是多少呢？</a></td><td></td></tr>
	<tr style="display:none"><td>[56]</td><td><a href="http://www.guokr.com/question/561520/"> 电脑是怎样从最简单的计算器发展起来的？</a></td><td></td></tr>
	<tr style="display:none"><td>[55]</td><td><a href="http://www.guokr.com/question/567201/"> 假如能达到绝对零度，那么在绝对零度下物质的状态是什么样？</a></td><td></td></tr>
	<tr style="display:none"><td>[53]</td><td><a href="http://www.guokr.com/question/576275/"> 现代门锁是谁发明的</a></td><td></td></tr>
	<tr style="display:none"><td>[52]</td><td><a href="http://www.guokr.com/question/544606/"> 各位有没有从自己专业里找到幸福感的时候？这种感觉又是由什么样</a></td><td></td></tr>
	<tr style="display:none"><td>[51]</td><td><a href="http://www.guokr.com/question/545170/"> “瘦成一道闪电！”——闪电究竟有多粗？</a></td><td></td></tr>
	<tr style="display:none"><td>[48]</td><td><a href="http://www.guokr.com/question/515399/"> 人类存在于宇宙的意义是什么？</a></td><td></td></tr>
	<tr style="display:none"><td>[47]</td><td><a href="http://www.guokr.com/question/500808/"> 为什么地球密度可以达到5,515.3 kg/m^3，地球上可</a></td><td></td></tr>
	<tr style="display:none"><td>[45]</td><td><a href="http://www.guokr.com/question/557288/"> 可以用镜子破掉美国最新研制的激光武器吗？</a></td><td></td></tr>
	<tr style="display:none"><td>[44]</td><td><a href="http://www.guokr.com/question/516262/"> 你觉得世界上哪种动物最美？</a></td><td></td></tr>
	<tr style="display:none"><td>[44]</td><td><a href="http://www.guokr.com/question/544686/"> 物理学科当中存在公理吗？为什么？</a></td><td></td></tr>
	<tr style="display:none"><td>[44]</td><td><a href="http://www.guokr.com/question/575890/"> 五种有趣的物理现象，原理都是什么？</a></td><td></td></tr>
	<tr style="display:none"><td>[42]</td><td><a href="http://www.guokr.com/question/491815/"> 光路的折射实质是什么？</a></td><td></td></tr>
	<tr style="display:none"><td>[42]</td><td><a href="http://www.guokr.com/question/504835/"> 水在超低温的环境中，有可能呈现出液态吗？</a></td><td></td></tr>
	<tr style="display:none"><td>[41]</td><td><a href="http://www.guokr.com/question/500546/"> 图片中的3D效果是怎么做出来的？</a></td><td></td></tr>
	<tr style="display:none"><td>[40]</td><td><a href="http://www.guokr.com/question/514587/"> 大学里，最让你长知识的一门课是什么？</a></td><td></td></tr>
	<tr style="display:none"><td>[39]</td><td><a href="http://www.guokr.com/question/542400/"> 在地球上增加一个新物种，你会设计个什么样的？</a></td><td></td></tr>
	<tr style="display:none"><td>[39]</td><td><a href="http://www.guokr.com/question/570578/"> 物理学中的许多现象能够追根求底吗？</a></td><td></td></tr>
	<tr style="display:none"><td>[37]</td><td><a href="http://www.guokr.com/question/540967/"> 走上理科科研道路的人，是什么让你坚持下来的？</a></td><td></td></tr>
	<tr style="display:none"><td>[36]</td><td><a href="http://www.guokr.com/question/498120/"> 为什么绳子会被拉断？</a></td><td></td></tr>
	<tr style="display:none"><td>[36]</td><td><a href="http://www.guokr.com/question/577564/"> 人类肉体经过锻炼或进化是否能挡住子弹？</a></td><td></td></tr>
	<tr style="display:none"><td>[35]</td><td><a href="http://www.guokr.com/question/499504/"> 如果把一个人放到一口大钟里面，然后有人在外面敲钟，里面的人会</a></td><td></td></tr>
	<tr style="display:none"><td>[35]</td><td><a href="http://www.guokr.com/question/512861/"> 宇宙的年龄约为138亿年，为什么目前可观测半径却为460亿光</a></td><td></td></tr>
	<tr style="display:none"><td>[35]</td><td><a href="http://www.guokr.com/question/529026/"> 如何用一句话概括你的论文内容？</a></td><td></td></tr>
	<tr style="display:none"><td>[35]</td><td><a href="http://www.guokr.com/question/547339/"> 什么是贝叶斯定理，为什么可以用这个方法来进行预言？</a></td><td></td></tr>
	<tr style="display:none"><td>[35]</td><td><a href="http://www.guokr.com/question/548870/"> 目前为止，哪所大学获得诺贝尔奖的人数最多？</a></td><td></td></tr>
	<tr style="display:none"><td>[34]</td><td><a href="http://www.guokr.com/question/501011/"> 用吸管搭建一个1.8m的高塔。搭建方式有没有什么物理学规律可</a></td><td></td></tr>
	<tr style="display:none"><td>[33]</td><td><a href="http://www.guokr.com/question/534408/"> 为什么石头掉入水中，水波向外扩散？</a></td><td></td></tr>
	<tr style="display:none"><td>[32]</td><td><a href="http://www.guokr.com/question/553548/"> 在即时聊天的时候，刚说出一句话就有人回复了，人真的能做到这么</a></td><td></td></tr>
	<tr style="display:none"><td>[31]</td><td><a href="http://www.guokr.com/question/542496/"> 相波为什么不能携带能量和信息？反过来说，如果证明相波能携带能</a></td><td></td></tr>
	<tr style="display:none"><td>[31]</td><td><a href="http://www.guokr.com/question/566663/"> 高温有极限吗？</a></td><td></td></tr>
	<tr style="display:none"><td>[30]</td><td><a href="http://www.guokr.com/question/540031/"> 为什么电磁波是横波，不是纵波？</a></td><td></td></tr>
	<tr style="display:none"><td>[30]</td><td><a href="http://www.guokr.com/question/577894/"> 泰勒公式在物理学中有什么实际应用？</a></td><td></td></tr>
	<tr style="display:none"><td>[29]</td><td><a href="http://www.guokr.com/question/490474/"> -1℃的冰和-80℃的冰结构一样吗？</a></td><td></td></tr>
	<tr style="display:none"><td>[29]</td><td><a href="http://www.guokr.com/question/490870/"> 如何计算太阳的质量？如果用万有引力=向心力公式，那么公转轨道</a></td><td></td></tr>
	<tr style="display:none"><td>[29]</td><td><a href="http://www.guokr.com/question/532543/"> 有没有一种比较好的记笔记方法可以推荐？</a></td><td></td></tr>
	<tr style="display:none"><td>[29]</td><td><a href="http://www.guokr.com/question/570381/"> 四维空间中是不是桌子要有四只腿才能立住？</a></td><td></td></tr>
	<tr style="display:none"><td>[28]</td><td><a href="http://www.guokr.com/question/495402/"> 电蚊拍的电通入水的现象如何解释？</a></td><td></td></tr>
	<tr style="display:none"><td>[28]</td><td><a href="http://www.guokr.com/question/496345/"> 温度在不同的物体之间是如何传递的？</a></td><td></td></tr>
	<tr style="display:none"><td>[28]</td><td><a href="http://www.guokr.com/question/561092/"> 物理在逻辑上严格吗？</a></td><td></td></tr>
	<tr style="display:none"><td>[28]</td><td><a href="http://www.guokr.com/question/574016/"> 下图原理是啥啊？</a></td><td></td></tr>
	<tr style="display:none"><td>[28]</td><td><a href="http://www.guokr.com/question/576693/"> 正弦波、矩形波、三角形波，以及其他的各色波形演奏出来分别是什</a></td><td></td></tr>
	<tr style="display:none"><td>[27]</td><td><a href="http://www.guokr.com/question/493260/"> 为什么水滴从空中落下会从流线体（水滴）变成水花？</a></td><td></td></tr>
	<tr style="display:none"><td>[27]</td><td><a href="http://www.guokr.com/question/544820/"> 平行世界和多重宇宙在定义上有什么区别</a></td><td></td></tr>
	<tr style="display:none"><td>[27]</td><td><a href="http://www.guokr.com/question/546354/"> 如果我手上握一把泥沙，放入装有半杯水的水杯，泥沙先会分散开，</a></td><td></td></tr>
	<tr style="display:none"><td>[27]</td><td><a href="http://www.guokr.com/question/577382/"> 这种画线的计算方法原理是什么？</a></td><td></td></tr>
	<tr style="display:none"><td>[26]</td><td><a href="http://www.guokr.com/question/502229/"> 为什么有人不喜欢旅游？</a></td><td></td></tr>
	<tr style="display:none"><td>[26]</td><td><a href="http://www.guokr.com/question/527082/"> 凡事问“有什么用”是不是一种错误思维？</a></td><td></td></tr>
	<tr style="display:none"><td>[26]</td><td><a href="http://www.guokr.com/question/554991/"> 从输入 URL 到页面加载完的过程中都发生了什么事情？</a></td><td></td></tr>
	<tr style="display:none"><td>[25]</td><td><a href="http://www.guokr.com/question/544155/"> 如果光传播需要透明介质会怎样？</a></td><td></td></tr>
	<tr style="display:none"><td>[25]</td><td><a href="http://www.guokr.com/question/576711/"> 横波和纵波的区别在哪里？</a></td><td></td></tr>
	<tr style="display:none"><td>[24]</td><td><a href="http://www.guokr.com/question/450784/"> 同样不符合现有科学定律，为什么人们常认为超能力比魔法更有＂科</a></td><td></td></tr>
	<tr style="display:none"><td>[24]</td><td><a href="http://www.guokr.com/question/505959/"> 光子间有相互作用么？</a></td><td></td></tr>
	<tr style="display:none"><td>[24]</td><td><a href="http://www.guokr.com/question/545091/"> 太空的背景为什么是黑色的？</a></td><td></td></tr>
	<tr style="display:none"><td>[24]</td><td><a href="http://www.guokr.com/question/551143/"> 为什么有些航线走的并不是大圆？</a></td><td></td></tr>
	<tr style="display:none"><td>[24]</td><td><a href="http://www.guokr.com/question/556653/"> 为什么卫星不能沿着一条经线飞行呢？</a></td><td></td></tr>
	<tr style="display:none"><td>[24]</td><td><a href="http://www.guokr.com/question/562070/"> 一吨绝对零度的纯水，需要多少热量才能将其温度提升到0摄氏度？</a></td><td></td></tr>
	<tr style="display:none"><td>[24]</td><td><a href="http://www.guokr.com/question/566110/"> 就工程技术而言，至今人类技术是否还未大规模进入以现代物理学为</a></td><td></td></tr>
	<tr style="display:none"><td>[23]</td><td><a href="http://www.guokr.com/question/494394/"> “我拉你一把”是基于哪些种相互作用力？</a></td><td></td></tr>
	<tr style="display:none"><td>[23]</td><td><a href="http://www.guokr.com/question/535923/"> 为什么爱因斯坦认为宇宙没有正曲率？</a></td><td></td></tr>
	<tr style="display:none"><td>[23]</td><td><a href="http://www.guokr.com/question/555837/"> 热力学基本方程的实际意义是什么？</a></td><td></td></tr>
	<tr style="display:none"><td>[23]</td><td><a href="http://www.guokr.com/question/558691/"> 以现代技术，是否能通过精确测量飞船内部的应力来获知轨道高度？</a></td><td></td></tr>
	<tr style="display:none"><td>[21]</td><td><a href="http://www.guokr.com/question/485575/"> 一道小学数学题，如何解答？</a></td><td></td></tr>
	<tr style="display:none"><td>[21]</td><td><a href="http://www.guokr.com/question/489570/"> 物理学是怎么定义维度的概念的？</a></td><td></td></tr>
	<tr style="display:none"><td>[21]</td><td><a href="http://www.guokr.com/question/497254/"> 超新星为什么会爆发？由于引力物质不是应该被吸引到一起么？</a></td><td></td></tr>
	<tr style="display:none"><td>[21]</td><td><a href="http://www.guokr.com/question/499007/"> 请问这个混沌摆的原理是什么？</a></td><td></td></tr>
	<tr style="display:none"><td>[21]</td><td><a href="http://www.guokr.com/question/530827/"> 大家有没有什么学习科技英语的好方法？</a></td><td></td></tr>
	<tr style="display:none"><td>[21]</td><td><a href="http://www.guokr.com/question/465048/"> 大家的专业里有什么其【外】他【行】人很少能接触到的资源？</a></td><td></td></tr>
	<tr style="display:none"><td>[20]</td><td><a href="http://www.guokr.com/question/515341/"> 质能方程到底应该怎么理解？</a></td><td></td></tr>
	<tr style="display:none"><td>[20]</td><td><a href="http://www.guokr.com/question/540908/"> 相对论所表达的速度越快时间过的越慢，这个是以什么为参考系？</a></td><td></td></tr>
	<tr style="display:none"><td>[19]</td><td><a href="http://www.guokr.com/question/492202/"> google今天纪念薛定谔的图上都画了些什么？</a></td><td></td></tr>
	<tr style="display:none"><td>[19]</td><td><a href="http://www.guokr.com/question/501240/"> 为什么彩虹中没有粉色？</a></td><td></td></tr>
	<tr style="display:none"><td>[19]</td><td><a href="http://www.guokr.com/question/520396/"> 微博微信和QQ让你放弃一个的话，你会选哪个？</a></td><td></td></tr>
	<tr style="display:none"><td>[19]</td><td><a href="http://www.guokr.com/question/547280/"> 哪些数学物理公式的推导令你感到无比惊讶？</a></td><td></td></tr>
	<tr style="display:none"><td>[19]</td><td><a href="http://www.guokr.com/question/569459/"> 椭圆轨道线速度与时间的关系？</a></td><td></td></tr>
	<tr style="display:none"><td>[18]</td><td><a href="http://www.guokr.com/question/396720/"> 铋和铅是有抗磁性的吗？它们的抗磁性原理和超导体有什么区别？</a></td><td></td></tr>
	<tr style="display:none"><td>[18]</td><td><a href="http://www.guokr.com/question/518771/"> 在你的专业里，哪些有效的方法可以让复杂的事情变简单？</a></td><td></td></tr>
	<tr style="display:none"><td>[18]</td><td><a href="http://www.guokr.com/question/545732/"> 你的专业书籍中，有什么特别的句式或者语法么？</a></td><td></td></tr>
	<tr style="display:none"><td>[18]</td><td><a href="http://www.guokr.com/question/557167/"> 为什么云会有白色、灰色和黑色？</a></td><td></td></tr>
	<tr style="display:none"><td>[18]</td><td><a href="http://www.guokr.com/question/572620/"> 两个实数构成了二维坐标系，两个复数构成了什么？</a></td><td></td></tr>
	<tr style="display:none"><td>[17]</td><td><a href="http://www.guokr.com/question/489059/"> -5\[Degree]的过冷却水和-5\[Degree]的冰块哪一样的内能高？</a></td><td></td></tr>
	<tr style="display:none"><td>[17]</td><td><a href="http://www.guokr.com/question/527165/"> 相对论中双生子佯谬的变种问题（没有加减速过程）</a></td><td></td></tr>
	<tr style="display:none"><td>[17]</td><td><a href="http://www.guokr.com/question/537379/"> 大学该学什么专业好？</a></td><td></td></tr>
	<tr style="display:none"><td>[17]</td><td><a href="http://www.guokr.com/question/540769/"> π0介子是否有静质量</a></td><td></td></tr>
	<tr style="display:none"><td>[17]</td><td><a href="http://www.guokr.com/question/544564/"> 怎样储存信息最安全？</a></td><td></td></tr>
	<tr style="display:none"><td>[17]</td><td><a href="http://www.guokr.com/question/555753/"> 电磁波的相位是光子的相位吗？</a></td><td></td></tr>
	<tr style="display:none"><td>[17]</td><td><a href="http://www.guokr.com/question/562885/"> 我们生活中的各种工业产品的颜色是怎么来的？</a></td><td></td></tr>
	<tr style="display:none"><td>[17]</td><td><a href="http://www.guokr.com/question/581752/"> 现代物理学还有“乌云”嘛？</a></td><td></td></tr>
	<tr style="display:none"><td>[16]</td><td><a href="http://www.guokr.com/question/492083/"> 如果开学去接学妹，那么接第几个合适呢？</a></td><td></td></tr>
	<tr style="display:none"><td>[16]</td><td><a href="http://www.guokr.com/question/501977/"> 在你的有生之年，听过最具启发性的问题是什么？</a></td><td></td></tr>
	<tr style="display:none"><td>[16]</td><td><a href="http://www.guokr.com/question/516677/"> 有哪些试剂的名字很美？</a></td><td></td></tr>
	<tr style="display:none"><td>[16]</td><td><a href="http://www.guokr.com/question/528572/"> 你的回答得到第一个赞时，是怎样的感受？</a></td><td></td></tr>
	<tr style="display:none"><td>[16]</td><td><a href="http://www.guokr.com/question/539554/"> 关于光子的质能方程问题</a></td><td></td></tr>
	<tr style="display:none"><td>[16]</td><td><a href="http://www.guokr.com/question/540841/"> LaTeX 排版中有什么小细节需要注意？</a></td><td></td></tr>
	<tr style="display:none"><td>[16]</td><td><a href="http://www.guokr.com/question/541406/"> 假如【可控实用的核聚变技术】和【高温超导体材料】被某财团寡头</a></td><td></td></tr>
	<tr style="display:none"><td>[16]</td><td><a href="http://www.guokr.com/question/541361/"> 为什么两束光相遇光子不会因为碰撞而散射？</a></td><td></td></tr>
	<tr style="display:none"><td>[16]</td><td><a href="http://www.guokr.com/question/395020/"> 普通的救生船上都有哪些装备？</a></td><td></td></tr>
	<tr style="display:none"><td>[15]</td><td><a href="http://www.guokr.com/question/514246/"> 在大学期间，最让你感觉到快乐的是什么？</a></td><td></td></tr>
	<tr style="display:none"><td>[15]</td><td><a href="http://www.guokr.com/question/561797/"> 目前最好的DVD光驱里的激光扫描精确度可以达到多少纳米呢？</a></td><td></td></tr>
	<tr style="display:none"><td>[15]</td><td><a href="http://www.guokr.com/question/575928/"> 在只知道角度的情况下，如何通过四则运算求出正弦值？</a></td><td></td></tr>
	<tr style="display:none"><td>[14]</td><td><a href="http://www.guokr.com/question/491884/"> 为什么在某些方面电学和力学如此相似？</a></td><td></td></tr>
	<tr style="display:none"><td>[14]</td><td><a href="http://www.guokr.com/question/494044/"> 【毛绒玩具脏了不用水洗用“盐”洗！】求谣言粉碎</a></td><td></td></tr>
	<tr style="display:none"><td>[14]</td><td><a href="http://www.guokr.com/question/497614/"> 盐为什么可以融化雪？</a></td><td></td></tr>
	<tr style="display:none"><td>[14]</td><td><a href="http://www.guokr.com/question/499746/"> 如何巧妙地用你的专业表白？</a></td><td></td></tr>
	<tr style="display:none"><td>[14]</td><td><a href="http://www.guokr.com/question/500917/"> 能够告诉我这照片上每个人的名字吗？</a></td><td></td></tr>
	<tr style="display:none"><td>[14]</td><td><a href="http://www.guokr.com/question/502285/"> 热量可以转化为电量吗？</a></td><td></td></tr>
	<tr style="display:none"><td>[14]</td><td><a href="http://www.guokr.com/question/529292/"> 2013年你最遗憾的事情是什么？</a></td><td></td></tr>
	<tr style="display:none"><td>[14]</td><td><a href="http://www.guokr.com/question/529345/"> 和朋友吵架，怎么能不丢脸地和好？</a></td><td></td></tr>
	<tr style="display:none"><td>[14]</td><td><a href="http://www.guokr.com/question/531992/"> 自从来到果壳，感觉强人太多，太多东西我想学习，该怎么办？</a></td><td></td></tr>
	<tr style="display:none"><td>[14]</td><td><a href="http://www.guokr.com/question/537629/"> 有什么科学运算，需要大量的计算力吗？</a></td><td></td></tr>
	<tr style="display:none"><td>[14]</td><td><a href="http://www.guokr.com/question/538211/"> 熵减过程可能自发进行吗？</a></td><td></td></tr>
	<tr style="display:none"><td>[14]</td><td><a href="http://www.guokr.com/question/548130/"> 如果牛顿穿越到现代并且你有与他有交流的机会，你会与他沟通哪方</a></td><td></td></tr>
	<tr style="display:none"><td>[14]</td><td><a href="http://www.guokr.com/question/563662/"> 如何将读文献变成有趣的事情？</a></td><td></td></tr>
	<tr style="display:none"><td>[14]</td><td><a href="http://www.guokr.com/question/567186/"> 以共振为基本原理的武器有可能么？</a></td><td></td></tr>
	<tr style="display:none"><td>[14]</td><td><a href="http://www.guokr.com/question/568391/"> 网上的曼德博集合图片为什么是彩色的？</a></td><td></td></tr>
	<tr style="display:none"><td>[14]</td><td><a href="http://www.guokr.com/question/570367/"> 科学家说地球物种每过几十万年就要毁灭一次，那我们的生存还有什</a></td><td></td></tr>
	<tr style="display:none"><td>[14]</td><td><a href="http://www.guokr.com/question/571463/"> 水管流水为什么上面水流截面面积大，下面水流截面面积小？</a></td><td></td></tr>
	<tr style="display:none"><td>[14]</td><td><a href="http://www.guokr.com/question/580195/"> 触碰“等离子球”外壁为什么会出现美妙的光波？人手和猫爪触碰造</a></td><td></td></tr>
	<tr style="display:none"><td>[13]</td><td><a href="http://www.guokr.com/question/494422/"> 一年为什么不是360天？如果把略扁的地球削成正圆球体，地球的</a></td><td></td></tr>
	<tr style="display:none"><td>[13]</td><td><a href="http://www.guokr.com/question/495765/"> 肥皂泡破裂的时候为什么是逐渐碎掉？为什么会碎成这么细小的小水</a></td><td></td></tr>
	<tr style="display:none"><td>[13]</td><td><a href="http://www.guokr.com/question/499841/"> 学物理的时候会，老师经常强调物理图像，那物理图像究竟是什么？</a></td><td></td></tr>
	<tr style="display:none"><td>[13]</td><td><a href="http://www.guokr.com/question/505912/"> 让人读不懂的书还有什么存在的价值吗？</a></td><td></td></tr>
	<tr style="display:none"><td>[13]</td><td><a href="http://www.guokr.com/question/530405/"> 为什么果壳问答的质量，比知乎的高那么多?</a></td><td></td></tr>
	<tr style="display:none"><td>[13]</td><td><a href="http://www.guokr.com/question/536479/"> 你的专业中有哪些意义不同于日常意义的术语？</a></td><td></td></tr>
	<tr style="display:none"><td>[13]</td><td><a href="http://www.guokr.com/question/541990/"> 旅馆悖论中，如果有无数的客车接来无数的客人，无限住人的旅馆还</a></td><td></td></tr>
	<tr style="display:none"><td>[13]</td><td><a href="http://www.guokr.com/question/556642/"> 凌晨的天为什么整体是蓝蓝的？</a></td><td></td></tr>
	<tr style="display:none"><td>[13]</td><td><a href="http://www.guokr.com/question/557952/"> pet-ct和核磁共振哪个对人体伤害小？</a></td><td></td></tr>
	<tr style="display:none"><td>[13]</td><td><a href="http://www.guokr.com/question/574614/"> 玻璃为什么是透明的？</a></td><td></td></tr>
	<tr style="display:none"><td>[13]</td><td><a href="http://www.guokr.com/question/578867/"> 关于托马斯杨的双缝干涉试验</a></td><td></td></tr>
	<tr style="display:none"><td>[12]</td><td><a href="http://www.guokr.com/question/493882/"> 光能从太阳核心达到表面吗？</a></td><td></td></tr>
	<tr style="display:none"><td>[12]</td><td><a href="http://www.guokr.com/question/497141/"> 地球是运动的，那一架燃料足够多的飞机，在中国上空悬停，惯性作</a></td><td></td></tr>
	<tr style="display:none"><td>[12]</td><td><a href="http://www.guokr.com/question/497442/"> 人们平时说的“天”是指哪里？地球的大气层？还是指外太空？</a></td><td></td></tr>
	<tr style="display:none"><td>[12]</td><td><a href="http://www.guokr.com/question/497601/"> 可能用某种手段看穿单向玻璃吗？</a></td><td></td></tr>
	<tr style="display:none"><td>[12]</td><td><a href="http://www.guokr.com/question/500331/"> 以你所学专业或兴趣的角度，你觉得科学的魅力是什么？</a></td><td></td></tr>
	<tr style="display:none"><td>[12]</td><td><a href="http://www.guokr.com/question/503316/"> 学物理的同学们，你们会记定律的证明吗？还是只记定理本身？</a></td><td></td></tr>
	<tr style="display:none"><td>[12]</td><td><a href="http://www.guokr.com/question/507341/"> 恒星，行星的引力范围是怎么计算的？</a></td><td></td></tr>
	<tr style="display:none"><td>[12]</td><td><a href="http://www.guokr.com/question/508644/"> 水银撒落在地上是什么形状？</a></td><td></td></tr>
	<tr style="display:none"><td>[12]</td><td><a href="http://www.guokr.com/question/516680/"> 如果人眼能看到红外线，会看到什么样的景象？</a></td><td></td></tr>
	<tr style="display:none"><td>[12]</td><td><a href="http://www.guokr.com/question/538001/"> 求大神指导，理论物理入门</a></td><td></td></tr>
	<tr style="display:none"><td>[12]</td><td><a href="http://www.guokr.com/question/558233/"> 古人是先测出地日距离还是地月距离？是怎么测量的？</a></td><td></td></tr>
	<tr style="display:none"><td>[12]</td><td><a href="http://www.guokr.com/question/558281/"> 理论物理在我们这代人取得实质性突破可能性有多大？</a></td><td></td></tr>
	<tr style="display:none"><td>[12]</td><td><a href="http://www.guokr.com/question/567875/"> 真的可以把文件储存在圆周率里么？</a></td><td></td></tr>
	<tr style="display:none"><td>[11]</td><td><a href="http://www.guokr.com/question/487391/"> 为什么“相邻正整数的平方和为平方数”出现的规律符合等比数列（</a></td><td></td></tr>
	<tr style="display:none"><td>[11]</td><td><a href="http://www.guokr.com/question/492300/"> 如何使用牛顿运动定律和万有引力定律推导出开普勒三大定律？（假</a></td><td></td></tr>
	<tr style="display:none"><td>[11]</td><td><a href="http://www.guokr.com/question/494391/"> 为什么按照稳恒态理论氢会转换为氮？</a></td><td></td></tr>
	<tr style="display:none"><td>[11]</td><td><a href="http://www.guokr.com/question/495192/"> 火线与零线，零线与零线，火线与火线，火线与大地，零线与大地之</a></td><td></td></tr>
	<tr style="display:none"><td>[11]</td><td><a href="http://www.guokr.com/question/497774/"> 在水中可以模拟失重环境吗？需要的能量要很大吗？</a></td><td></td></tr>
	<tr style="display:none"><td>[11]</td><td><a href="http://www.guokr.com/question/498208/"> 凭你现在的专业知识，如果穿越回古代你能做什么？</a></td><td></td></tr>
	<tr style="display:none"><td>[11]</td><td><a href="http://www.guokr.com/question/499750/"> 100个人里面12个星座全部都有的概率是多大？</a></td><td></td></tr>
	<tr style="display:none"><td>[11]</td><td><a href="http://www.guokr.com/question/500622/"> 为什么可以三等分一条线段，但不能三等分一个角？</a></td><td></td></tr>
	<tr style="display:none"><td>[11]</td><td><a href="http://www.guokr.com/question/501434/"> 问下大家以下的内容哪些是错的？（均从1987年出版的某本科普</a></td><td></td></tr>
	<tr style="display:none"><td>[11]</td><td><a href="http://www.guokr.com/question/508668/"> 怎样才能知道自己是色盲？</a></td><td></td></tr>
	<tr style="display:none"><td>[11]</td><td><a href="http://www.guokr.com/question/520377/"> 如果请你用一个汉字概括一下自己的2013年，你会写啥？</a></td><td></td></tr>
	<tr style="display:none"><td>[11]</td><td><a href="http://www.guokr.com/question/538179/"> 迎接新生婴儿，该如何从各学科角度介绍所在世界的现状？</a></td><td></td></tr>
	<tr style="display:none"><td>[11]</td><td><a href="http://www.guokr.com/question/546969/"> 哪些工作领域会同时涉及物理和计算机方面的知识？</a></td><td></td></tr>
	<tr style="display:none"><td>[11]</td><td><a href="http://www.guokr.com/question/553096/"> 怎么测量铯块体积？</a></td><td></td></tr>
	<tr style="display:none"><td>[11]</td><td><a href="http://www.guokr.com/question/570439/"> 如何寻找身边的大牛并和他们成为朋友？</a></td><td></td></tr>
	<tr style="display:none"><td>[11]</td><td><a href="http://www.guokr.com/question/572658/"> 怎样写出一个让你几年后再看时觉得不那么2B的微博？</a></td><td></td></tr>
	<tr style="display:none"><td>[11]</td><td><a href="http://www.guokr.com/question/574877/"> 光子会消失吗？如果会，怎么消失？去哪了？如果不会那么不断有光</a></td><td></td></tr>
	<tr style="display:none"><td>[10]</td><td><a href="http://www.guokr.com/question/490727/"> 既然紫外线和红外线我们肉眼看不见，我们探测到它们，但我们如何</a></td><td></td></tr>
	<tr style="display:none"><td>[10]</td><td><a href="http://www.guokr.com/question/491355/"> “打乒乓，切黄瓜！”是真的吗，现实情况中乒乓球要达到多大速度</a></td><td></td></tr>
	<tr style="display:none"><td>[10]</td><td><a href="http://www.guokr.com/question/496592/"> 永动机，求秒破。</a></td><td></td></tr>
	<tr style="display:none"><td>[10]</td><td><a href="http://www.guokr.com/question/496951/"> 为什么电子产品不做成同样的充电接口，这样难道不会方便很多吗？</a></td><td></td></tr>
	<tr style="display:none"><td>[10]</td><td><a href="http://www.guokr.com/question/497281/"> 这是什么虫子？</a></td><td></td></tr>
	<tr style="display:none"><td>[10]</td><td><a href="http://www.guokr.com/question/498795/"> 1加1为什么等于2谁规定的？</a></td><td></td></tr>
	<tr style="display:none"><td>[10]</td><td><a href="http://www.guokr.com/question/499961/"> 复数集和R^2集有什么异同？</a></td><td></td></tr>
	<tr style="display:none"><td>[10]</td><td><a href="http://www.guokr.com/question/514766/"> 做基本粒子研究的老师能上好宇宙学的课吗？</a></td><td></td></tr>
	<tr style="display:none"><td>[10]</td><td><a href="http://www.guokr.com/question/508627/"> 能把太阳的能量直接输出为电能么？</a></td><td></td></tr>
	<tr style="display:none"><td>[10]</td><td><a href="http://www.guokr.com/question/526463/"> 你最喜欢什么主色调？</a></td><td></td></tr>
	<tr style="display:none"><td>[10]</td><td><a href="http://www.guokr.com/question/526822/"> 你可以对他人说出的最正能量、最温暖人心、最美好的一句话是什么</a></td><td></td></tr>
	<tr style="display:none"><td>[10]</td><td><a href="http://www.guokr.com/question/531807/"> 你遇到过很萌的老师吗？他们都有什么好玩的事迹？</a></td><td></td></tr>
	<tr style="display:none"><td>[10]</td><td><a href="http://www.guokr.com/question/535655/"> 哪些软件你愿意一直开着不关？即使不用的时候也留在后台？</a></td><td></td></tr>
	<tr style="display:none"><td>[10]</td><td><a href="http://www.guokr.com/question/558393/"> 海王星有移动速度比光速还快的云？</a></td><td></td></tr>
	<tr style="display:none"><td>[10]</td><td><a href="http://www.guokr.com/question/566353/"> 现代物理学中已经被实验证实，较为公认的理论现在发展到哪一步了</a></td><td></td></tr>
	<tr style="display:none"><td>[10]</td><td><a href="http://www.guokr.com/question/573945/"> 如果一个新安装的系统中没有任何浏览器，能通过什么途径安装浏览</a></td><td></td></tr>
	<tr style="display:none"><td>[10]</td><td><a href="http://www.guokr.com/question/574560/"> 力的定义是什么？实质是什么？</a></td><td></td></tr>
	<tr style="display:none"><td>[10]</td><td><a href="http://www.guokr.com/question/573605/"> 在考虑大气压的情况下，一个完全浸没在水中的不规则物体受到的浮</a></td><td></td></tr>
	<tr style="display:none"><td>[10]</td><td><a href="http://www.guokr.com/question/579483/"> 为什么有那么多普朗克单位？而且都不是太大就是太小？</a></td><td></td></tr>
	<tr style="display:none"><td>[10]</td><td><a href="http://www.guokr.com/question/579625/"> 怎样成为科学家？</a></td><td></td></tr>
	<tr style="display:none"><td>[9]</td><td><a href="http://www.guokr.com/question/492806/"> 急冻喷雾剂能把温度降到零下75度吗？原理是什么？</a></td><td></td></tr>
	<tr style="display:none"><td>[9]</td><td><a href="http://www.guokr.com/question/494340/"> 平面密排Ising 模型的能量问题</a></td><td></td></tr>
	<tr style="display:none"><td>[9]</td><td><a href="http://www.guokr.com/question/493868/"> 果壳问答里，获支持最高的回答的纪录是多少？</a></td><td></td></tr>
	<tr style="display:none"><td>[9]</td><td><a href="http://www.guokr.com/question/497826/"> 两个人分别发出40dB的声音 如果不考虑声音的相干的话，旁人</a></td><td></td></tr>
	<tr style="display:none"><td>[9]</td><td><a href="http://www.guokr.com/question/472982/"> 谁是有史以来最帅的物理学家？</a></td><td></td></tr>
	<tr style="display:none"><td>[9]</td><td><a href="http://www.guokr.com/question/526496/"> 洛伦茨变换，关于时刻的变换理解不能\[Ellipsis]\[Ellipsis]</a></td><td></td></tr>
	<tr style="display:none"><td>[9]</td><td><a href="http://www.guokr.com/question/527930/"> 如何改变理科生对文科生的看法？或者有效回击理科生对文科生的抨</a></td><td></td></tr>
	<tr style="display:none"><td>[9]</td><td><a href="http://www.guokr.com/question/532002/"> 为什么数学在物理学里能发挥这么大的</a></td><td></td></tr>
	<tr style="display:none"><td>[9]</td><td><a href="http://www.guokr.com/question/551506/"> 这个亚里士多德车轮佯谬中，为什么大圆转一圈前进的距离和小圆转</a></td><td></td></tr>
	<tr style="display:none"><td>[9]</td><td><a href="http://www.guokr.com/question/569494/"> 怎么用函数描述弹簧体系中位移和时间的关系？</a></td><td></td></tr>
	<tr style="display:none"><td>[9]</td><td><a href="http://www.guokr.com/question/569479/"> 将条形磁铁不断从中间切割会发生什么？</a></td><td></td></tr>
	<tr style="display:none"><td>[9]</td><td><a href="http://www.guokr.com/question/571525/"> 是什么让你放弃了Word，选择了LaTeX？</a></td><td></td></tr>
	<tr style="display:none"><td>[9]</td><td><a href="http://www.guokr.com/question/579538/"> 美国科学家研发隐身斗篷：透镜隐藏大型物体——谁能介绍一下这个</a></td><td></td></tr>
	<tr style="display:none"><td>[9]</td><td><a href="http://www.guokr.com/question/579505/"> 为啥月全食是红月亮，不是全黑月亮？</a></td><td></td></tr>
	<tr style="display:none"><td>[8]</td><td><a href="http://www.guokr.com/question/486456/"> 关于热一和热二的两个问题</a></td><td></td></tr>
	<tr style="display:none"><td>[8]</td><td><a href="http://www.guokr.com/question/488440/"> 有一个视频是灯泡放在微波炉中会亮？但是灯泡亮度和颜色为什么在</a></td><td></td></tr>
	<tr style="display:none"><td>[8]</td><td><a href="http://www.guokr.com/question/492930/"> 哪位大神告诉我蜗牛该怎么养啊？</a></td><td></td></tr>
	<tr style="display:none"><td>[8]</td><td><a href="http://www.guokr.com/question/493914/"> 我们知道貌似速度是有上线的，那就是光速，那别的物理量呢？比如</a></td><td></td></tr>
	<tr style="display:none"><td>[8]</td><td><a href="http://www.guokr.com/question/495732/"> 究竟是数学在先还是物理在先？</a></td><td></td></tr>
	<tr style="display:none"><td>[8]</td><td><a href="http://www.guokr.com/question/495823/"> 求单位的来历。还有单位为什么可以计算，为什么可以推导出衍生单</a></td><td></td></tr>
	<tr style="display:none"><td>[8]</td><td><a href="http://www.guokr.com/question/497260/"> 带电荷的物质在高速运动中电荷量会不会发生变化？</a></td><td></td></tr>
	<tr style="display:none"><td>[8]</td><td><a href="http://www.guokr.com/question/499941/"> 怎么推导量子力学下的牛顿第二定律啊？</a></td><td></td></tr>
	<tr style="display:none"><td>[8]</td><td><a href="http://www.guokr.com/question/500853/"> 导体的介电常数是多少？</a></td><td></td></tr>
	<tr style="display:none"><td>[8]</td><td><a href="http://www.guokr.com/question/500572/"> 为什么猫容易和性感联系在一起？狗为啥不性感？</a></td><td></td></tr>
	<tr style="display:none"><td>[8]</td><td><a href="http://www.guokr.com/question/503640/"> 在标准大气压下，如何得到0度以上的冰?</a></td><td></td></tr>
	<tr style="display:none"><td>[8]</td><td><a href="http://www.guokr.com/question/518781/"> 果壳网都有哪些动物？</a></td><td></td></tr>
	<tr style="display:none"><td>[8]</td><td><a href="http://www.guokr.com/question/527465/"> 物理实验能不能帮助解决数学问题呢？</a></td><td></td></tr>
	<tr style="display:none"><td>[8]</td><td><a href="http://www.guokr.com/question/528948/"> 如何减轻对这个世界的绝望感？</a></td><td></td></tr>
	<tr style="display:none"><td>[8]</td><td><a href="http://www.guokr.com/question/551545/"> 黑匣子为什么不接收信号后再发送信号，而非要主动一直发射信号？</a></td><td></td></tr>
	<tr style="display:none"><td>[8]</td><td><a href="http://www.guokr.com/question/553617/"> 物理公式很简单优美，为什么物理却那么难？</a></td><td></td></tr>
	<tr style="display:none"><td>[8]</td><td><a href="http://www.guokr.com/question/559596/"> 宇宙是不是无论怎样都会归于死寂？</a></td><td></td></tr>
	<tr style="display:none"><td>[8]</td><td><a href="http://www.guokr.com/question/562336/"> 一个微型小说。情节是：一对恋人是宇航员，他们俩以接近光速的速</a></td><td></td></tr>
	<tr style="display:none"><td>[8]</td><td><a href="http://www.guokr.com/question/563562/"> 搜索外文文献，google学术和Web of Science</a></td><td></td></tr>
	<tr style="display:none"><td>[8]</td><td><a href="http://www.guokr.com/question/564966/"> 在果壳的这些年，你学到什么了？</a></td><td></td></tr>
	<tr style="display:none"><td>[8]</td><td><a href="http://www.guokr.com/question/566078/"> 为什么css的方向顺序是“上、右、下、左”？</a></td><td></td></tr>
	<tr style="display:none"><td>[8]</td><td><a href="http://www.guokr.com/question/572970/"> 这两句描述气体和温度的关系的话矛盾么？</a></td><td></td></tr>
	<tr style="display:none"><td>[8]</td><td><a href="http://www.guokr.com/question/573779/"> qwerty键盘这种故意麻烦和阻碍用户的设计，正式定义是什么</a></td><td></td></tr>
	<tr style="display:none"><td>[8]</td><td><a href="http://www.guokr.com/question/575130/"> 这是灯依次亮起什么原理呢？</a></td><td></td></tr>
	<tr style="display:none"><td>[8]</td><td><a href="http://www.guokr.com/question/577003/"> 请问在人以接近光速运动，时间变慢，这个假设中，两个相对的参照</a></td><td></td></tr>
	<tr style="display:none"><td>[8]</td><td><a href="http://www.guokr.com/question/576908/"> 两种互为补色的光混合后的白光再通过三棱镜后还会被分解为七色光</a></td><td></td></tr>
	<tr style="display:none"><td>[7]</td><td><a href="http://www.guokr.com/question/490044/"> 为什么又说熵是信息缺乏的程度?</a></td><td></td></tr>
	<tr style="display:none"><td>[7]</td><td><a href="http://www.guokr.com/question/491006/"> 为什么曲速推进可以无视相对论效应？</a></td><td></td></tr>
	<tr style="display:none"><td>[7]</td><td><a href="http://www.guokr.com/question/491365/"> 为什么电流这个单位不能用其他单位导出？</a></td><td></td></tr>
	<tr style="display:none"><td>[7]</td><td><a href="http://www.guokr.com/question/491344/"> 《时间的形状》这本科普书中提到任何物质在四维时空中都具有光速</a></td><td></td></tr>
	<tr style="display:none"><td>[7]</td><td><a href="http://www.guokr.com/question/491992/"> 云为什么在天上？求科学回答。</a></td><td></td></tr>
	<tr style="display:none"><td>[7]</td><td><a href="http://www.guokr.com/question/492782/"> 假设有一个可以完全封闭且十分坚固的容器，我们将里面注满水，然</a></td><td></td></tr>
	<!-- <tr style="display:none"><td>[7]</td><td><a href="http://www.guokr.com/question/493639/"> 为什么动物的幼崽看上去很萌？这种萌的感觉是如何产生的？</a></td><td></td></tr> -->
	<tr style="display:none"><td>[7]</td><td><a href="http://www.guokr.com/question/493926/"> 猫被挠后背时是舒服还是不舒服？</a></td><td></td></tr>
	<tr style="display:none"><td>[7]</td><td><a href="http://www.guokr.com/question/498468/"> 光为什么会反射，光反射损失的什么，光反射后还是那束光吗？</a></td><td></td></tr>
	<tr style="display:none"><td>[7]</td><td><a href="http://www.guokr.com/question/500677/"> 关于光的一个猜想：光的传递是通过宇宙中一种未知物质的吸收和发</a></td><td></td></tr>
	<tr style="display:none"><td>[7]</td><td><a href="http://www.guokr.com/question/500935/"> 我们制造的材料有没有一天是能达到了尽头无法再前进的？</a></td><td></td></tr>
	<tr style="display:none"><td>[7]</td><td><a href="http://www.guokr.com/question/511332/"> 宇宙内物质的分布会像是一个薄薄的蛋壳吗？</a></td><td></td></tr>
	<tr style="display:none"><td>[7]</td><td><a href="http://www.guokr.com/question/556525/"> 永磁铁对铁的吸力F与距离r的关系式是什么？</a></td><td></td></tr>
	<tr style="display:none"><td>[7]</td><td><a href="http://www.guokr.com/question/556938/"> 光有密度么？声音有密度么？</a></td><td></td></tr>
	<tr style="display:none"><td>[7]</td><td><a href="http://www.guokr.com/question/557500/"> 反函数的导数是原来函数的导数的倒数，请问这个法则适用于什么样</a></td><td></td></tr>
	<tr style="display:none"><td>[7]</td><td><a href="http://www.guokr.com/question/562627/"> 为什么狐狸分明长像就是个萌货哪，可故事里都说狐狸狡猾，狐假虎</a></td><td></td></tr>
	<tr style="display:none"><td>[7]</td><td><a href="http://www.guokr.com/question/563455/"> 我想学物理，可以报什么专业？</a></td><td></td></tr>
	<tr style="display:none"><td>[7]</td><td><a href="http://www.guokr.com/question/567348/"> 为什么气泡室实验图里面有一大堆的小十字图样？</a></td><td></td></tr>
</table>
</div>


