
<div id="demo">
  <div id="demo1">
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>我仰望星空</p>
    <p>它是那样寥廓而深邃</p>
    <p>那无穷的真理</p>
    <p>让我苦苦地求索追随</p>
    <p>我仰望星空</p>
    <p>它是那样庄严而圣洁</p>
    <p>那凛然的正义</p>
    <p>让我充满热爱</p>
    <p>感到敬畏</p>
    <p>我仰望星空</p>
    <p>它是那样自由而宁静</p>
    <p>那博大的胸怀</p>
    <p>让我的心灵栖息依偎</p>
    <p>我仰望星空</p>
    <p>它是那样壮丽而光辉</p>
    <p>那永恒的炽热</p>
    <p>让我心中燃起希望的烈焰</p>
    <p>响起春雷</p>
    <p>&nbsp;&nbsp;&nbsp;——《仰望星空》</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <!-- js 有抖动 bug，加换行解决 -->
  </div>
  <div id="demo2"></div>
</div>
<script src="/js/scroll.js"></script>
