<div id="topwarning" ondblclick="myHide(this)">
<p>网站目前处于内部施工阶段，慎入施工现场<span style="color: rgba(217,114,11,0.1);">（← 你想随便看看也行… 双击可关闭提示语）</invi></p>
</div>

<div id="top">
<div class="active">
<ul>
  <li><a href="/index.html">主页</a></li>
  <li><a href="/wiki/index.html">百科</a></li>
  <!-- <li><a href="/scific/index.html">科幻（待建）</a></li> -->
  <li><a href="/notsci/index.html">不科学</a></li>
  <li><a href="/popsci/index.html">看不懂</a></li>
  <li><a href="/lenote/index.html">狸笔记</a></li>
  <!-- <li><a href="/project/index.html">项目</a></li> -->
</ul>
</div>
</div>
