
<!-- <div id="top">
<div class="active">
<ul>
  <li><a href="/index.html">主页</a></li>
  <li><a href="/wiki/index.html">百科</a></li>
  <!-- <li><a href="/scific/index.html">科幻</a></li>
  <li><a href="/notsci/index.html">不科学</a></li>
  <li><a href="/popsci/index.html">看不懂</a></li>
  <li><a href="/lenote/index.html">狸笔记</a></li>
  <!-- <li><a href="/project/index.html">项目/分享</a></li>
</ul>
</div>
</div> -->


<h1 align="center">
  <div class="skinimg"><a title="回到萌狸主页" href="/index.html"><img src="/css/moele.png" alt="萌狸" class="moele"></a></div>
  の
  <span class="glass">{{ page.author }}</span>
  <sup><span class="glass" style="font-size:0.5em;color:#FFF;background-color:#FF8000">内部测试</span></sup>
</h1>
