---
layout: index
author: 百科
title: 主页
---
<!--
<div class="content">
<p>注：完成度<div class="meter" style="display:inline-block;width:120px">
<span style="width: 60%"></span></div>
以上的词条才会公布链接。</p>
</div> -->

{% include cheader.html param="人物设定" %}

<div class="content">


{% include wikip.html cn="狸星人" en="lelian" p="60" %}
  <li><a href="lename/">狸名</a></li>
  <li><a href="lename/index.html#序列码">序列码</a></li>
  <li><a href="lesuit/">狐狸服</a></li>
</ul><ul>
  <li><a href="timeline/">狸星时间</a></li>
  <li><a href="properage/">固有年龄</a></li>
{% include wikipend.html %}


{% include wikip.html cn="萌狸狸" en="moele" p="70" %}
  <li>幼年萌狸</li>
  <li>豆浆雷达</li>
  <li>降落尾巴</li>
</ul><ul>
  <li><a href="moedale/">萌大狸</a></li>
  <li><a href="moeyale/">萌芽狸</a></li>
{% include wikipend.html %}

{% include wikip.html cn="麦酱" en="matica" p="70" %}
{% include wikipend.html %}

{% include wikip.html cn="葉紫狸" en="hashi" p="20" %}
  <li><a href="ika">一卡</a></li>
  <li>柳叶刀</li>
</ul><ul>
  <li>致子狸</li>
  <li>靛紫狸</li>
{% include wikipend.html %}

{% include wikip.html cn="火弧狸" en="flamsh" p="10" %}
{% include wikipend.html %}

{% include wikip.html cn="小黑狸" en="blackie" p="0" %}
{% include wikipend.html %}

{% include wikip.html cn="科里狸" en="coriole" p="0" %}
{% include wikipend.html %}


{% include wikip.html cn="题猪" en="questpig" p="70" %}
  <li>量子猪场</li>
{% include wikipend.html %}

<!--
<li><a href="minko/">名柯狸</a></li>
<li><a href="dumbele/">邓布狸</a></li>
 -->

</div>





{% include cheader.html param="狸星系" %}


<div class="content">

{% include wikip.html cn="狸太阳" en="lesolar" p="85" %}
  <li>伴星</li>
  <li>狸日珥</li>
  <li>霓天气</li>
{% include wikipend.html %}

</div>



{% include header.html param="狸母星" %}

<div class="content">

{% include wikip.html cn="同步电梯" en="#" p="0" %}
  <li>纳米蛛丝</li>
{% include wikipend.html %}

{% include wikip.html cn="棉花糖层" en="marshosphere" p="70" %}
  <li><a href="marshosphere/index.html#纳米棉花">纳米棉花</a></li>
{% include wikipend.html %}

<!-- {% include wikip.html cn="母星" en="leplanet" p="10" %}
  <li>大月</li>
  <li>小月</li>
  <li>天坑</li>
{% include wikipend.html %} -->

</div>

{% include header.html param="天然天体" %}

<div class="content">
<!--
{% include wikip.html cn="狸星系" en="lesystem" p="10" %}
  <li>太阳</li>
{% include wikipend.html %}
 -->

{% include wikip.html cn="岁星" en="coronus" p="10" %}
  <li>岁星环</li>
{% include wikipend.html %}

<!--
<ul>
  <li></li>
  <li>狸火星</li>
  <li>狸水星</li>
  <li>狸木星</li>
  <li>狸冰星</li>
</ul>
<ul>
  <li>光学预警系统</li>
</ul>
<ul>
  <li>水能站</li>
  <li>木能站</li>

-->

{% include wikip.html cn="孪星" en="#" p="0" %}
<li>孪星A</li>
<li>孪星B</li>
<li>黑洞B</li>
{% include wikipend.html %}

</div>

{% include header.html param="人造天体" %}

<div class="content">

{% include wikip.html cn="戴森泡" en="dysonbubble" p="10" %}
<li>第零代（银星）</li>
<li>第一代</li>
</ul><ul>
<li>第二代</li>
<li>第三代（戴森点）</li>
{% include wikipend.html %}

{% include wikip.html cn="摄动球" en="perturbationstar" p="50" %}
  <li>后羿工程</li>
  <li>双子星工程</li>
{% include wikipend.html %}

{% include wikip.html cn="原子空间" en="atomspace" p="0" %}
{% include wikipend.html %}


</div>



{% include cheader.html param="星夜市" %}

<div class="content">


{% include wikip.html cn="星夜市" en="sternennacht" p="0" %}
{% include wikipend.html %}

{% include wikip.html cn="SHU" en="shu" p="10" %}
{% include wikipend.html %}

{% include wikip.html cn="C 塔台" en="ctower" p="0" %}
  <li>富勒狸</li>
{% include wikipend.html %}

{% include wikip.html cn="步行街" en="#" p="0" %}
  <li>无间断传送带</li>
{% include wikipend.html %}


<!-- <li>Bio7 实验室</li>
<li>萌酱家 （防核掩体）</li> -->


</div>


<!-- 机构

<ul>
  <li>星矿资源</li>
  <li>W 公司</li>
</ul> -->




{% include cheader.html param="科幻综述" %}

<div class="content">


{% include wikip.html cn="狸文明史" en="#" p="0" %}
  <!-- <li>信前时代</li> -->
{% include wikipend.html %}

{% include wikip.html cn="文明分级" en="civillevel" p="70" %}
  <li><a href="lecivil/">狸星文明</a></li>
  <li>小型强相互作用文明</li>
{% include wikipend.html %}


{% include wikip.html cn="工具分级" en="#" p="0" %}
<li>玩具级</li>
<li>民用级</li>
<li>工程级</li>
<li>武器级</li>
{% include wikipend.html %}


</div>



{% include cheader.html param="科幻理论" %}

<div class="content">

{% include wikip.html cn="色动力学" en="#" p="0" %}
  <li>色动场论</li>
  <li>色弱耦合</li>
  <li>零真空</li>
  <li>负真空</li>
{% include wikipend.html %}

{% include wikip.html cn="星际武器" en="#" p="0" %}
  <li>蓝脉冲</li>
  <li>中微化场</li>
{% include wikipend.html %}

{% include wikip.html cn="星际交易" en="#" p="0" %}
  <li>星际知识产权</li>
  <li>传授装置</li>
{% include wikipend.html %}


</div>




{% include cheader.html param="技术工具" %}


<div class="content">

{% include wikip.html cn="Q 电池" en="qbattery" p="50" %}
{% include wikipend.html %}

{% include wikip.html cn="光杖" en="lightwand" p="50" %}
<li>工程光杖</li>
<li>光杖基站</li>
<li>武器光杖</li>
{% include wikipend.html %}

{% include wikip.html cn="零剑" en="#" p="0" %}
{% include wikipend.html %}



<!--
{% include wikip.html cn="空气炮" en="#" p="10" %}
{% include wikipend.html %}

<li>工程板</li>
<li>空气笔</li>

<li>狐狸清洁机</li>

<li><a href="collisionpoweredtransportball/">变轨弹球</a></li>
<li>快递空投包 （微型信标）</li>
<li>智能花洒</li>
<li>楞次陷阱</li>

 -->

</div>






{% include cheader.html param="社会文化" %}

<div class="content">

{% include wikip.html cn="利共体" en="#" p="0" %}
  <li>狸庆节</li>
{% include wikipend.html %}

{% include wikip.html cn="管理员神" en="adminism" p="70" %}
  <li><a href="adminism/index.html#根权限">根权限</a></li>
{% include wikipend.html %}

{% include wikip.html cn="比特狸" en="maninqbits" p="20" %}
  <li><a href="maninpicture">画中狸</a></li>
</ul><ul>
  <li>志愿工作</li>
  <li>志愿计算</li>
{% include wikipend.html %}

{% include wikip.html cn="狸猫" en="lecat" p="50" %}
{% include wikipend.html %}


{% include wikip.html cn="娱乐" en="#" p="0" %}
  <li>双秋千</li>
  <li>钻雪</li>
{% include wikipend.html %}


<!-- 文化

<div class="active">
<ul>
  <li>豆浆党</li>
  <li>牛奶党</li>
  <li><a href="nobeleprize/">诺贝狸奖</a></li>

  <li>宣誓词 （学生）</li>
</ul>
</div> -->


</div>










