---
layout: index
author: 百科
title: 主页
---

{% include cheader.html param="不科学系列" %}
<div class="content">
  <p>不科学系列位于狸星时间轴 90～110 世纪。</p>
  <p>注：括号表示子词条</p>
</div>

{% include header.html param="人物设定" %}

<div class="active">
<ul>
<p>注：头身的比例计算为到头顶（不算耳朵）</p>
  <p>三头身人物组：</p>
  <li><a href="moele/">萌狸狸</a></li>
  <li><a href="cyanko/">酱紫狸</a></li>
  <li><a href="firele/">火狸狸</a></li>
</ul>
<!-- <ul>
  <li>元子狸</li>
  <li>玫狸狸</li>
</ul> -->
<ul>
  <p>二头身人物组：</p>
  <li>萌小狸</li>
  <li><a href="minko/">名柯狸</a></li>
</ul>
<ul><p>只有头人物组：</p>
<li><a href="questpig/">题猪</a> （<a href="questpig/index.html#量子猪场">量子猪场</a>）</li>
  <li><a href="matica/">麦卡</a></li>
	<li><a href="ika">依卡</a></li>
</ul>
<ul><p>四头身人物组：</p>
	<li><a href="moedale/">萌大狸</a></li>
  <li><a href="moeyale/">萌芽狸</a></li>
  <li>萌理狸</li>
</ul>
<!-- <ul>
  <li>致子狸</li>
  <li>靛紫狸</li>
  <li>赤狸狸</li>
  <li>红狸狸</li>
</ul> -->
<ul>
  <li><a href="coriole/">科氏狸</a></li>
  <li><a href="dumbele/">邓布狸</a></li>
</ul>
</div>

{% include header.html param="环境设定" %}

<div class="active">
<ul>
	<li><a href="leplanet/">狸星</a> （
	<a href="leplanet/index.html#光学预警系统">光学预警系统</a>
	<a href="leplanet/index.html#戴森泡">戴森泡</a>
	<a href="leplanet/index.html#冰星球">冰星球</a>
  <a href="leplanet/index.html#迷你月亮">迷你月亮</a>
	<a href="leplanet/index.html#狸木星">狸木星</a>
	）</li>
</ul>
<ul>
  <li><a href="sternenhimmel/">星空市</a></li>
  <li><a href="shu/">SHU</a></li>
  <li>中央塔台</li>
</ul>
<ul>
  <li>萌酱家 （防核掩体）</li>
</ul>
</div>

{% include header.html param="文化设定" %}

<div class="active">
<ul>
  <li><a href="lename/">狸名</a> （信前时代）</li>
  <li><a href="lesuit/">狐狸服</a> （拓扑结构转换器）</li>
</ul>
<ul>
  <li>豆浆党</li>
  <li>牛奶党</li>
  <li><a href="nobeleprize/">诺贝狸奖</a></li>
</ul>
<ul>
  <li><a href="lecat/">狸猫</a></li>
  <li>钻雪</li>
</ul>
<ul>
  <li>宣誓词 （学生）</li>
</ul>
</div>

{% include header.html param="新技术" %}

<div class="active">
<ul>
  <li>狐狸清洁机</li>
  <li>空气笔</li>
</ul>
<ul>
	<li><a href="collisionpoweredtransportball/">变轨弹球</a></li>
  <li>快递空投包 （微型信标）</li>
  <li>智能花洒</li>
</ul>
</div>



{% include cheader.html param="科幻作品" %}

<div class="active">
<ul>
  <li><a href="civillevel/">文明分级</a></li>
  <li><a href="lecivil/">狸星文明</a></li>
  <li><a href="timeline/">狸星时间轴</a></li>
  <li>狸星人物氏谱</li>
</ul>
</div>

<div class="content">
<div class="fold">
  <div class="fold-head" onclick="isHidden('div1')">
    注：科幻作品尚未发布，阅读本组词条有剧透风险
  </div>
  <div class="fold-cont" id="div1" style="display:none">


{% include cheader.html param="30 世纪" %}

<div class="active">
<ul>
  <li>蓝星文明</li>
  <li>利益共同体</li>
  <li>球庆节</li>
</ul>
</div>

{% include header.html param="蓝星人物" %}

<div class="active">
<ul>
  <li>兔海德</li>
  <li>兔白洁</li>
  <li>兔安安</li>
  <li>兔小语</li>
  <li>兔一文</li>
  <li>兔泡泡</li>
</ul>
<ul>
  <li>兔萌萌</li>
</ul>
</div>

{% include header.html param="U(1) 级技术" %}

<div class="active">
<ul>
  <li>量子密钥</li>
  <li>空间拦截导弹网络</li>
</ul>
<ul>
  <li>巨磁阻线</li>
  <li>传授装置</li>
  <li>机器学习卫星</li>
</ul>
</div>


{% include cheader.html param="50 世纪" %}

<div class="active">
<ul>
  <li>小强文明 （ 星际交易 星际知识产权 ）</li>
</ul>
<ul>
  <li>第一代戴森泡</li>
</ul>
<ul>
  <li>蓝脉冲</li>
  <li>下界六号</li>
  <li>天坑 （纪念碑）</li>
</ul>
</div>

{% include header.html param="SU(3) 级技术" %}

<div class="active">
<ul>
  <li>色动力学</li>
  <li>色动场论</li>
  <li>零真空</li>
  <li>负真空</li>
</ul>
<ul>
  <li>夸克电池</li>
  <li>光杖 （ 工程 武器 ）</li>
  <li>物理学圣剑</li>
</ul>
<ul>
  <li>固有年龄</li>
</ul>
</div>


{% include cheader.html param="70 世纪" %}

<div class="active">
<ul>
  <li>求救文明 （ 生物思维量子化 生物思维计算机 大分子打印机 ）</li>
</ul>
<ul>
  <li>A 级技术壁垒</li>
</ul>
</div>

{% include header.html param="社会" %}

<div class="active">
<ul>
  <li>比特人</li>
  <li>志愿比特人 （ 志愿工作 志愿计算）</li>
  <li>画中人</li>
	<li>幽盘</li>
</ul>
</div>

{% include header.html param="SU(5) 级技术" %}

<div class="active">
<ul>
  <li>中微子弹</li>
  <li>中微子调制卫星</li>
</ul>
</div>


</div>
</div>
</div>
