---
layout: index
author: 百科
title: 主页
---

{% include cheader.html param="不科学系列" %}
<div class="content">
  <p>不科学系列位于狸星时间轴 90～110 世纪。</p>
  <p>（注：括号中为子词条）</p>
</div>

{% include header.html param="人物设定" %}

<div class="active">
<ul>
<p>注：头身的比例计算为到头顶（不算耳朵）</p>
  <p>三头身人物组：</p>
  <li><a href="moele/">萌狸狸</a></li>
  <li><a href="hashi/">葉紫狸</a></li>
  <li>火狸狸</li>
</ul>
<!-- <ul>
  <li>元子狸</li>
  <li>玫狸狸</li>
</ul> -->
<ul>
  <p>二头身人物组：</p>
  <li>萌小狸</li>
  <li><a href="minko/">名柯狸</a></li>
</ul>
<ul><p>只有头人物组：</p>
<li><a href="questpig/">题猪</a> （<a href="questpig/index.html#量子猪场">量子猪场</a>）</li>
  <li><a href="matica/">麦酱</a></li>
	<li><a href="ika">一卡</a></li>
</ul>
<ul><p>四头身人物组：</p>
	<li><a href="moedale/">萌大狸</a></li>
  <li><a href="moeyale/">萌芽狸</a></li>
</ul>
<!-- <ul>
  <li>萌理狸</li>
  <li>致子狸</li>
  <li>靛紫狸</li>
  <li>赤狸狸</li>
  <li>红狸狸</li>
</ul> -->
<ul>
  <li><a href="coriole/">科氏狸</a></li>
  <li><a href="dumbele/">邓布狸</a></li>
</ul>
</div>

{% include header.html param="太空环境" %}

<div class="active">
<ul>
  <li>狸母星</li>
  <li>迷你月亮</li>
  <li>狸火星</li>
  <li>狸水星</li>
  <li>狸木星</li>
  <li>狸冰星</li>
</ul>
<ul>
  <li>光学预警系统</li>
</ul>
<ul>
  <li>原子空间实验室</li>
</ul>
</div>

{% include header.html param="地面环境" %}

<div class="active">
<ul>
  <li><a href="sternenhimmel/">星空市</a></li>
  <li>中央塔台</li>
  <li>生物 7 实验室</li>
</ul>
<ul>
  <li>萌酱家 （防核掩体）</li>
  <li>W 公司</li>
</ul>
</div>

{% include header.html param="机构" %}

<div class="active">
<ul>
  <li><a href="shu/">SHU</a></li>
  <li>星矿资源</li>
  <li>W 公司</li>
</ul>
</div>

{% include header.html param="文化" %}

<div class="active">
<ul>
  <li>豆浆党</li>
  <li>牛奶党</li>
  <li><a href="nobeleprize/">诺贝狸奖</a></li>
</ul>
<ul>
  <li><a href="lecat/">狸猫</a></li>
  <li>钻雪</li>
</ul>
<!-- <ul>
  <li>宣誓词 （学生）</li>
</ul> -->
</div>

{% include header.html param="工具" %}

<div class="active">
<ul>
  <li>工程板</li>
  <li>柳叶刀</li>
  <li>空气炮</li>
  <li>空气笔</li>
</ul>
</div>

{% include header.html param="技术" %}

<div class="active">
<ul>
  <li><a href="lesuit/">狐狸服</a> （拓扑结构转换器）</li>
  <li>狐狸清洁机</li>
</ul>
</div>

{% include header.html param="其它" %}

<div class="active">
<ul>
	<li><a href="collisionpoweredtransportball/">变轨弹球</a></li>
  <li>快递空投包 （微型信标）</li>
  <li>智能花洒</li>
  <li>楞次陷阱</li>
</ul>
</div>



{% include cheader.html param="科幻理论" %}

{% include header.html param="综述" %}

<div class="active">
<ul>
  <li><a href="civillevel/">文明分级</a></li>
</ul>
<ul>
  <li><a href="lename/">狸名</a>
  （<a href="lename/index.html#序列码">序列码</a>）</li>
</ul>
</div>

{% include header.html param="太空工程" %}

<div class="active">
<ul>
  <li><a href="perturbationstar">摄动球</a> （ 三体解耦 双子星工程 ）</li>
</ul>
<ul>
  <li>戴森泡 （第零代 第一代 第二代）</li>
</ul>
<ul>
  <li>水能站</li>
  <li>木能站</li>
</ul>
</div>

{% include header.html param="色动力学" %}

<div class="active">
<ul>
  <li>色动场论</li>
  <li>色弱耦合</li>
  <li>零真空</li>
  <li>负真空</li>
</ul>
</div>

{% include header.html param="技术工具" %}

<div class="active">
<ul>
  <li><a href="lightwand/">光杖</a> （ 工程 武器 ）</li>
</ul>
</div>

{% include header.html param="文化思想" %}

<div class="active">
<ul>
  <li><a href="adminism/">管理员神教</a>
  （<a href="adminism/index.html#根权限">根权限</a>）</li>
</ul>
</div>









{% include cheader.html param="科幻作品" %}

<div class="active">
<ul>
  <li><a href="lecivil/">狸星文明</a></li>
  <li><a href="timeline/">狸星时间轴</a></li>
  <!-- <li>狸星人物氏谱</li> -->
</ul>
</div>

<div class="content">
<div class="fold">
  <div class="fold-head" onclick="isHidden('div1')">
    注：科幻作品尚未发布，阅读本组词条有剧透风险
  </div>
  <div class="fold-cont" id="div1" style="display:none">


{% include cheader.html param="30 世纪" %}

<div class="active">
<ul>
  <li>蓝星文明</li>
  <li>利益共同体</li>
  <li>球庆节</li>
</ul>
</div>

{% include header.html param="蓝星人物" %}

<div class="active">
<ul>
  <li>兔海德</li>
  <li>兔白洁</li>
  <li>兔安安</li>
  <li>兔小语</li>
  <li>兔一文</li>
  <li>兔泡泡</li>
</ul>
<ul>
  <li>兔萌萌</li>
</ul>
</div>

{% include header.html param="U(1) 级技术" %}

<div class="active">
<ul>
  <li>量子密钥</li>
  <li>空间拦截导弹网络</li>
</ul>
<ul>
  <li>巨磁阻线</li>
  <li>传授装置</li>
  <li>机器学习卫星</li>
</ul>
</div>


{% include cheader.html param="50 世纪" %}

<div class="active">
<ul>
  <li>小强文明 （ 星际交易 星际知识产权 ）</li>
</ul>
<ul>
  <li>第一代戴森泡</li>
</ul>
<ul>
  <li>蓝脉冲</li>
  <li>下界六号</li>
  <li>天坑 （纪念碑）</li>
</ul>
</div>

{% include header.html param="SU(3) 级技术" %}

<div class="active">
<ul>
  <li>夸克电池</li>
  <li>物理学圣剑</li>
</ul>
<ul>
  <li>固有年龄</li>
</ul>
</div>


{% include cheader.html param="70 世纪" %}

<div class="active">
<ul>
  <li>求救文明 （ 生物思维量子化 生物思维计算机 大分子打印机 ）</li>
</ul>
<ul>
  <li>A 级技术壁垒</li>
</ul>
</div>

{% include header.html param="社会" %}

<div class="active">
<ul>
  <li>比特人</li>
  <li>志愿比特人 （ 志愿工作 志愿计算）</li>
  <li>画中人</li>
	<li>幽盘</li>
</ul>
</div>

{% include header.html param="SU(5) 级技术" %}

<div class="active">
<ul>
  <li>中微子弹</li>
  <li>中微子调制卫星</li>
</ul>
</div>


</div>
</div>
</div>
