---
layout: wiki
categories: marshosphere
title: 棉花糖层
---
<!-- <blockquote>
  <p>“会被变成羽毛球。”</p>
</blockquote>
<hr /> -->

<div class="content">
  <a title="棉花糖层"><img src="marshosphere-sq.png" alt="棉花糖层" class="wiki" style="width: 200px;"></a>

  <p>唐氏棉化纤维大气层（Tang's marshosphere），简称棉花糖层，是狸星继同步电梯后的第二个行星级工程。</p><!-- 在分类上属于行星表面生态环境保护一期工程 -->

  <p>棉花糖层主要由漂浮的透明的纳米棉花纤维和黏性颗粒物构成。棉花糖层的作用是保护行星表面生态环境不受太空物体的袭击。任何在棉花糖层高速运动的固态物体，表面会迅速粘附纳米棉花，并持续生长形成一个锥形。袭击行星表面的物体会被包裹成羽毛球的形态，安全落到地面。</p>

  <p>棉花糖层的平均密度低于空气，漂浮在母星大气层电离层之上，覆盖到同步电梯层之下。自棉花糖工程完成后，狸星所有的太空航天器发射任务都必须升到同步电梯层进行。<span style="color:#666">（这是科幻 I 中最大的 flag →_→ ）</span></p>
  <br />
</div>

{% include header.html param="纳米棉花" %}

<div class="content">
  <p>35 世纪材料学家唐心狸在对同步电梯使用的纳米蛛丝材料进行尝试改进时，偶然发现了这种变异的纤维材料，它弱化了纳米蛛丝的韧性而使其更轻盈。该材料在当时没有看到任何应用价值。直到后来狸星共同体启动了流星防御计划，棉花糖方案在几百个方案中脱颖而出，最终由方糖工业于 35 世纪末布设完成。</p>
</div>


{% include header.html param="特殊情况" %}

<div class="content">
  <div class="fold">
    <div class="fold-head" onclick="isHidden('fold1')">
      （含剧透内容）
    </div>
    <div class="fold-cont" id="fold1" style="display:none">
<ul>
  <li>方糖工业曾利用棉花糖层封锁了所有狸星地面到太空的活动。</li>
  <!--<li>在 27 世纪同步电梯炸毁事件中，狸明号通过在棉花糖层中运动的同时高速自旋，制作出一根超长的纳米棉花纤维作为临时的同步电梯绳索来应急，其韧性约为纳米蛛丝制成的绳索的 5%。</li> -->
  <li>棉花糖层不能防御人为密集的攻击。用一连串流星连续袭击同一点，可局域地耗尽棉花糖层所储备的纤维，从而让后续的流星突破棉花糖保护层攻击到地表。</li>
</ul>
    </div>
  </div>
</div>


