---
layout: popsci
categories: s2p4
title: 关于物理学的几点思考
---
<blockquote>
  <p>这篇文章原本是最近写的某课程的作业，感觉整理的还不错，就发出来了～</p>
</blockquote>
<hr />

{% include cheader.html param="一、物理学是做什么的" %}

{% include header.html param="（一）普遍而基本的自然规律" %}

<div class="content">

<p>物理学包含的东西太多了，大到天体，小到粒子。<b>物理学是探讨物质的结构和运动基本规律的学科，致力于研究物质世界最普遍、最基本的规律。</b>在这个方向上，标准模型（standard model）是目前物理学最好的成果。标准模型把世界还原（reduction）为（1）存在：物质 （2）发生：相互作用。</p>
<p>（1）物质的结构（mechanics），即“是什么”的问题。在这个阶段，物理学的任务是将实际物体抽象为易于研究的数学模型，如质点，刚体，理想气体，良导体等。这些理想化的模型最后需要通过实验来证明是否能够足够好地近似现实世界，最后留下的好用的模型被写进教科书以及应用于工程。标准模型是目前已被验证的最微观层次的模型，指出世界由基本粒子构成，包括轻子和夸克，夸克可以构成质子和中子，然后和轻子中的一种：电子共同构成原子。而其它的基本粒子则用于解释在加速器中才会看到的各种高能微观现象。</p>
<p>（2）运动基本规律（dynamics），即“为什么”的问题，物理学的每一个子科目都有相应的动力学，如经典力学、热力学、电动力学、量子动力学，它们的任务都是总结出支配物体状态演化的方程，从而对物体未来的状态做出精确的预言。标准模型指出了四种相互作用力：引力、电磁力、弱相互作用力、强相互作用力，<b>目前人类几乎所有的技术都仅利用了电磁相互作用力而已。</b></p>

</div>

{% include header.html param="（二）理论，实验与计算" %}

<div class="content">

<p><b>现代物理学是一门理论和实验高度结合的精确科学。</b>从“理论假设”到“实验证实”的是理论物理学家，从“实验总结”到“理论规则”的是实验物理学家。关于实验与理论的关系，王竹溪先生的《理论物理研究中应该正确对待的几个问题》讲得很好：“要认识自然界的规律，需要理论和实验协同努力，但实验是更基本的。没有实验的资料，理论工作就是无源之水、无本之木，只是空谈。但是要使实验的设计有目的性，就需要理论的指导。”</p>
<p>有时人们还把计算作为物理学研究的第三类分工。计算物理的作用是模拟一些难以实施的实验，或者是为了节省实验成本。同时，通过对比模拟结果和实验结果，可以从侧面验证计算所基于的理论是否正确。不过，搞量子信息的人会说，在量子模拟实现之前，计算物理都不算真正的计算物理。这是指，传统的计算物理局限于模拟规律已知的过程，而量子模拟是构造量子态然后让其自然演化出结果，相当于在计算机里做一个微型实验，故被称为“真正的计算物理”。</p>

</div>

{% include header.html param="（三）归纳与演绎" %}

<div class="content">

<p>现代科学研究又可分为归纳研究和演绎研究（亦称为内禀（intensive）研究和外延（extensive）研究）。</p>
<p>归纳即先有现象后建立理论。<b>虽然做理论追求的是大道至简，但找到它的路途并不一定简单。</b>你们看到了简洁的万有引力定律，但它的背后是第谷花费毕生的精力观测得的数据，之后开普勒从数据的海洋中找出规律，最后牛顿发明了微积分才求解出了椭圆轨道。把繁杂的现象囊括在简单的定律中是物理学家喜欢做的事情，所以他们才会有“大统一”这种追求。</p>
<p>演绎即根据已有的理论推导应该发生的现象。前面我们花了很大力气把复杂的现象总结为一条条简短的规律，而到真正具体应用时，又得简单问题复杂化。然而，正是在这简化后又复杂化的过程中，人类完成了认识世界、改造世界的使命，实现了智慧生命的价值。</p>

</div>

{% include cheader.html param="二、物理学的特性" %}

{% include header.html param="（一）可证伪性，不可证实性，无穷尽性" %}

<div class="content">

<p>波普尔（Karl Popper）提出，一个能被称为“科学”的学科必须具有可证伪性（falsifiability）。例如有人宣称“我的车库里有一条看不见也摸不着的喷火龙”，这一论断既无法证明其成立也无法证明不成立。此时我们说，不能检验的观点没有科学价值。为什么是“证伪”而不是“证实”？因为<b>找不到反例不是有效证明</b>，有多少的正面事例也不能保证未来不会出现反例，这一“真伪不对称性”是波普尔哲学思想的核心。</p>
<p>物理学的理论都满足可证伪性的要求，即它们都是有可能被实验结果判定为错误的。只不过，我们目前为止并没有发现这些规律的反例，因此它们作为当下的有效理论被投入使用。曾谨言在《量子物理学百年回顾》一文中很好地说明了这一问题：“尽管迄今所有实验都肯定了量子力学的正确性，但这只表明：它在人类迄今实践所及的领域是正确的。量子力学并非绝对真理，量子力学并没有，也不可能，关闭人们进一步认识自然界的道路。量子力学与广义相对论之间的矛盾并未解决。量子力学理论的争论，或许是一个更深层次的争论的一部分。在进一步探索中，人们对自然界中物质存在的形式和运动规律的认识，也许还有更根本性的变革。”</p>
<p>然而哥德尔（Kurt Godel）指出，在一个逻辑自洽的理论范围内，总有一些命题是无法证明其真伪的，除非你跳出这个范围去讨论这个问题。例如建立这个体系的基本假设和公理，你的一切定理和证明结果都是从这些公理中得出的，而在这个体系内，你没有办法去证明这些假设和公理的真伪。</p>
<p>公理无法被证明，原因在于人类不可能彻底认识自然。我们观察到的实验结果无论重复多少次，最终仍是有限的，而未知总是无限的。现有的理论体系也许会在未来，在人类尚未认识的领域出现例外。到时候我们需要对理论进行发展，扩大我们的认知领域。<b>但注意，原有的定理在原来的公理系统依然有效。</b></p>

</div>

{% include header.html param="（二）可重复性，科学性" %}

<div class="content">

<p>既然无法证实，那么我们只能通过大量重复的实践来检验一个理论的有效性（此处不说正确性）。这一过程称为试错，而试错法对理论的修改和完善是没有止境的。</p>
<p>科学之所以“科学”，不是其内容有多正确，而是其研究方法很“科学”。<b>科学不是知识本身，更不是真理，而是一种获取知识的方法。</b>科学意味着其知识通过严谨的辩证、实验获得。如费曼（Richard Feynman）所说：“科学是一种方法，它教导人们：一些事物是怎样被了解的，什么事情是已知的，现在了解到什么程度（因为没有事情是绝对已知的），如何对待疑问和不确定性，证据服从什么法则，如何去思考事物，做出判断，如何区别真伪和表面现象。”</p>

</div>

{% include header.html param="（三）严格性，精确性" %}

<div class="content">

<p><b>科学规律是不以人类意志转移，超脱所有意识形态和人情世故的冷静事实。无论你相不相信它，它就在那里，不可抗拒地存在着。</b>费曼在参与挑战者号事故调查时说过：“想要在技术上成功，实情要凌驾于公关之上，因为大自然是不可欺骗的。”表达了自然界的法则远比人类的法规要严厉得多。</p>
<p>物理学带给人类的一个震惊的事实是：<b>这个世界是可以被理解的，而且是量化理解的。</b>基于数学的精确预言，是哲学、宗教、伪科学等所不具备的。如果把公式比作咒语，计算机就好比水晶球，掌握了科学规律的人类，是新世纪的预言家。</p>
<p>数学由于其公理的不可证伪性，不需要通过实践来检验，因此被划分为非科学。然而数学却是建立科学不可或缺的工具。马克思说过：“一门科学只有成功地运用数学时，才算达到了完善的地步。”此即现代科学和自然哲学的区别。一门学科只有在应用数学语言进行陈述后，才具备了严格性、精确性、无歧义性，才能被称为现代科学。</p>
<p>历史上，近代精密自然科学的创始人伽利略首先提出了加速度的概念，在此之前，人们只有笼统的快和慢的概念，有时指速度有时又指加速度。另一个例子是，“热量”和“温度”两个基本概念长期混淆不清，但一旦辨别清楚后，就使科学得到了飞速发展。在有了数学表达式后，用动能还是动量来描述运动又有过长期的争论。我认为这样的争论对理论物理的发展是有利的，今天我们知道，这两者都需要才能作为运动的全面量度。</p>

</div>

{% include header.html param="（四）不唯一性，不完美性" %}

<div class="content">

<p>科学理论可以不唯一。例如地心说用了几十层本轮来拟合，也能很好地预言行星未来的位置。通常，一个理论包含的假设越少，越简洁，与之符合的事实越多，越普遍，理论就越好。在前面的例子里，由于日心说是比地心说更简洁的理论，所以在后来取而代之。<b>但这并不是说地心说不是科学理论，它只是被淘汰了而已。</b></p>
<p>统计学家保克斯（George Box）说过：“所有模型都是错的，不过有些是有用的。”告诉我们面对理论存在误差和不完美性时应持有的态度：理论无所谓对错，只有好用不好用之分，理论永远是对现实世界的近似，要用发展的眼光看待它。所谓“终极真理”“绝对真理”是不存在的，是和科学精神相悖的。</p>

</div>

{% include header.html param="（五）普适性" %}

<div class="content">

<p>物理学最迷人之处在于普适性。哈佛的科尔曼（Sidney Coleman）在讲授量子场论时讲道：<b>“一个年轻的理论物理学家的生涯就是对简谐振子的了解不断深刻的过程。”</b>物理学的各个分支学科中都有线性的理论，非线性的是少数，这种线性导致各种基本的动力学现象都表现为简谐振子。</p>
<p>物理学的普适性还可以延伸至物理学之外，例如化学、生物、经济学等等。例如，宇宙间任何物体，不论其化学性质如何，或有无生命，都遵从物理学中的万有引力定律。一切变化和过程，无论它们是否具有化学的，生物或其他的特殊性质，都遵从物理学的所确立能量转化和守恒定律。这种跨学科的普适性带给人们的震撼无与伦比。</p>

</div>

{% include header.html param="（六）层展性" %}

<div class="content">

<p>层展性（emergence）是物理学的新鲜之处。物理学的定律在不同的、地点都有相同的形式，但在不同的尺度并没有一致性的要求。这就像是，<b>你到不同地点旅行，看到的都是相同的风景，反而在同一地点不同的尺度，它们是一个个崭新的世界</b>，各有着独特的物理学定律。</p>
<p>关于这一方面，凝聚态物理学家安德森（Philip Anderson）在文章 More is different 中进行过讨论。他指出，<b>还原论（reductionism）并不意味着建构论（constructionist）</b>，我们能将万物还原为简单基本定律，并不代表就能从这些定律出发重建整个宇宙。有了牛顿力学，我们可以预测两体运动，然而到了三体运动就会出现混沌现象，虽然支配它们的仍然是同样形式的方程。而当粒子数增加到阿伏加德罗常数个时情况又有变化了，我们能用统计力学来处理，然而统计力学是和牛顿力学完全不同的理论了。</p>
<p>虽然微观层次的理论可以帮助理解宏观层次的一些现象，但宏观的层次也会出现在其基础的层次中所没有的现象。不同层次的学科有其独特的基本规律，生命也不是能通过构成生命的所有原子的简单堆砌来理解的。</p>

</div>

{% include cheader.html param="三、为什么要研究物理" %}

{% include header.html param="（一）基础理论的研究超前其应用" %}

<div class="content">

<p>物理学（数学亦如此）研究比较微妙的一点是，研究者通常并不知道他的研究会有什么实际应用价值。基础研究的成果就像初生的婴儿，在目前不知道有什么用，但谁能确定他将来是不是个巨人？罗巴切夫斯基在1820年代发展的非欧几何，在1920年代才被用于爱因斯坦的广义相对论。伽罗瓦在1830年代创立的群论，在1930年代才被维格纳用于原子分子物理，之后发展为凝聚态和粒子物理中重要工具。</p>
<p>物理学家罗兰（Henry Rowland）在《对纯粹科学的呼吁》中写道：“我经常被问道，对于这个世界来说什么更重要：纯粹科学还是应用科学？为了让科学能够应用，科学本身必须存在。如果我们停止对科学的发展，只关注对其的应用，很快我们就会像中国人一样堕落。他们在科学上已经世世代代没有进步，因为他们只满足于科学的应用，而从没有想过他们能这样做的原因。原因就是纯粹科学。几个世纪以来，他们知道火药的应用，但却不知道它们具有这些神奇性质的原因。如果用正确的方式寻找，他们将会发展出化学，甚至物理学，以及与之相关的无穷无尽的应用。但他们只满足于火药会爆炸这一事实，而不深入发掘。在世界发展前进的浪潮中，他们已经远远落在了后面。”</p>
<p>《百年明镜季羡老》一文中也提及了同样的问题：“我去看季老时大部分是问病，或聊天，从不敢谈学问。但见面多了，我还是从旁观的角度提了许多可笑的问题。有一次我问他：‘季老，您研究吐火罗文，研究那些外国古代的学问，总是让人觉得很遥远，对现实有什么用？’他没有正面回答，说：‘学问，不能拿有用还是无用的标准来衡量，只要精深就行。当年牛顿研究万有引力时知道有什么用？事实上，所有的科学家在开始研究一个原理时，都没有功利主义地问它有何用，<b>只要是未知，他就去探寻，不问结果。至于有没有用，那是后人的事。</b>’先生在回答这个问题时的那一份平静，深深地印在我的脑子里。”</p>

</div>

{% include header.html param="（二）对美的破译带来另一种美感" %}

<div class="content">

<p>有人说科学破译了美的原理，就像揭穿了魔术师的手法一样，使得人们欣赏它时不再有趣。我觉得不然，在知道彩虹形成的原理后，我依然可以欣赏它跨越天际的美。科学扼杀了我们对彩虹的尽头有一桶金子的幻想，但我知道，此时空气中无数的小水珠组成一面巨大的屏幕，才能让我在这个特定的角度观赏自然光的色散现象，这何尝不是另一种欣赏方式。虽然科学告诉我们月球上没有嫦娥，玉兔，只有冷冰冰的环形山，但当我赏月时，我会情不自禁的想到太阳正在我看不见的那个方向，那个角度，照亮着月球，从而感叹宇宙之大，人类之渺小，<b>这何尝不是另一种情怀。</b></p>
<p>科学也并没有扼杀人类幻想的天地。科学否定了人们曾今那些天真的童话，但同时也给了人们另一种想象空间：<b>科幻</b>。而这个想象空间同样很美好，同样很精彩。</p>

</div>


{% include cheader.html param="参考文献" %}

<ol>
<li>赵凯华. 新概念物理教程－力学（第二版）[M]. 北京：高等教育出版社，2004.</li>
<li>王竹溪. 理论物理研究中应该正确对待的几个问题 [J]. 物理，1978，(1).</li>
<li>[美] 卡尔•萨根. 魔鬼出没的世界——科学，照亮黑暗的蜡烛 [M]. 李大光，译. 吉林人民出版社，1998.</li>
<li>爱因斯坦. 物理学的进化 [M]. 上海：上海科技出版社. 1962: 24.</li>
<li>曾谨言. 量子物理学百年回顾[J]. 物理，2003，32(10): 0-0. </li>
<li>梁衡. 百年明镜季羡老. 新华文摘 [J]. 2009, 18: 11.</li>
<li>松鼠会. 什么是科学 [Z]. http://songshuhui.net/archives/52008.</li>
<li>[美] 费曼. 拉丁美洲的物理教学问题. 第一次美洲物理教育会议, 1963.</li>
<li>Box, G. E. P. (1976), "Science and Statistics" (PDF), Journal of the American Statistical Association 71: 791–799.</li>
<li>Anderson P. W. More is different: broken symmetry and the nature of the hierarchical structure of science[J]. Science, 1972, 177(4047): 393-396.</li>
<li>Rowland H. A. A plea for pure science[J]. Science, 1883: 242-250.</li>
</ol>


