---
layout: index
author: 不科学系列
title: 主页
---
{% include header.html param="第二季作品目录" %}

<div class="content">

<table>
<tr>
  <th>分类</th>
  <th>标题</th>
  <th>状态</th>
</tr>

<tr>
  <td>s2m3</td>
  <td>萌狸主角故事：豆浆雷达</a></td>
  <td>
    <div class="fold">
      <div class="fold-head" onclick="isHidden('folds2m3')">
        计划中（2015.06.15）
      </div>
      <div class="fold-cont" id="folds2m3" style="display:none">
        <table>
          <tr><td>列入计划</td><td>2015.06.15</td></tr>
        </table>
      </div>
    </div>
  </td>
</tr>
<tr>
  <td>s2m2</td>
  <td>麦酱主角故事：穿越的萌狸</a></td>
  <td>
    <div class="fold">
      <div class="fold-head" onclick="isHidden('folds2m2')">
        计划中（2015.06.02）
      </div>
      <div class="fold-cont" id="folds2m2" style="display:none">
        <table>
          <tr><td>列入计划</td><td>2015.06.02</td></tr>
        </table>
      </div>
    </div>
  </td>
</tr>
<tr>
  <td>s2m1</td>
  <td>题猪主角故事：罗素悖论</a></td>
  <td>
    <div class="fold">
      <div class="fold-head" onclick="isHidden('folds2m1')">
        计划中（2015.03.10）
      </div>
      <div class="fold-cont" id="folds2m1" style="display:none">
        <table>
          <tr><td>列入计划</td><td>2015.03.10</td></tr>
        </table>
      </div>
    </div>
  </td>
</tr>
</table>

<p> </p>

<table id="filters2">
<tr>
	<th>分类</th>
	<th>标题</th>
	<th>原问答</th>
	<th>状态</th>
</tr>

<tr>
	<td>s2n1</td>
	<td><a href="s2n1/index.html">
		钻石矿的小行星
	</a><!--  - <a href="#">花絮</a> --></td>
	<td><a href="http://www.guokr.com/question/583518/">↗</a></td>
	<td>
		<div class="fold">
			<div class="fold-head" onclick="isHidden('folds2n1')">
				已发布（2015.04.23）
			</div>
			<div class="fold-cont" id="folds2n1" style="display:none">
				<table>
          <!-- <tr><td>花絮发布</td><td></td></tr> -->
					<tr><td>果壳发布</td><td>2015.04.23</td></tr>
					<tr><td>审稿结束</td><td>2015.04.20</td></tr>
					<tr><td>初稿完成</td><td>2015.04.08</td></tr>
					<tr><td>开始制作</td><td>2014.02.15</td></tr>
					<tr><td>列入计划</td><td>2014.12.10</td></tr>
				</table>
			</div>
		</div>
	</td>
</tr>
</table>

</div>

{% include header.html param="第一季作品目录" %}

<div class="content">
<input name="key" type="text" id="key" onkeypress="onSearch(this,'filters1')" onpaste="onSearch(this,'filters1')" oninput="onSearch(this,'filters1')" value=""/>
	<p>（默认只列出加入重制计划的第一季作品，查看完整列表<a href="http://www.guokr.com/blog/793041/">↗</a>请在搜索框中输入回车）</p>

	<table id="filters1">
		<tr>
			<th>分类</th>
			<th>原问答</th>
		</tr>
		<tr><td>[206]</td><td><a href="http://www.guokr.com/question/509627/"> 如果把一粒正电子放在手上会怎么样？</a></td></tr>
		<tr><td>[79]</td><td><a href="http://www.guokr.com/question/558131/"> 如果将手放进大型粒子碰撞器里面会发生什么事？ 或者说会有怎么</a></td></tr>
		<tr><td>[91]</td><td><a href="http://www.guokr.com/question/553451/"> 假设不考虑太阳热量的影响，一颗温度为1万度，重量和地球相同的</a></td></tr>
		<tr><td>[83]</td><td><a href="http://www.guokr.com/question/515670/"> 我突然在想，如果造一面大镜子反射太阳会怎么样？</a></td></tr>
		<tr><td>[103]</td><td><a href="http://www.guokr.com/question/494874/"> 有没有可能存在由水构成的星球？</a></td></tr>
		<tr><td>[142]</td><td><a href="http://www.guokr.com/question/531381/"> 一张纸折叠50次后，高度有地球到太阳的距离，那么这张纸该有多</a></td></tr>
		<tr><td>[74]</td><td><a href="http://www.guokr.com/question/500327/"> 一个天体要有多小，人类站在其地表才能明显看出其地平线的弧度？</a></td></tr>
		<tr><td>s1n4</td><td><a href="http://www.guokr.com/question/512516/"> 那么如果胡夫金字塔在体积不变的前提下质量增加，最终达到黑洞密</a></td></tr>
		<tr><td>s1n3</td><td><a href="http://www.guokr.com/question/511806/"> 那么如果胡夫金字塔在体积不变的前提下质量增加，最终达到中子星</a></td></tr>
		<tr><td>s1n2</td><td><a href="http://www.guokr.com/question/506841/"> 如果金字塔体积不变，质量增加，使得密度是白矮星的密度，会发生</a></td></tr>
		<tr><td>s1n1</td><td><a href="http://www.guokr.com/question/507354/"> 如果把白矮星切下一立方厘米放在地球上，会“解压缩”吗？</a></td></tr>
		<tr style="display:none"><td>[250]</td><td><a href="http://www.guokr.com/question/576453/"> 如果我沿着地轴挖一条笔直的洞，先别考虑我能不能做到（如果没被</a></td></tr>
		<tr style="display:none"><td>[156]</td><td><a href="http://www.guokr.com/question/558421/"> 如果月球瞬间变成一个等体积的苹果会怎样？</a></td></tr>
		<tr style="display:none"><td>[148]</td><td><a href="http://www.guokr.com/question/514235/"> 如果将一枚硬币以3倍音速（1030m/s）的初速度射出，需要</a></td></tr>
		<tr style="display:none"><td>[108]</td><td><a href="http://www.guokr.com/question/527868/"> 激光能射到海底吗？</a></td></tr>
		<tr style="display:none"><td>[108]</td><td><a href="http://www.guokr.com/question/488950/"> 如果一滴热水，在足够高的高空中滴落下来是会变冷还是变热？ 是</a></td></tr>
		<tr style="display:none"><td>[82]</td><td><a href="http://www.guokr.com/question/381641/"> 假如地球上所有的人同一时间向西跑，会不会加快地球自转呢？</a></td></tr>
		<tr style="display:none"><td>[92]</td><td><a href="http://www.guokr.com/question/493567/"> 把水放在真空中会怎么样？</a></td></tr>
		<tr style="display:none"><td>[86]</td><td><a href="http://www.guokr.com/question/506654/"> 人掉落到像木星土星这样的气态行星上会摔死吗？</a></td></tr>
		<tr style="display:none"><td>[79]</td><td><a href="http://www.guokr.com/question/557144/"> 能不能用强电流通过猪肉，使其变熟？</a></td></tr>
		<tr style="display:none"><td>[76]</td><td><a href="http://www.guokr.com/question/498082/"> 假设有一个魔法能让电荷消失，那么会发生什么？</a></td></tr>
		<tr style="display:none"><td>[74]</td><td><a href="http://www.guokr.com/question/557855/"> 假如太阳系脱离了银河系进入到星系空间会怎么样啊？</a></td></tr>
		<tr style="display:none"><td>[67]</td><td><a href="http://www.guokr.com/question/512527/"> 如果太阳系内部都均匀分布着气体，密度及成分和地球表面大气一样</a></td></tr>
		<tr style="display:none"><td>[63]</td><td><a href="http://www.guokr.com/question/570973/"> 像用上下可以把正方形扔出二维，怎么把正方体扔出三维？</a></td></tr>
		<tr style="display:none"><td>[62]</td><td><a href="http://www.guokr.com/question/578970/"> 人脑的计算速度能够和超级计算机比么？</a></td></tr>
		<tr style="display:none"><td>[61]</td><td><a href="http://www.guokr.com/question/557945/"> 库仑力消失后，地球会发生“超新星爆发”吗？</a></td></tr>
		<tr style="display:none"><td>[39]</td><td><a href="http://www.guokr.com/question/488384/"> 太阳系里面一颗小行星可能把月球撞到地球上来么？</a></td></tr>
		<tr style="display:none"><td>[34]</td><td><a href="http://www.guokr.com/question/577827/"> 如果全世界的电脑软硬件都融为一体能有多厉害？</a></td></tr>
		<tr style="display:none"><td>[32]</td><td><a href="http://www.guokr.com/question/242711/"> 彗星撞击地球太平洋将会造成什么结果？</a></td></tr>
		<tr style="display:none"><td>[31]</td><td><a href="http://www.guokr.com/question/496859/"> 假如地球既不公转也不自转，那会发生什么？</a></td></tr>
		<tr style="display:none"><td>[25]</td><td><a href="http://www.guokr.com/question/508703/"> 多大的风能把一个60公斤重的人吹上天？</a></td></tr>
		<tr style="display:none"><td>[25]</td><td><a href="http://www.guokr.com/question/523470/"> 在太空中的水球的水压公式是什么样的？</a></td></tr>
		<tr style="display:none"><td>[25]</td><td><a href="http://www.guokr.com/question/545415/"> 全国人民连起来能绕地球几圈？</a></td></tr>
		<tr style="display:none"><td>[24]</td><td><a href="http://www.guokr.com/question/552509/"> 地球需要多久才会被太阳引力锁定？</a></td></tr>
		<tr style="display:none"><td>[24]</td><td><a href="http://www.guokr.com/question/559943/"> 如果风的速度超过音速，会发生什么？风中静止不动的物体会发生音</a></td></tr>
		<tr style="display:none"><td>[23]</td><td><a href="http://www.guokr.com/question/579943/"> 原子弹来了如何自救？</a></td></tr>
		<tr style="display:none"><td>[17]</td><td><a href="http://www.guokr.com/question/500519/"> 后羿射日的箭初动能是多少以及耐热能力？</a></td></tr>
		<tr style="display:none"><td>[17]</td><td><a href="http://www.guokr.com/question/555367/"> 如果物质的所有微粒间都没了间隙会怎么样？</a></td></tr>
		<tr style="display:none"><td>[16]</td><td><a href="http://www.guokr.com/question/539100/"> 将 6.02*10^23个网球，放入底面为北京市大小的无限高</a></td></tr>
		<tr style="display:none"><td>[14]</td><td><a href="http://www.guokr.com/question/490168/"> 在太空中向地球扔一张纸会怎样？</a></td></tr>
		<tr style="display:none"><td>[14]</td><td><a href="http://www.guokr.com/question/530792/"> 宇宙旅行过程中看电视会怎么样？</a></td></tr>
		<tr style="display:none"><td>[14]</td><td><a href="http://www.guokr.com/question/531673/"> 哆啦A梦里的竹蜻蜓如何能起飞？物理原理是怎样的？可以制造出这</a></td></tr>
		<tr style="display:none"><td>[12]</td><td><a href="http://www.guokr.com/question/494667/"> 理科生们，我刚刚百度了一下奥特曼，人家说奥特曼40米高，30</a></td></tr>
		<tr style="display:none"><td>[12]</td><td><a href="http://www.guokr.com/question/559811/"> 一束电子束打到中子星上会发生什么？</a></td></tr>
		<tr style="display:none"><td>[10]</td><td><a href="http://www.guokr.com/question/499854/"> 如何能更好保存自己的DNA？</a></td></tr>
		<tr style="display:none"><td>[10]</td><td><a href="http://www.guokr.com/question/581778/"> 想到个开脑洞的问题，歌词“你也许不会懂，从你说爱我以后，我的</a></td></tr>
		<tr style="display:none"><td>[9]</td><td><a href="http://www.guokr.com/question/529574/"> 如果你从外星人那里得到了远远超过地球上的计算速度的超级计算机</a></td></tr>
		<tr style="display:none"><td>[8]</td><td><a href="http://www.guokr.com/question/513776/"> 为什么果壳上有那么多关于白矮星/中子星/黑洞的问题？</a></td></tr>
		<tr style="display:none"><td>[8]</td><td><a href="http://www.guokr.com/question/513788/"> 如果真有人服下APTX4869,那么会发生什么事？</a></td></tr>
		<tr style="display:none"><td>[8]</td><td><a href="http://www.guokr.com/question/563825/"> 如果雨足够大，能让人游到天上吗？</a></td></tr>
		<tr style="display:none"><td>[8]</td><td><a href="http://www.guokr.com/question/571367/"> 如果我们自己以及周围所有世界的尺寸全部都扩大一倍或者缩小一半</a></td></tr>
		<tr style="display:none"><td>[8]</td><td><a href="http://www.guokr.com/question/579539/"> 孙悟空变成蚊子时体积变小了</a></td></tr>
	</table>
</div>




{% include header.html param="告示牌" %}

<div class="active">
<ul>
  <li><a href="notsci.html">不科学系列作品创作流程</a></li>
  <li><a href="season2.html">第二季作品说明</a></li>
  <li><a href="season1.html">第一季作品说明</a></li>
</ul>
</div>



{% include header.html param="同类作品" %}

<div class="active">
<ul>
	<li><a href="http://what-if.xkcd.com/">what-if@xkcd</a></li>
	<li><a href="http://user.yeeyan.org/articles/235419/translation">猪的米@译言</a></li>
	<li><a href="http://www.guokr.com/article/439435/">Ent</a></li>
	<li><a href="http://www.fnal.gov/pub/ferminews/santa/">fnal</a></li>
</ul>
<ul>
	<li><a href="https://physics.le.ac.uk/journals/index.php/pst/issue/view/16">Physics Special Topics</a></li>
  <li><a href="http://www.askamathematician.com/">Ask a Mathematician / Physicist</a></li>
</ul>
</div>


