---
layout: wiki
categories: questpig
title: 题猪
---
<blockquote>
	<p>Ph.D. -- pig has dream</p>
</blockquote>
<hr />

{% include header.html param="题猪的生成" %}

<div class="content">
	<p>题猪（Questpig），一种在自然界中天然生成的生物。<s>狸神觉得这个世界太无趣了，说：要有脑洞，于是</s>空间中便充满了量子猪场（Pigon field）。每当有人产生一个不靠谱的想法时，就有一只题猪从量子猪场中激发出来，飘荡在高维空间中。</p>
</div>

{% include header.html param="题猪的形象" %}

<div class="content">
	<a title="题猪"><img src="questpig.gif" alt="题猪" class="wiki" style="width:100px;"></a>
	<p>题猪能够自行选择参与哪些与现实世界物质的相互作用，当它开始与现实世界产生相互作用时，会同时在现实世界产生一个可视的投影，这个投影就是人们所看到的题猪的形象。<s>因为作者很懒，所以</s>题猪的外形是一个三角形向外变形而成，然后安两个同样由三角形变形出来的耳朵，表情则就是颜文字 =(∞)= </p>
	<p>题猪会保存少量生成它的题主的特征及性格。</p>
	<br />
</div>

{% include header.html param="题猪的目标" %}

<div class="content">
	<a title="萌狸与题猪"><img src="moeleandpig.jpg" alt="萌狸与题猪" class="wiki" style="width:360px;"></a>
	<p>题猪一生的追求就是看到生成它的那个不靠谱的想法的实现，因此大部分题猪都有极强的作死愿望。题猪为了达到目的，可做出超出目前物理学规律的事情，从而具有极高的科研价值。萌狸的工作就是收集自然界中的题猪，在可控的实验室环境下帮助题猪们实现<s>作死</s>愿望。</p>
	<br />
</div>

{% include header.html param="题猪的消失" %}

<div class="content">
  <a title="又一只永生的题猪诞生了"><img src="minkopig.jpg" alt="又一只永生的题猪诞生了" class="wiki" style="width:400px;"></a>
  <p>题猪在实现自己的愿望后，便会慢慢蒸发为量子泡沫，永久地从现实世界消失。</p>
  <p>然而对于题猪来说，消失并不可怕，它们存在过的信息将留在现实世界中。永生才是世界上最可怕的事情，意味着它们愿望永远无法实现。</p>
  <p>题猪的这种害怕生，追求死的人生观并不完全是一种黑白颠倒的人生观，用题猪自己的话来说，这是一种「朝闻道，夕死可矣」的人生观。</p>
  <br />
</div>

{% include header.html param="量子猪场" %}

<div class="content">
  <p>题猪的产生与消灭的动力学模型：</p>
</div>


{% include header.html param="题猪限制破坏法案" %}

<div class="content">
	<p>狸星 4??? 年，突然涌现出大量对金字塔感兴趣的题猪，导致金字塔的密度不断增加，最后险些毁坏整个狸星。从这一事件之后，题猪们被要求，任何可能具备公共破坏性的实验，必须寻求科研机构的支持才能进行。</p>
</div>

{% include header.html param="出场作品" %}

<div class="content">
<ol>
	<li><a href="/notsci/s2n1/">s2n1 钻石矿的小行星</a></li>
</ol>
</div>
