---
layout: lenote
categories: Math/a-l
title: 线性代数
---

{% include lefile1.html %}

{% include lefilei.html ca="Math" en="a-l" size="6.12" date="20160404" status="v2" %}

{% include lefile2.html %}

<li>线性空间<ol>
  <li>线性相关</li>
  <li>坐标变换</li>
  <li>基变换</li>
  <li>线性变换</li>
  <li>矩阵表示</li>
  <li>复合变换</li>
</ol></li>
<li>线性方程组<ol>
  <li>初等变换</li>
  <li>零空间</li>
  <li>行列式</li>
</ol></li>
<li>子空间<ol>
  <li>不变子空间</li>
  <li>本征多项式</li>
  <li>相似变换</li>
</ol></li>
<li>对偶空间<ol>
  <li>二次型</li>
  <li>合同变换</li>
</ol></li>
<li>内积空间<ol>
  <li>正交组</li>
  <li>最小二乘</li>
  <li>谱定理</li>
</ol></li>

{% include lefile3.html %}

<li>Lay. Linear Algebra and Its Applications (5). Pearson<ul>
  <li>中译: 刘深泉. 线性代数及其应用 (3). 机械工业出版社</li>
</ul></li>

{% include lefile4.html %}

<li>Axler. Linear Algebra Done Right (2). Springer<ul>
  <li>中译: 杜现昆. 线性代数应该这样学 (2). 人民邮电出版社</li>
</ul></li>
<li>Strang. Linear Algebra and Its Applications (4)</li>

{% include lefile5.html %}

