---
layout: lenote
categories: Math/a-m
title: 矩阵分析
---

{% include lefile1.html %}

{% include lefilei.html ca="Math" en="a-m" size="0.56" date="20160421" status="v1" %}

{% include lefile2.html %}

<li>矩阵术语<ol>
  <li>一元运算</li>
  <li>特殊矩阵</li>
  <li>对称厄米</li>
  <li>正交幺正</li>
  <li>正规对易</li>
  <li>相似合同</li>
</ol></li>
<li>二元运算<ol>
  <li>直和</li>
  <li>直积</li>
  <li>元素积</li>
</ol></li>
<li>行列式<ol>
  <li>秩</li>
  <li>迹</li>
</ol></li>
<li>范数<ol>
  <li>矩阵范数</li>
</ol></li>
<li>本征值<ol>
  <li>瑞利商</li>
</ol></li>
<li>奇异值<ol>
  <li>条件数</li>
  <li>伪逆</li>
  <li>广义逆</li>
</ol></li>
<li>工程矩阵</li>
<li>随机矩阵</li>
<li>矩阵微分<ol>
  <li>凸优化</li>
</ol></li>

{% include lefile3.html %}

<li>Horn. Matrix Analysis (2). Cambridge<ul>
  <li>中译: 杨奇. 矩阵分析. 机械工业出版社</li>
</ul></li>

{% include lefile4.html %}

<li>张贤达. 矩阵分析与应用（第二版）. 清华大学出版社</li>

{% include lefile5.html %}

