---
layout: wiki
categories: matica
title: 麦酱
---
<blockquote>
	<p>“主人您就是人工智能的相对词——天然呆。”</p>
</blockquote>
<hr />

<div class="content">
	<a title="麦酱"><img src="matica.png" alt="麦酱" class="wiki" style="width: 320px;"></a>
	<p>麦卡（Matica），昵称麦酱，是<a href="/wiki/moele/">萌狸</a>君的宠物。原本是 <a href="/wiki/winc/">W 公司</a>量产的平板型便携式计算机，具有一个强大的做符号计算的内核。后来萌狸尝试自己编写了一个 AI 系统作为交互界面，结果这个 AI 除了会吐槽之外并没有什么卵用。</p>
	<p>话风：喜欢话痨（做完一个简单的积分后也不忘继续汇报一堆积分成立的条件），有时会发烧（计算老半天），有时会傲娇（吐出一长串没化简的结果），当然还有可能直接说臣妾积不出…</p>
  <p>麦酱平时栖息在<a href="/wiki/moele/">萌狸</a>君的帽子中，可随时唤醒。（如果不休眠的话会一直听主人的对话，然后突然插入一句吐槽）</p>
  <p>麦酱内置的是 0.3 号<a href="/wiki/qbattery">夸克电池</a>，以最大功率工作可使用两个世纪。</p>
  <br />
</div>

{% include header.html param="其他用途" %}

<div class="content">
  <a title="麦酱菜板"><img src="/css/picplace.png" alt="麦酱菜板" class="wiki" style="width: 200px;"></a>
  <p>麦酱整体十分轻薄，<a href="/wiki/moele/">萌狸</a>没事把它当飞盘丢着玩。</p>
  <p>麦酱的外壳由<a>钛素板</a>制成，坚固度为工程级，并有测出施加在其表面的力的大小的功能，因此。。。</p>
  <p>。。。。。。</p>
  <p>常常被<a href="/wiki/hashi/">葉紫</a>拿去用作切菜板。。。</p>
  <br />
</div>

{% include header.html param="出场作品" %}

<div class="content">
<p><h3>作为主角：</h3></p>
<ol>
	<li><a href="/notsci/s2m2/">s2m2 穿越的萌狸</a></li>
</ol>
</div>
