---
layout: wiki
categories: moele
title: 萌狸
---
<blockquote>
	<p>“喂豆浆就卖萌～”</p>
</blockquote>
<hr />

<div class="content">
  <a title="萌狸狸"><img src="moelelepc.png" alt="萌狸狸" class="wiki" style="width: 100%;"></a>
  <p>萌狸（MoeLe），<a href="/wiki/lename/">全名</a>：萌狸狸 PC。11942 年出生于狸星母星，父亲：<a href="/wiki/moedale/">萌大狸 K</a>，母亲：<a href="/wiki/moeyale/">萌芽狸 i</a>。<a href="/wiki/shu/">SHU</a> 物理、数学、法学专业学生。</p>
  <p>爱好：喜欢喝豆浆，尝遍<a href="/wiki/sternenhimmel/">星空市</a>的所有豆浆店，能够根据豆浆的温度和甜度判断豆浆的来源、制作的时间等。如果不喝豆浆就会做饿梦，然后木有力气卖萌了…</p>
  <p>话风：喜欢把「的」说成「滴」，喜欢加「的说」。</p>
  <p>宠物：<a href="/wiki/matica/">麦酱</a></p>
  <p>工作：SHU 应用物理学计算密集型科研工作，同时业余时间喜欢收集自然界中的<a href="/wiki/questpig/">题猪</a>进行科学研究<s>，获得称号「虐猪狂人萌狸狸」</s>。</p>
  <br />
</div>

{% include header.html param="豆浆雷达" %}

<div class="content">
  <a title="豆浆雷达"><img src="/css/picplace.png" alt="豆浆雷达" class="wiki" style="width: 200px;"></a>
  <p>萌狸的天赋之一是豆浆雷达（Soya Radar）。萌狸的嗅觉异常灵敏，并在幼年的时候意外得到豆浆气味的熏陶，从此牢记并随时能准确识别豆浆的气味。正常情况下能以 $5 \sigma$ 置信度察觉百米范围内的豆浆源，在饿的时候灵敏度还将提升一个数量级。（在 s2m1 故事中，萌狸家距鲜饮店 1200 米）</p>
  <p>但在有强烈刺激性气味的环境中，豆浆雷达的信号会被噪声压制，无法给出正确判断。</p>
  <br />
</div>

{% include header.html param="降落尾巴" %}

<div class="content">
  <a title="降落尾巴"><img src="/css/picplace.png" alt="降落尾巴" class="wiki" style="width: 200px;"></a>
  <p>萌狸有一个大大的蓬松的尾巴，只要姿势正确的话，可以从普通建筑的高度安全地落到地面上。</p>
  <br />
</div>

{% include header.html param="晕动" %}

<div class="content">
  <a title="晕动"><img src="/css/picplace.png" alt="晕动" class="wiki" style="width: 200px;"></a>
  <p>萌狸对频繁的急动度和科氏加速度有晕眩反应，表现为晕车、晕船、晕真空隧道、晕离心式人工重力场，但不会晕在近地大气层飞行的亚音速飞行器、运载火箭、加速式人工重力场。</p>
  <br />
</div>

<!-- {% include header.html param="成就" %}

<div class="content">
<ol>
  <li>12154 年<a href="/wiki/nobeleprize/">诺贝狸</a>物理学奖，建立了题猪蒸发的动力学模型（s2m1，制作中）</li>
  <li>12153 年<a href="/wiki/nobeleprize/">诺贝狸</a>物理学奖，发现钻石矿小行星，发明<a href="/wiki/collisionpoweredtransportball/">变轨弹球</a></li>
  <li>12140 年<a href="/wiki/nobeleprize/">诺贝狸</a>数学奖，狸 PC 圆<a href="http://www.guokr.com/question/531381/">↗</a></li>
</ol>
</div> -->

{% include header.html param="出场作品" %}

<div class="content">
<p><h3>作为主角：</h3></p>
<ol>
  <li><a href="/notsci/s2n1/">s2n1 钻石矿的小行星</a></li>
</ol>
<p><h3>其他：</h3></p>
</div>
