---
layout: wiki
categories: timeline
title: 时间轴
---
<blockquote>
	<p>狸有九条命～</p>
</blockquote>
<hr />


{% include header.html param="当代事件" %}

<div class="content">
	<p>在狸星发生的当代事件的年代设定实际上是由蓝星时间按如下公式换算的：</p>
	<p>蓝星： <code>20XX 年 Y 月</code> </p>
	<p>狸星： <code>12XX(Y>10?9:(Y-1)) 年</code> </p>
	<p>因此，狸星人的平均寿命约为蓝星人的十倍，其他成长周期也都相应乘十。</p>

</div>


{% include header.html param="历史事件" %}

<div class="content">
<p>通过修改前两位数来把一个事件设定为历史事件，已设定的历史事件表见<a href="/wiki/lecivil/index.html#时间轴">狸星文明</a>词条。</p>
</div>



