---
layout: index
author: 项目
title: 主页
---

{% include header.html param="网页相关" %}

<div class="content">
  <p>关于狸站建设的 bug 反馈、改进建议等在此讨论。</p>
  <p><a href="/2048physics/index.html">2048 physics</a></p>
</div>

{% include header.html param="黑化系列" %}

<div class="content">
<p>【黑化系列】是一个关于定制暗色主题的系列项目。</p>
<ul>
  <li>【黑化系列】操作系统（Win7，资源管理器）</li>
  <li>【黑化系列】浏览器（Firefox，Stylish）</li>
  <li>【黑化系列】编辑器（Notepad++，Everedit，Sublime）</li>
  <li>【黑化系列】播放器（Potplayer，Foobar2000）</li>
  <li>【黑化系列】文档办公（SumatraPDF，Office，Adobe，Mathematica）</li>
  <li>【黑化系列】后记</li>
</ul>
</div>

{% include header.html param="雨滴系列" %}

<div class="content">
  <p> </p>
</div>
