---
layout: index
author: 项目开发
title: 主页
---



<div class="body">

{% include header.html param="游戏" %}

<div class="content">

  <a title="2048 Physics"><img src="2048.png" alt="2048 Physics" class="wiki" style="width: 150px;"></a>
  <p><h3><a href="/2048physics/">2048 Physics</a></h3></p>
  <p>2048 物理版（原设想尚未完全实现），加入了撤销功能。</p>
  <p><h3>创建时间：</h3>2014.03.21　<h3>最后更新：</h3>2015.02.10</p>
  <br />

  <a title="Minecraft PE Mod"><img src="skin.png" alt="Minecraft PE Mod" class="wiki" style="width: 150px;"></a>
  <p><h3><a href="https://github.com/LePtC/MC-PE-Mod">Minecraft PE Mod</a></h3></p>
  <p>探索 Minecraft PE 的 mod 能实现的功能，顺便练习 Javascript 。</p>
  <p><h3>创建时间：</h3>2014.07.17　<h3>最后更新：</h3>2015.08.29</p>
  <br />

</div>

</div>




<div class="body">

{% include header.html param="学习" %}

<div class="content">

  <a title="leptc.github.io"><img src="/css/moele.png" alt="leptc.github.io" class="wiki" style="width: 150px;"></a>
  <p><h3><a href="https://github.com/LePtC/LePtC.github.io">leptc.github.io</a></h3></p>
  <p>狸站是一个用文本编辑器完全从无到有编写出来的网站。</p>
  <p><h3>创建时间：</h3>2015.03.10　<h3>最后更新：</h3>{{ site.time | date: "%Y.%m.%d" }}</p>
  <br />

  <a title="LeNote"><img src="/lenote/lenotef5.jpg" alt="LeNote" class="wiki" style="width: 150px;"></a>
  <p><h3><a href="http://github.com/LePtC/LeNote">LeNote</a></h3></p>
  <p>LeNote 是服务于狸笔记的一个 LaTeX 模版开发项目。</p>
  <p><h3>创建时间：</h3>2014.08.18　<h3>最后更新：</h3>2016.02.16</p>
  <br />

</div>

</div>


<div class="body">

{% include header.html param="其它" %}

<div class="content">

  <a title="rainmeter"><img src="rainmeter.png" alt="rainmeter" class="wiki" style="width: 200px;"></a>
  <p><h3><a href="http://rainmeter.cn/cms/">rainmeter</a></h3></p>
  <p>雨滴是 Windows 平台上的一个有着强大定制功能的系统工具，2011~2013 期间项目共享在 deviantArt 网站上，不过现在国内访问不了这个网站了。</p>
  <br />

<!-- <p>定制 Windows 系统暗色主题的项目。</p> -->

</div>

</div>

