---
layout: wiki
categories: moele
title: 管理员神教
---
<blockquote>
  <p>“上帝是一个学物理的程序员。”</p>
</blockquote>
<hr />

<div class="content">
  <a title="管理员神教"><img src="/css/picplace.png" alt="管理员神教" class="wiki" style="width: 200px;"></a>
  <p>管理员神教（adminism），是原则上有可能取代「科学」的一类「宗教」。在狸星文明达到 $\mathbf{SU}(3)$ 级后期之后，各类古代宗教都渐渐消亡，管理员神教是此后唯一和科学并存的一类神学思想。</p>
  <br />
</div>


{% include header.html param="概述" %}

<div class="content">
  <p>管理员神教源于把蚂蚁社会和人类社会类比，我们生活的宇宙有可能从属于某个更高级的世界，由于这个世界远超当前智慧文明的理解能力，我们才无法意识到它的存在。</p>
  <p>通俗来说，对这个世界的认识已经不是科技问题了，而是智商问题，因此才交给神学来处理。管理员神教的主要工作便是寻找超级智慧存在的迹象。</p>
</div>


{% include header.html param="根权限" %}

<div class="content">
  <p>管理员神教原本只是个老套的哲学问题，但由于「根权限」的提出使它变成了一个有具体研究目标的课题。</p>
  <p>如果人们发现宇宙是一台计算机，然后掌握这个计算机最底层的指令机制，就可以用它随意编写这个宇宙的规律。管理员神教把这种方法命名为「 ROOT 大法」，而<b>这个 ROOT 大法原则上可以取代科学</b>，成为更高效的认识和改造自然的方法。</p>
  <p>然而在我们找到这么一台计算机前，科学仍是最有效的获取自然规律的方法，因此管理员神教徒在工作中亦会用到科学的方法。</p>
  <p>如果管理员神教胜利了，科学党们反而会很高兴，因为他们终于不用再做繁重的实验就可以直接掌握自然规律。因此科学党完全不反对管理员神教的发展，而是把他们视作研究一类特殊课题的科学工作者。</p>
</div>


