---
layout: wiki
categories: leplanet
title: 狸星
---
<div class="content">
	<p>狸星（Le Planet），处于<a href="/wiki/civillevel/"> $\mathbf{SU}(5)$ 级</a>发展阶段的文明，其地理设定和蓝星大部分相同，因此默认使用和蓝星相同的名词（「太阳」，「地球」，「月球」等），除了以下增加的元素：（随剧集的增加而更新）</p>
</div>


{% include header.html param="光学预警系统" %}

<div class="content">
	<p>光学预警系统由遍布太阳系的光学望远镜组成。</p>
</div>

{% include header.html param="戴森泡" %}

<div class="content">
	<p>位于水星轨道外<!-- ，焦点聚焦在狸水星 -->，是主要的狸星星际能源系统，同时兼有调制恒星光谱进行远程中微子通讯的作用。</p>
</div>

{% include header.html param="冰星球" %}

<div class="content">
	<p>位于哪我忘了，是星际中转的资源补给站。</p>
</div>

{% include header.html param="迷你月亮" %}

<div class="content">
  <p>由于星际采矿形成的人造月球，运行于和天然月球对称的位置。</p>
</div>

{% include header.html param="狸木星" %}

<div class="content">
	<p>狸木星的质量比蓝木星大，在科幻作品 II 中被活化，然后送入了两体文明以建立平衡。</p>
</div>

