---
layout: index
author: 2048 physics
title: 主页
---

<div class="body">

{% include header.html param="难版 2048 physics 终于填坑完成" %}


<div style="text-align:center">
<p style="font-size:2em">2014.03.21~2016.11.02</p>
<p style="font-size:1.3em">我们从未放弃</p>
<p style="font-size:1.3em">填好每一个坑</p>
</div>

<div class="content">

<table align="center">
<tr>
  <th><a href="0/" style="text-decoration:underline">原版</a> by LePtC</th>
  <th><a href="1/" style="text-decoration:underline">难版</a> by donizyo</th>
</tr>
<tr>
  <td>规则和原版 2048 相同，只不过名称替换为从超弦到超膜</td>
	<td>三个夸克才能合成一个强子，原子核和轻子才能合成原子，其它规则不变</td>
</tr>
</table>


<div style="text-align:center">
<p>（以上两个版本均有撤销功能）</p>
</div>


</div>



{% include header.html param="（以下是 LePtC 个人的广告）" %}

<div class="content">
  <p>同类游戏推荐：<a href="http://www.bilibili.com/video/av5880051/">Levels</a>（此为演示视频，手机流量党慎入）</p>
  <p>如果你知道好的算法，欢迎在此作答：<a href="https://www.zhihu.com/question/50048379">知乎</a></p>
</div>




</div>


