---
layout: lenote
categories: Phys/Ex
title: 实验
---

<!--
{% include lefile.html col="g" ca="Phys" en="Ex1" size="2.70" date="2015.05.26" status="草稿" %}

<div class="fold">
  <div class="fold-head" onclick="isHidden('div1')">
    实验笔记目录
  </div>
  <div class="fold-cont" id="div1">
  <ol>
    <li>形式逻辑<ol>
      <li>数理逻辑</li>
    </ol>
    </li>
    <li>理论物理</li>
    <li>误差分析</li>
    <li>量纲分析</li>
    <li>基本单位<ol>
      <li>数量级</li>
    </ol>
    </li>
  </ol>
  </div>
</div>

<div class="fold">
  <div class="fold-head" onclick="isHidden('div2')">
    实验参考书
  </div>
  <div class="fold-cont" id="div2">
  <h3>精：</h3>
  <ol>
  </ol>
  <h3>参：</h3>
  <ol>
  </ol>
  </div>
</div> -->


{% include lefile.html col="g" ca="Phys" en="希腊字母" size="2.65" date="2014.10.07" status="一周目完" %}

{% include lefile.html col="g" ca="Phys" en="CODATA2010" size="0.34" date="2013.08.25" status="一周目完" %}

{% include lefile.html col="g" ca="Phys" en="nuclear wallet card 2011-摘" size="0.74" date="2013.08.24" status="一周目完" %}


<div class="fold">
  <div class="fold-head" onclick="isHidden('div2')">
    实验参考书
  </div>
  <div class="fold-cont" id="div2">
  <h3>精：</h3>
  <ol>
    <li>Stöcker. Taschenbuch der Physik. Harri<ul>
      <li>中译: 吴锡真. 物理手册. 北京大学出版社</li>
    </ul></li>
  </ol>
  <h3>参：</h3>
  <ol>
    <li>Woan. The cambridge Handbook of Physics Formulas. Cambridge<ul>
      <li>中译: 喀兴林. 剑桥物理公式手册. 上海科技教育出版社</li>
    </ul></li>
  </ol>
  </div>
</div>

