---
layout: index-p
title: 版块规划
---

{% include header.html param="版块规划" %}

<div class="content">
  <p>狸站的主要用途为汇总整理 <a href="/author.html">LePtC</a> 过去乃至未来在网络上分享的作品及资料，在达到满意的完善度之前将长期处于内部测试阶段。</p>
  <p>网站目前按照作品形式分为以下版块：</p>
</div>

{% include header.html param="百科" %}

<div class="content">
  <p><a href="/wiki/">萌狸百科</a> 是跨版块的说明汇总书，以词条的形式对作品中出现的概念提供背景说(剧)明(透)。</p>
</div>

{% include header.html param="科幻" %}

<div class="content">
  <p>萌狸科幻（尚未上线） 是一系列科幻故事，大致是讲述狸星人民是如何在一百个世纪间把狸星系的 26 颗行星给浪得只剩 12 颗的故事。</p>
  <p>目前处于攒灵感阶段，最终攒成完整的作品可能还需几年的时间。</p>
</div>

{% include header.html param="不科学" %}

<div class="content">
  <p><a href="/notsci/">萌狸不科学系列</a> 是图文故事作品集，由于绘图工作量大，故明显比其它版块低产。</p>
</div>

{% include header.html param="看不懂" %}

<div class="content">
  <p><a href="/popsci/">萌狸看不懂系列</a> 是所有不脑洞的作品集，大部分为科普大杂烩，偶尔也画些有意思的图。</p>
</div>

{% include header.html param="狸笔记" %}

<div class="content">
  <p><a href="/lenote/">狸笔记</a> 是 LePtC 共享的物理、数学、外语等学科的笔记，记载了 LePtC 学过的知识及经验。</p>
  <p>预计本科阶段的笔记的第一版将于 2015 年底完结，第一版以后还会更第二版第三版…永久更新下去。</p>
</div>

{% include header.html param="项目" %}

<div class="content">
  <p>萌狸项目（尚未上线） 是诸如 <a href="/2048physics/">2048 physics</a> 的一些有意思的项目，上线时间未定。</p>
</div>

