---
layout: wiki
categories: soscivil
title: 求救文明
---
<blockquote>
	<p>文明已经死亡，却留下永生的个体。</p>
</blockquote>
<hr />

<div class="content">
	<p>求救文明（SOS Civil），一个曾发展到 $\mathbf{SU}(5)$ 级的文明。后该文明经历了一场超新星异常爆发（不排除为其他文明的打击），所有细胞生物均被辐射致死。</p>
	<p>然而该文明发展出了<a href="#生物思维数字化技术">生物思维数字化技术</a>，少数个体在弥留之际得以将自己的信息上传至<a href="#生物思维计算机">生物思维计算机</a>，这些数字化的永生个体构成该文明的最后成员。</p>
	<p>仅靠机器无法产生新的具有独立思维的个体，这个文明只能「复制」而不能「繁殖」。因此这些最后的机器的人把能够保存的生物尸体全部进行 DNA 测序然后冰冻保存，之后是漫长的等待：</p>
	<ol>
		<li>向宇宙各方向派出使者，寻找碳基真核细胞文明。</li>
		<li>该文明需达到 $\mathbb{N}^*$ 级智慧或以上，否则静候其自行发展。</li>
		<li>待文明达到能够与之交流的智慧水平后，向其求救。</li>
		<li>如果该文明同意接受帮助，则帮助其发展，直至出现<a href="#大分子打印机">大分子打印机</a>技术。</li>
		<li>借助该文明的细胞资源，孵化出本文明胚胎，恢复本文明。</li>
	</ol>
</div>


{% include header.html param="生物思维量子化技术" %}

<div class="content">
	<p>一种将智慧生物的思维转移到生物量子计算机上运行的技术，海量分子量子态的传输需要高度精密的技术，需要 $\mathbf{SU}(3)$ 级以上才能实现。</p>
	<p>量子态不可克隆定理限制了一套生物思维系统在同一时间只能在一处运行，将思维传输至计算机将销毁原生物载体，因此这一操作只能在生物濒临死亡或刚刚死亡时进行。</p>
	<p>该技术只能挽救正常死亡的生物，对于死亡超过一小时或非正常死亡的生物，其生物量子信息可能已无法恢复。</p>
</div>

{% include header.html param="生物思维计算机" %}

<div class="content">
	<p>其核心为 $10^{11}$ 数量级以上的量子比特构成的生物量子计算机，对于智慧程度更高的物种需要的量子比特数目更多。</p>
</div>

{% include header.html param="大分子打印机" %}

<div class="content">
	<p>能够批量合成任意指定结构的大分子的机器。求救文明尚未发展出此技术，即使发展出来也没有活细胞资源来复活本文明。</p>
</div>


