---
layout: default
author: 系列
---
<h1 align="center">
	<div class="skinimg"><a title="回到萌狸看不懂系列主页" href="/popsci/index.html"><img src="/css/moele.png" alt="萌狸" class="moele"></a></div>
	<span class="glass">系列</span>
	{{ page.title }}
</h1>

<div id="body">

  {{ content }}

</div>


<div id="discuss">
	<div class="fold">
	<div class="fold-head" onclick="isHidden('discu')">
		展开讨论
	</div>
	<div class="fold-cont" id="discu" style="display:none">
		<!-- 多说评论框 start -->
			<div class="ds-thread" data-thread-key="popsci-{{ page.categories }}" data-title="popsci-{{ page.categories }}" data-url="http://leptc.github.io/popsci/{{ page.categories }}/"></div>
		<!-- 多说评论框 end -->
	</div>
	</div>
</div>
