---
layout: popsci
categories: s2p7
title: 如何“看”到声音？
---
<blockquote>
<p>（敬爱的编辑要把一张图写成一篇文章，所以本期会有比较多的周边讲（扯）解（蛋）…）</p>
</blockquote>
<hr />



{% include header.html param="你看不见你看不见" %}

<div class="content">

  <p>大家是否见过“热浪”？当你注视着火焰上方的空气，有没有注意到后面的景象飘忽不定？这是因为不同密度的空气有不同的折射率，火焰加热了的空气和周围的冷空气混在一起，对由景物过来的光线产生了折射，便扭曲了我们看到的景象。</p>
  <p>此外，我们知道，声音就是在空气中传播的密度变化波，所以在影视作品中，常用扭曲的浪来表现超强声波。<s>（然而那都是特技）</s></p>

  <p><a title="Roundtable Rival 剧照"><img src="https://raw.githubusercontent.com/LePtC/LeArtFile/master/popsci/s2p7/screenshot_from_roundtable_rival.jpg" alt="Roundtable Rival 剧照" class="series"></a></p>
  <p class="pictitle">（图片来自 Roundtable Rival 剧照 <a href="https://www.youtube.com/watch?v=jvipPYFebWc">↗</a>）</p>

  <p>（观众：骗棱～我长这么大怎么从来没肉眼看见过声波 (´･ᆺ･`)）</p>

  <p>摸摸，这是因为日常的声音太弱啦，产生的密度变化没有热空气那么强。（如果你要吐槽某人说话太多，你可以擦擦汗，说哎呦你是要把空气都给说热了……）所以我们需要比较厉害的东西……</p>

  <p>（一个胖子抱着核弹满头大汗地跑过来：“导演，是要这个吗？”）</p>
  <p>败家玩意，这么贵的核弹，就拿来看个响啊，去，把仓库那吨火药搬出来就行。</p>

  <p><a title="BBC 隐形世界"><img src="https://raw.githubusercontent.com/LePtC/LeArtFile/master/popsci/s2p7/BBC.gif" alt="BBC 隐形世界" class="series"></a></p>
  <p class="pictitle">（图片来自 BBC 隐形世界）【中文字幕视频 <a href="http://www.bilibili.com/video/av2602822/">↗</a>】</p>

  <p>我们知道，声速是超过普通飞机的速度的（室温下约 340 m/s） ，所以你需要离得很远，然后放慢动作才能看清。 ╮(╯▽╰)╭</p>

  <p>（这么麻烦啊，我想看普通的声音，有办法吗？）</p>

  <p><a title="能不能再给力点～"><img src="/faces/zgl2.png" alt="能不能再给力点～" class="faces"></a></p>

</div>



{% include header.html param="我就要看我就要看" %}

<div class="content">

  <p>其实，如何看出透明物体的微小的折射率变化，是做生物的很关心的问题：</p>

  <p>有一天生物汪找到了物理喵，说哎呀我们这个细胞样品是透明的啊，染色也染不了啊，没颜色再高倍的显微镜也白搭啊。傲娇老板非要看，你看我该怎么办？</p>
  <p>物理喵说，没颜色啊，那你这个样品有啥能区分的性质啊？</p>
  <p>生物汪想了想，有区别的大概就是不同结构的密度和厚度不一样吧。</p>
  <p>然后物理喵把它翻译成自己的语言：哦，光学厚度不一样，可以产生相位差，那让它发生干涉，就能把相位差转化成光强差了。</p>
  <p>后来名叫 <s>泽妮可</s> 泽尼克的物理喵就拿了诺贝尔奖，然后生物汪顺利毕业，大团圆结局。 (๑•̀ㅂ•́)و✧</p>

  <a title="相衬-0"><img src="https://raw.githubusercontent.com/LePtC/LeArtFile/master/popsci/s2p7/Brightfield_phase_contrast_cell_image.jpg" alt="相衬-0" class="series"></a>
  <p class="pictitle">（图片来自 Wikipedia - Phase contrast microscopy <a href="http://en.wikipedia.org/wiki/File:Brightfield_phase_contrast_cell_image.jpg">↗</a>）</p>

  <p>（观众：故事讲的真好，然而并没有听懂 (⊙▽⊙)）</p>

  <p>物理喵噌地拉出来一面黑板：“那就要从光的波动性讲起了～”</p>

  <p>假设我们用一片均匀光照明，那马你看到的是一片均匀光：</p>

  <a title="相衬-1"><img src="https://raw.githubusercontent.com/LePtC/LeArtFile/master/popsci/s2p7/note1.png" alt="相衬-1" class="series"></a>

  <p>然后我们放入一块迷之透明物体，它的折射率和外面不一样，所以光在物体内跑的更久一些，出来之后就有了相位差。但由于物体透明度很高，出来的光的光强还和原来差不多，所以你看到的几乎还是一片均匀光：</p>

  <a title="相衬-2"><img src="https://raw.githubusercontent.com/LePtC/LeArtFile/master/popsci/s2p7/note2.png" alt="相衬-2" class="series"></a>

  <p>此时如果再加入一束参考光和它发生干涉，没有相位差的地方变得更亮，有相位差的地方相消变暗，就把看不见的相位差转化成看得见的光强变化了：</p>

  <a title="相衬-3"><img src="https://raw.githubusercontent.com/LePtC/LeArtFile/master/popsci/s2p7/note3.png" alt="相衬-3" class="series"></a>

  <p>在实践上，我们有多种方法来实现这种相位可视化，最常见的是在透镜后的焦平面上做挡光或相移处理。透镜的后焦面是一个很神奇的位置，在这个面上，接近焦点的光代表物像中的低频成分（比如你们知道的，均匀光经过凸透镜会汇聚到中央的一个点），偏离焦点的光代表物像中的高频成分（比如余弦光栅，一种类似于百叶窗的东西，它在后焦面上会形成三个光点，且光栅越密光点分离的越远）。我们在后焦面上做处理，就相当于让物像中不同成分的光来发生干涉。</p>

  <a title="相衬效果"><img src="https://raw.githubusercontent.com/LePtC/LeArtFile/master/popsci/s2p7/darkoblique.jpg" alt="相衬效果" class="series"></a>
  <p class="pictitle">（图片来自 Microscopy UK <a href="http://www.microscopy-uk.org.uk/mag/artapr02/dark.html">↗</a>）</p>

  <p>上图是用显微镜拍摄的叶面照片，不同的滤波方法有不同的效果。明场看起来并不清晰，因为它挡掉了外围的高频成分，而高频代表着图像中的细节。暗场则是挡掉中央的低频成分，故可以让图像对比度更高。如果把挡掉改成相移的话，就是前面泽尼克发明的相衬法。偏置可以让图像有一种浮雕效果，就像阳光斜着照亮月球时立体感更强一样。下文要讲的纹影成像法，就是挡掉一半频谱的做法。</p>

</div>



{% include header.html param="德味！" %}

<div class="content">

  <p>纹影成像的英文是 schlieren photography，然而 Schlieren 是一个德语名词（的复数形式），意思是“条纹”。这是因为在一百年前，德语才是物理学的工作语言，许多重要的工作都是发表在德文杂志上的。直到二战之后，物理学的工作语言才渐渐变成了英语。但今天学物理的童鞋仍能碰到德语单词，它们多出现在核物理和量子力学中，因为一百年前正是近代物理的奠基时代。比如 bremsstrahlung（轫致辐射），reststrahlen（剩余射线），eigen-（本征），gedanken experiment（思想实验），Zitterbewegung（电子在运动时理论上会打颤颤）等等……</p>

  <p>（编辑：这都扯到哪了，赶紧给我回来！）</p>

  <p>好哒。纹影成像法，是 1864 年由德国物理学家托普勒发明的。纹影成像装置有很多很多种，下面这种是最简单的：</p>

  <p><a title="纹影成像"><img src="https://raw.githubusercontent.com/LePtC/LeArtFile/master/popsci/s2p7/schlieren.png" alt="纹影成像" class="series"></a></p>

  <p>首先你需要一个凹面反射镜，焦距大的效果更佳。然后将点光源放在球心（对于球面镜，半径就等于 2 倍焦距）的位置，这样反射回来的像也成在球心的位置。不过为了避免光源挡住光路，需要把光源往旁边挪一点（这样像就会往另一个方向挪一点）。然后用尽量薄的物体（刀片或黑纸）挡住球心处一半的光，就能拍摄到纹影啦。</p>

  <p><a title="声音看起来是什么样子的"><img src="https://raw.githubusercontent.com/LePtC/LeArtFile/master/popsci/s2p7/what does sound look like.gif" alt="声音看起来是什么样子的" class="series" style="height:300px;width:auto;"></a></p>
  <p class="pictitle">（图片来自 Mike Hargather <a href="https://www.youtube.com/watch?v=px3oVGXr4mo">↗</a>）</p>

  <p>上图看起来像是在水中拍摄的，但其实是在空气中用纹影法拍摄的【中文字幕视频 <a href="http://www.bilibili.com/video/av1109061/">↗</a>】。另外，如果改成用彩色的滤光片去挡的话，就可以拍摄到彩色的纹影。</p>

  <p><a title="彩色的纹影"><img src="https://raw.githubusercontent.com/LePtC/LeArtFile/master/popsci/s2p7/930px-Schlieren-color-candle-plume.jpg" alt="彩色的纹影" class="series" style="height:300px;width:auto;"></a></p>
  <p class="pictitle">（图片来自 Wikipedia - Schlieren photography <a href="https://en.wikipedia.org/wiki/File:Schlieren-color-candle-plume.jpg">↗</a>）</p>

  <p>所以这个实验在家就可以做，比较难搞的是大凹面镜，点光源可以用 LED ，相机则很常见。</p>

  <p>（这么麻烦啊，有没有更简单的装置啊？）</p>

  <p><a title="能不能再给力点～"><img src="/faces/zgl2.png" alt="能不能再给力点～" class="faces"></a></p>

</div>


{% include header.html param="看！灰机" %}

<div class="content">

  <p>嗯，传统的纹影成像需要很麻烦的装置，所以大家过去都是在风洞里拍拍模型灰机，而拍真正的灰机是最近的事情。</p>

  <p>拍真灰机啊，那上哪找那么大的光源呢？ (⊙_⊙)</p>
  <p>太阳！</p>

  <a title="NASA1"><img src="https://raw.githubusercontent.com/LePtC/LeArtFile/master/popsci/s2p7/NASA1.jpg" alt="NASA1" class="series" style="height:360px;width:auto;"></a>
  <p class="pictitle">（图片来自 NASA Photo <a href="https://www.nasa.gov/feature/ground-based-schlieren-technique-looks-to-the-sun-and-moon/">↗</a>）</p>

  <p>上图是 NASA 拍摄的 T-38C （超音速教练机）飞过太阳时的激波结构。一开始他们只能利用太阳的边缘作背景，在飞机刚飞进和刚离开太阳时进行拍摄。因为太阳君的光球层是一片亮瞎了的圣光，啥特征都木有，而他们希望背景最好有点斑点什么的，这样他们就有图像处理技术可以从背景的扭曲算出空气密度变化来。这种基于背景的纹影成像法称为 BOS（background oriented schlieren）。</p>

  <p>后来天文喵告诉他们，用一个特殊频谱的滤镜（钙-K 线，波长约 393.4nm，接近紫外波段）可以看太阳君的色球层，而色球层就有很多迷之纤维状物体啦。他们一用发现哎呀果然好使，可以直视太阳拍灰机有木有，然后将这种方法命名为 <s>“蛋糕老板”</s> “钙-K 线太阳背景纹影法”（CaKEBOS）。</p>

  <a title="NASA2"><img src="https://raw.githubusercontent.com/LePtC/LeArtFile/master/popsci/s2p7/NASA2.jpg" alt="NASA2" class="series" style="height:360px;width:auto;"></a>
  <p class="pictitle">（图片来自 NASA Photo <a href="https://www.nasa.gov/feature/ground-based-schlieren-technique-looks-to-the-sun-and-moon/">↗</a>）</p>

  <p>（哇，听起来好简单 (⊙ｏ⊙)）</p>
  <p>嗯，他们说搭一套这样的平台只要 3000 美刀哦。</p>

  <p>（。。。。。。）</p>
  <p>（我还是买凹面镜去吧。。。）</p>


</div>




