---
layout: popsci
categories: p160620
title: 果壳评论音轨：在下坂本（物理部分）
---

{% include header.html param="用伞起飞救麻雀" %}

<div class="content">

  <p><h3>剧情：</h3>在狂风暴雨中，一只麻雀被<red><s>（好像并不是砸晕…）</s></red>吹飞了，坂本同学追了上去，撑起伞飞到天上救麻雀，在坂本抓住麻雀的一瞬间天气<red>神</red>配合地转变成风和日丽，然后坂本打着伞缓缓飘落。</p>

  <p><a title="全场最佳"><img src="全场最佳.jpg" alt="全场最佳" class="series"></a></p>
  <p class="pictitle"><red>（这张图应放在介绍语之后）</red></p>

  <p>被风吹上天并不是不可能，只要风速达到人自由落体的终极速度，你不用打伞也能上天。这一速度是 195km/h <a href="http://www.guokr.com/question/508703/">↗</a>，自然界中是有记录过平均风速 176 km/h 瞬时风速超过 300 km/h 飓风<a href="https://en.wikipedia.org/wiki/Wind_speed">↗</a>。那为啥坂本还要打伞呀？由于麻雀的身体就是为飞行而生的，在同等的风场中应该被吹飞得比人快，所以坂本打伞<red>其实</red>是为了能追上麻雀呢。</p>

  <p>（降落的部分和降落伞那节的槽点相同，留到降落伞那节一并吐槽…）</p>

</div>


{% include header.html param="石头砸杠杆跳上楼" %}

<div class="content">

  <p><h3>剧情：</h3>一块石头挂在只有一层楼高的树上，坂本同学飞奔过来用盘子切断绳子，利用石头砸杠杆（一个看起来弱不禁风的扫把）把自己弹到不确定是二楼还是三楼的窗口，顺便接住了飞出的盘子（嗯这盘子一定是美国队长同款的）</p>

  <p><red>（编辑配图）</red></p>

  <p>根据能量守恒，石头落下的势能需大于将坂本抬升所需的势能，难道坂本比那块石头还轻？如果加上坂本有助跑且自己也可以出力弹跳，参考跳高的世界纪录约 2.4 米，弹上二楼倒不是不可能。如果坂本上的是三楼的话，坂本的体重必须异常的轻。</p>

  <p>（稍后我们会看到还有很多现象支持坂本体重异常轻的猜测）</p>

</div>


{% include header.html param="用窗帘做降落伞" %}

<div class="content">

  <p><h3>剧情：</h3>火灾演习，坂本同学用窗帘做了一个如图所示的降落伞，从三楼跳楼逃生。</p>

  <p><red>（编辑配图）</red></p>

  <p>坂本同学搞的这个降落伞啊，naive。如果你 DIY 过小降落伞，或观察过实际的降落伞，你会发现降落伞需要在中间留一个洞。你想想当气流都堆到伞下方时，你不在中间戳个洞，气流要怎么流出去？只能随机从某一侧冲出去啦。然后降落伞就会在空中疯狂摇摆，最后拧成一坨，人就结结实实地摔地上啦。</p>

  <p>回到第一节，如果坂本举的是普通的伞是一定要被吹翻过来的，气流顺着伞的边缘流出，这样的外形才符合流体力学基本法，然而这样的减速效果根本不足以让人平安落地。</p>

  <p><red>（编辑配流言终结者图）</red></p>

  <p>假如坂本的伞用了某种黑科技让它硬是不变形（然而在第 9 集这个伞明明是会翻过来的…），由于伞中间没有洞，坂本降落的过程应该晃得比动画中厉害的多。除非——坂本体重异常的轻。</p>

  <p><a title="雨伞的基本法"><img src="umbrella.png" alt="雨伞的基本法" class="series"></a></p>
  <p class="pictitle"><red>【补图】</red>雨伞在风场中的基本法示意图，制图：LePtC</p>

</div>


{% include header.html param="旋转手臂恢复平衡" %}

<div class="content">

  <p><h3>剧情：</h3>坂本和学长玩推手相扑，在被推得已经向后仰时，手臂不断加速向后旋转恢复直立。</p>

  <p><red>（编辑配图）</red></p>

  <p>什么？你以为坂本是靠手扇出风来恢复直立的？你们呐还是图样。此处坂本显然是利用角动量定理，靠手臂加速逆时针旋转来产生使身体顺时针转动的力矩恢复平衡的。</p>

  <p><a title="角动量"><img src="angular.png" alt="角动量" class="series" style="max-width:300px"></a></p>
  <p class="pictitle"><red>【补图】</red>刚体版本的坂本示意图，制图：LePtC</p>

</div>


{% include header.html param="在高度倾斜的河岸上奔跑" %}

<div class="content">

  <p><h3>剧情：</h3>这一场景是本片最为精彩的部分，其惊人程度堪比三体中在超高速下做出锐角机动的水滴。坂本同学在高度倾斜的笔直的河岸上奔跑，一遍跑还一边像带球一样踢石子。</p>

  <p><red>（编辑配图）</red></p>

  <p>首先河岸的倾斜角超过 45°，要受力平衡的话摩擦系数需大于 1。嘛，就当坂本穿的是特制的黏性鞋底吧。但即使受力能平衡，这么瘦长的一个人横着站着力矩也无法平衡啊。还有这个石子居然不往斜上方踢，而是直着往前踢的… 难道坂本和石子处在非惯性系中？然而这个河岸看起来是笔直的，没有向心力… 地转偏向力呢？如果坂本所生活的星球有那么强的地转偏向力的话，河流两侧应明显不一样高，然而动画中并看不出来…</p>

  <p>为了让牛顿好好地躺回去，我认为坂本的真实职业是魔术师，他的大衣下贴着很多像暖宝宝那集一样的气囊，需要装反重力逼时就充入氢气，加上他体重异常轻这一点就可以实现受力平衡，储气瓶大概就藏在他的手提包中。关于石子之谜，我认为河岸的表面很可能刻有水平的纹路，这样既可以解释石子直线运动，还可以给坂本提供更大的横向摩擦力。</p>

  <p><red>（编辑配暖宝宝图）</red></p>

</div>


{% include header.html param="用镜子反射阳光击破气球" %}

<div class="content">

  <p><h3>剧情：</h3>装作用玩具枪射破气球，实际上是旁边同学的镜子反射阳光烧破了气球。</p>

  <p><red>（编辑配图）</red></p>

  <p>平面镜只能让流强增加一倍，所以这块镜子大概是凹面镜，焦距还恰好是教室宽度的距离。市面上带放大功能的镜子就是凹面镜，近距离看凹面镜是放大的像。</p>

</div>



{% include cheader.html param="编辑表述修改建议" %}

<div class="content">

  <p>这一速度是 195 km/h，自然界中有记录过平均风速 176 km/h、瞬时风速超过 300 km/h 的飓风<red>（数字和单位之间加空格，数字和文字之间也加空格）</red></p>

  <p>不过普通的雨伞可扛不住这等风速，也没法当降落伞用——它<red>很容易</red>被吹翻。<red>因为没有开洞…（所以这一段不建议提到前面来，因为开洞是后面才讲解的…编辑看着办吧…）</red>气流顺着伞的边缘流出，这样的外形才符合流体力学基本法，然而这样的减速效果根本不足以让人平安落地。在《流言终结者》中，就有用假人做的举伞下落实验，可以看出，<red>打伞的效果和自由落体差不多，和降落伞相比还差得远。</red></p>

  <p><red>如果举着有开洞的伞从高空下落效果如何？</red>看看运动员埃里克·罗纳（Erik Roner）的挑战视频吧……<red>（还是建议把第一集拆成两部分，第二部分放在窗帘之后）（其实原作的讲解顺序就已经很合理了嘛你为神马要变 (╯‵□′)╯︵┻┻ ）</red></p>

  <p>根据能量守恒，石头落下的势能需大于将坂本抬升所需的势能，如果再加上助跑和弹跳，参考跳高的世界纪录约为 2.4 米，弹上二楼倒不是不可能。<red>如果是三楼的话（动画中这楼有三层，不确定弹上的是几层），坂本的体重得异常的轻才行。</red></p>

  <p>坂本同学在高度倾斜的笔直河岸上奔跑，一遍跑还一边像带球一样踢着石子。<red>牛顿的棺材板到这一集终于按不住了……</red></p>

  <p>再加上他体重异常轻这一点就<red>有可能</red>实现受力平衡</p>

  <p>吹泡泡相关果壳问答： http://www.guokr.com/question/498567/</p>

  <p>坂本同学搞的这个降落伞啊，naive。如果DIY过小降落伞…… 参考跳高的世界纪录约为2.4米…… 河岸的倾斜角超过 45°，要受力平衡的话摩擦系数需大于 1 …… 在 what<red>-</red>if 第 135 期，xkcd 讨论了这个问题……<red>（字母/数字和文字之间加空格 ← 强迫症泥垢了…）</red></p>

  <p>凡人想要模仿猎豹奔跑实在太吃力，不过，我们至少可以了解一下猎豹究竟是如何跑步的：<red>（这里只放了图没有讲解，所以你想说明什么？…）</red></p>

  <p>坂本装作用玩具枪射破气球，实际上<red>是</red>利用了旁边…</p>

  <p><red>强行解释的话</red>，这种煮咖啡的模式看起来…</p>

</div>





