---
layout: popsci
categories: p160620
title: 强行解释：在下坂本（物理部分）
---

<!-- 果壳评论音轨 -->


{% include header.html param="用伞起飞救麻雀" %}

<div class="content">

  <p>被风吹上天并不是不可能，只要风速达到人自由落体的终极速度，你不用打伞也能上天。这一速度是 195km/h <a href="http://www.guokr.com/question/508703/">↗</a>，相当于 16 级风 <a href="https://zh.wikipedia.org/wiki/%E8%92%B2%E7%A6%8F%E9%A2%A8%E7%B4%9A">↗</a>。我不知道坂本的世界里是怎么刮出这么大的风的，反正我全程的关注点都在这伞的质量真好上…</p>

  <p>（降落的部分留到降落伞那节再吐槽…）</p>

 <!--  <p><a title="日心说"><img src="https://raw.githubusercontent.com/LePtC/LeArtFile/master/popsci/p160521/a.gif" alt="日心说" class="series" style="max-width:350px"></a></p>
  <p class="pictitle">（日心说示意图，红绿蓝橙依次为日水地火，制图：LePtC）</p>

  <p><a title="炮弹"><img src="https://raw.githubusercontent.com/LePtC/LeArtFile/master/popsci/p160521/1.gif" alt="炮弹" class="series"></a></p>
  <p class="pictitle">（相对速度示意图，来源：流言终结者 <red>(编辑填)</red>）</p> -->

</div>



{% include header.html param="石头砸杠杆跳上楼" %}

<div class="content">

  <p>根据能量守恒，石头落下的势能需大于将坂本抬升所需的势能，难道坂本比那块石头还轻？如果加上坂本有助跑且自己也可以出力弹跳，参考跳高的世界纪录约 2.4 米，弹上二楼倒不是不可能。动画中起码上的是？楼，所以坂本的体重一定是异于常人的轻。</p>

</div>



{% include header.html param="用窗帘做降落伞" %}

<div class="content">

  <p>坂本同学搞的这个降落伞啊，naive。如果你 DIY 过小降落伞，或观察过实际的降落伞，你会发现降落伞需要在中间留一个洞。你想想当气流都堆到伞下方时，你不在中间戳个洞，气流要怎么流出去？只能随机找个方向从一侧噗出去啦。然后你的降落伞就会在空中疯狂摇摆，最后拧成一坨，人就结结实实地摔地上啦。</p>

</div>



{% include header.html param="旋转手臂恢复平衡" %}

<div class="content">

  <p>什么？你以为坂本是靠手扇出风恢复直立的？你们呐还是图样。此处坂本显然是利用角动量守恒，靠手臂加速逆时针旋转来产生使身体顺时针转动的力矩恢复平衡的。</p>

</div>



