---
layout: popsci
categories: p151227-lexplain-lorentz-transform-2
title: 狸解洛伦兹变换（二）
---


{% include header.html param="间隔" %}

<div class="content">

  <p>既然光速是一个很好用的参考标准，那么我们就来用光速来定义一个新的东西。假设有两个事件，空间间隔为 $\Delta l$ ，时间间隔为 $\Delta t$ ，如果两个事件以光速相联系，则有 $\Delta l=c\Delta t$ 。类似欧氏空间中的 <blue>距离</blue> $(\Delta l)^2=(\Delta x)^2+(\Delta y)^2$ ，我们定义 <blue>间隔</blue> ：$(\Delta s)^2=(c\Delta t)^2-(\Delta l)^2$ ，从而 $(\Delta s)^2$ 的正负（注：$\Delta s$ 可以为虚数）反映的是，两个事件之间的联系比光速快还是比光速慢。</p>

  <p>（P.S. 实际上魔法师们还在为间隔到底是定义成空间减时间（东海岸教）还是时间减空间（西海岸教）打架，由于作者属西岸教徒，所以本篇传的都是西海岸教。 →_→ ）</p>

  <p>如果我们画出两维的空间，则向各个方向以光速传播的信号就形成一个圆锥面，称为 <blue>光锥</blue>（light cone）。如果你的运动的速度不能超过光速的话，光锥之内就是你“有生之年内”能到达的地方，称为“类时”（timelike）的间隔，光锥之外则称为“类空”（spacelike）的间隔。</p>

  {% include imglex.html cn="洛伦兹变换" en="lt2" num="world_line.png" wid="350"%}

  <p>上一期我们讲过斜率代表物体运动的速度，因此亚光速的物体的世界线永远被限制在光锥内，斜率处处不能小于 1 ，这种世界线称为 <blue>类时线</blue>。</p>

  {% include imglex.html cn="洛伦兹变换" en="lt2" num="world_line-2.png" wid="350"%}

  <p>由于光速是绝对的，所以“类时”还是“类空”也是一个绝对的属性。也就是说，不同参考系所看到的间隔 $(\Delta s)^2$ 不能变号。我们设动系看到的间隔 $(\Delta s')^2=a(\Delta s)^2$，则 $a$ 必须是正数。</p>

</div>

{% include header.html param="刻度" %}

<div class="content">

  <p>在上一期，我们找到了洛伦兹变换后的时间轴和空间轴，但还没有定刻度。显然，如果我们把时间轴和空间轴缩放相同的倍数，依然能满足光速不变。为了定下刻度，我们需要引入狭义相对论的第二个假设：物理规律在所有惯性参考系下的形式相同。</p>

<!-- <div class="fold">
  <div class="fold-head" onclick="isHidden('div1')">
    （本段咒语要求读者掌握力学魔法才能解读，不懂可跳过）
  </div>
  <div class="fold-cont" id="div1" style="display:none">
    <p>如果你学过分析力学，你就知道物体的运动方程是由拉氏量推导出来的（当然哈矢量亦可，它们都是既包含动能项，又包含势能项的）。如果我们对时空做等比缩放，由于速度等于空间变化除以时间变化，故速度不变，从而动能不变。而势能可能只是空间的函数，故形式就会变，导出的运动方程就不一样了。狭义相对论第二个假设是，物理规律在所有惯性参考系下的形式相同，这就要求拉氏量只能差个常系数，要兼顾动能和势能的话，等比缩放系数只能为 1。</p>
  </div>
</div> -->

  <p>这短短一句话实际上限制了很多东西，比如在经典情况下我们看到空间是均匀的，那么动系下空间也应是均匀的（这一点在上一期提到过），时空具有平移不变性（在不同时间、地点，物理规律相同）要求 $a$ 和时空坐标 $t,x,y,z$ 均无关，那就只剩下参考系的相对速度 $\vec{v}$ 了。</p>

  <p>空间各向同性要求 $a$ 和 $v$ 的方向无关，那就只和 $v$ 的大小有关 $a(v)$ 。这一下子就不好办了，如果在静系中看两个动系 $v_1$ 和 $v_2$，设两个动系之间的相对速度为 $\vec{v_{12}}$ ，就有：</p>

  <p>$$a(v_{12})=a(v_2)/a(v_1)$$</p>

  <p>如果保持 $v_1,v_2$ 大小不变，方向随便变的话，它们的相对速度的大小 $v_{12}$ 就会随便变。所以要保持上式成立的话，$a$ 只能是个常数了，再相除得只能是 1 了。</p>

  <p>（观众：讲了这么久，结论就是间隔不变嘛！）  (╯‵□′)╯︵┻┻ </p>

  <p>是的，本节主要是说明为什么我们还需要狭义相对论的第二个假设… 没看懂的童鞋可以不用管，记住结论就好  (๑•̀ㅂ•́)و✧ </p>

</div>

{% include header.html param="推论" %}

<div class="content">

  <p>然后我们就可以找到橙色轴的刻度 1 了，它是 $(ct)^2-x^2=1$ 线和橙轴的交点，下图中画得粗粗的地方：</p>

  {% include imglex.html cn="洛伦兹变换" en="lt2" num="2-1.png" wid="350"%}

  <p>那么原来静系下看到的同时事件，对应的时间刻度是多少呢？从图上看它是小于 1 的，即从静系看，动系的时钟走的慢，称为钟慢效应。</p>

  {% include imglex.html cn="洛伦兹变换" en="lt2" num="2-2.png" wid="350"%}

  <p>然而从动系来看，同时面应和 $x'$ 平行，得出的结论是静系的钟走的慢。</p>

  {% include imglex.html cn="洛伦兹变换" en="lt2" num="2-2.1.png" wid="350"%}

  <p>不同参考系看到的钟的快慢结论不同，这不是个让人喜欢的现象。但我们注意到，不管是谁，从自己的参考系看，自己的钟总是最快的，别人的钟都慢了。因此我们定义 <blue>固有时</blue> （proper time）的概念，规定 $\Delta \tau$ 是在物体自己的参考系下测出的时间，这样就给所有人提供一个统一的标准了。</p>

  <p>我们来计算一下这个三角形的斜边长 $c\Delta\tau$ （注意此处所称长度指的不是欧氏距离，而是指之前定义的间隔）。</p>

  {% include imglex.html cn="洛伦兹变换" en="lt2" num="2-3.png" wid="350"%}

  <p>$$\Delta \tau=\frac1c\sqrt{(c\Delta t)^2-(v\Delta t)^2}=\sqrt{1-(\frac{v}c)^2}\Delta t$$</p>

  <p>我们把 $\sqrt{1-(\frac{v}c)^2}$ 的倒数记作 $\gamma$ ，便得出 $\Delta t=\gamma\Delta\tau$ ，对于 $v< c$ 的物体，有 $\gamma> 1$ ，这便是钟慢效应的定量结果。</p>

  <p>前面我们计算了三角形斜边的长度（间隔），它等于 $(c\Delta t)^2-(v\Delta t)^2$，而这个三角形的两条直角边的长度之和是 $(c\Delta t)^2+(v\Delta t)^2$，它当然大于前者。因此我们有了一个重大发现：两点之间直线的间隔最长！（到广义相对论，表述中的直线需改为测地线，本期先不讲那么多）</p>

  <p>这一结论适用于世界线为类时线（速度低于光速）的物体。类时线的长度代表固有时间的流逝，因此类时线越长，物体所亲身经历的时间越长。</p>

</div>


{% include header.html param="孪生子佯谬" %}

<div class="content">

  <p>如果你理解了上述时空图大法的工作原理，那么恭喜你，接下来你将能够直接在图上解除曾经困扰过很多人的孪生子魔咒。</p>

  <!-- （虽然这个问题涉及非惯性系，但真的不需要广义相对论，狭义就能搞定哦） -->

  <p>萌狸和叶紫同年出生，假设萌狸坐上亚光速飞船去访问豆浆星，而叶紫留在狸星。</p>

  {% include imglex.html cn="洛伦兹变换" en="lt2" num="1.png" wid="350"%}

  <p>就这样旅行了若干年后，有一天，突然跳出一个小白（兔）问了这么一个问题：</p>

  <p>（他们俩谁更年轻？）</p>

  <p>。。。。。。</p>

  <p>好吧，我并不禁止你问这个问题，不过请你告诉我，你想比较“哪个时刻”的萌狸和“哪个时刻”的叶紫谁更年轻？</p>

  {% include imglex.html cn="洛伦兹变换" en="lt2" num="2.png" wid="350"%}

  <p>（废话，当然是同一时刻的了。）</p>

  <p>你瞧，这就是问题所在了，在不同参考系的眼里，“同时”是不一样的。</p>

  <p>在叶紫眼里，和 $x$ 轴平行的是同时事件，注意橙色加粗的地方是萌狸的时间刻度 1，因此萌狸身上流逝的时间小于 1，萌狸更年轻。</p>

  {% include imglex.html cn="洛伦兹变换" en="lt2" num="3.png" wid="350"%}

  <p>然而在萌狸眼里，和 $x'$ 轴平行的才是同时事件，我们仔细地画出斜率为 0.5 的绿线和 $t'$ 轴的交点，发现它的刻度大于 1，因此萌狸身上流逝的时间大于 1，叶紫更年轻。</p>

  {% include imglex.html cn="洛伦兹变换" en="lt2" num="4.png" wid="350"%}

  <p>（我不服！让他们飞到同一地点比较！）</p>

  <p>方案一：萌狸返回狸星，由于两点之间直线最长，故叶紫经历的固有时更长，萌狸更年轻。</p>

  {% include imglex.html cn="洛伦兹变换" en="lt2" num="5.png" wid="350"%}

  <p>方案二：叶紫追上萌狸，同样由于两点之间直线最长，故叶紫更年轻。</p>

  {% include imglex.html cn="洛伦兹变换" en="lt2" num="6.png" wid="350"%}

  <p>担心不同参考系看到的结果不同？不会的哦，洛伦兹变换是线性变换，翻译成人话就是，直线变换后还是直线，曲线还是曲线。因此，比较同一地点的孪生子谁更年轻，结论是绝对的。</p>

  {% include imglex.html cn="洛伦兹变换" en="lt2" num="7.png" wid="400"%}

</div>


