---
layout: wiki
categories: civillevel
title: 文明分级
---

<div class="content">

	<p>狸星使用的文明分级系统（Le civil level system）是根据该文明最高所达到的科学理论高度来进行分级。这是一项综合的指标，因为理论同样需要技术实力达到足够的高度才能得到发展。</p>

	<ol>
		<li><h3>$\mathbb{N}$ 级文明</h3>
			<p>会使用自然数，能够开发基于经典力学的工具。</p>
		</li>
		<li><h3>$\mathbb{R}$ 级文明</h3>
			<p>会使用实数，能够开发基于力学、热学、经典光学的工具。</p>
		</li>
    <li><h3>$\mathbb{C}$ 级文明</h3>
      <p>会使用复数，能够开发基于电磁学的工具，能够在母行星范围活动。</p>
    </li>
		<li><h3>$\mathbf{SU}(2)$ 级文明</h3>
			<p>会使用复数，建立基本的量子力学理论，能够在母行星及其周围卫星的范围活动。</p>
		</li>
		<li><h3>$\mathbf{SU}(3)$ 级文明</h3>
			<p>会使用非阿贝尔代数，理论发展到量子色动力学，能够开发基于强相互作用的工具，能够改造母行星。</p>
		</li>
		<li><h3>$\mathbf{SU}(5)$ 级文明</h3>
			<p>理论发展到大统一理论，理论发展到色－弱动力学，能够开发基于强－弱－电耦合的工具，能够改造母恒星系。</p>
		</li>
		<li><h3>$\mathbf{E}_6$ 级文明</h3>
			<p>理论发展到万有理论，能够开发基于引力相互作用的工具。</p>
		</li>
	</ol>

	<p>能够大尺度改造时空结构的文明都得在 $\mathbf{E}_6$ 级以上的说…</p>

</div>


{% include header.html param="与卡尔达肖夫指数的换算关系" %}

<div class="content">
<table>
<tr>
	<th>卡尔达肖夫指数<a href="http://zh.wikipedia.org/zh-cn/%E5%8D%A1%E5%B0%94%E8%BE%BE%E8%82%96%E5%A4%AB%E6%8C%87%E6%95%B0">↗</a></th>
	<th>狸星文明分级</th>
</tr>

<tr>
	<td>0 型</td>
	<td>$\mathbb{N}$ 级～$\mathbb{R}$ 级</td>
</tr>
<tr>
	<td>1 型</td>
	<td>$\mathbb{C}$ 级～$\mathbf{SU}(2)$ 级</td>
</tr>
<tr>
	<td>2 型</td>
	<td>$\mathbf{SU}(3)$ 级～$\mathbf{SU}(5)$ 级</td>
</tr>
<tr>
	<td>3 型</td>
	<td>$\mathbf{E}_6$ 级</td>
</tr>
</table>
</div>

{% include header.html param="已知文明列表" %}

<div class="content">
	<p><a href="/wiki/leplanet/">狸星</a>：目前（100 世纪）为 $\mathbf{SU}(5)$ 级文明阶段。</p>
	<!-- <p><a href="/wiki/bluecivil/">蓝星</a>：在科幻作品中（狸星 30 世纪）以 $\mathbf{SU}(2)$ 级文明出现。</p> -->
	<p><a href="/wiki/twobodycivil/">小强文明</a>：在科幻作品中（狸星 60 世纪）以 $\mathbf{SU}(3)$ 级文明出现。</p>
	<p><a href="/wiki/soscivil/">求救文明</a>：在科幻作品中（狸星 85 世纪）以 $\mathbf{SU}(5)$ 级文明出现。</p>
	<p><s>机器喵文明：未知高度。能够在极小的范围产生稳定约束的高维空间入口并携带其在三维空间任意移动，能够以极小的成本操纵时间和空间的结构及其动力学，其拥有的技术已经打破时空连续性、因果律和守恒律，以目前的资料无法判断该文明所达到的理论高度。</s></p>
</div>


