---
layout: index
author: 科幻
title: 主页
---

{% include header.html param="狸星往事" %}

<div class="content">
<ul>
  <li><p><h3>25 世纪</h3></p>
    <blockquote>狸庆节……</blockquote></li>
  <li><p><h3>40 世纪</h3></p>
    <blockquote>使用量子保密技术的计算中心竟然被入侵！入侵者的企图是……</blockquote></li>
  <li><p><h3>50 世纪</h3></p>
    <blockquote>水星被恐怖分子占领！最高决策者的对策是……</blockquote></li>
  <li><p><h3>60 世纪</h3></p>
    <blockquote>一束奇异的脉冲向狸母星袭来！如何才能拯救母星……</blockquote></li>
  <li><p><h3>70 世纪</h3></p>
    <blockquote>决定还击！狸星人向小强文明送去的是……</blockquote></li>
  <li><p><h3>85 世纪</h3></p>
    <blockquote>狸星接触了一个来自神秘文明的使者，它带来了……</blockquote></li>
  <li><p><h3>120 世纪</h3></p>
    <blockquote>狸星人成功制造了大分子打印机！然而……</blockquote></li>
  <li><p><h3>125 世纪</h3></p>
    <blockquote>狸星公民全体撤离狸星系，狸星系的未来是……</blockquote></li>
</ul>
</div>

{% include header.html param="萌狸日记" %}

<div class="content">
<ul>
  <li><p><h3>100 世纪</h3></p>
    <blockquote>……</blockquote></li>
  <li><p><h3>101 世纪</h3></p>
    <blockquote>……</blockquote></li>
</ul>
</div>


