---
layout: notsci
categories: s2m1
title: 豆浆雷达
---

<div class="content">

<p>故事发生在萌狸的幼年时代。</p>
<p>幼年萌狸是一个很乖很文静的孩子，萌芽妈每天晚上给萌狸喂豆浆，萌老爸每天晚上哄萌狸睡觉。</p>
<p>这天晚上，萌芽妈工作没回家，萌老爸照常哄萌狸睡觉，忘了给萌狸喂豆浆。</p>

<img src="s2m1-1s.jpg" alt="萌狸の不科学系列-s2m1-图1" class="series">

<p>午夜十二点，萌狸从饿梦中醒来，口水里泡着枕头。</p>

<img src="s2m1-2s.jpg" alt="萌狸の不科学系列-s2m1-图2" class="series">

<p>萌狸的鼻子本能地搜索空气中食物的信号，从窗户空降到了步行街上。</p>

<img src="s2m1-3s.jpg" alt="萌狸の不科学系列-s2m1-图3" class="series">

<p>萌狸蹭到高速带上，很快就找到了发出豆浆气味的地方。</p>

<img src="s2m1-4s.jpg" alt="萌狸の不科学系列-s2m1-图4" class="series">

<p>萌狸从后门摸进了鲜饮店的操作间，气味来自一台豆浆过滤机，滤桶的盖子没有盖好。</p>

<img src="s2m1-5s.jpg" alt="萌狸の不科学系列-s2m1-图5" class="series">

<p>萌狸笨笨地爬上滤桶，使出吃奶的劲挤了进去，开始舔底部残余的豆浆。</p>

<img src="s2m1-6s.jpg" alt="萌狸の不科学系列-s2m1-图6" class="series">

<p>舔完之后，萌狸发现好像粗不去了的说…</p>

<img src="s2m1-7s.jpg" alt="萌狸の不科学系列-s2m1-图7" class="series">

<p>萌狸就这样在豆浆桶里呼呼地睡了一觉，鼻子经历了一晚上豆浆的熏陶，梦中全是美美滴豆浆。</p>

<p>早上，下楼工作的店员和跟着民警过来的萌狸爸妈同时发现了卡在桶里的萌狸。</p>

<img src="s2m1-8s.jpg" alt="萌狸の不科学系列-s2m1-图8" class="series">

<p>店员姐姐把桶卸下来，萌狸就啪唧地被倒了出来。萌狸看着大家团聚，摆出一个撒花的动作。</p>

<img src="s2m1-9s.jpg" alt="萌狸の不科学系列-s2m1-图9" class="series">

<p>从那以后，萌狸爸给萌狸的狐狸服安装了通讯领巾。然而萌芽妈仍然担心这孩子这么呆萌遇到危险都不呼救怎么办…</p>

<img src="s2m1-10s.jpg" alt="萌狸の不科学系列-s2m1-图10" class="series">

</div>

{% include header.html param="故事还没完" %}

<div class="content">

<img src="s2m1-11s.jpg" alt="萌狸の不科学系列-s2m1-图11" class="series">

<p>“老板，我找到了给豆浆味谱项目做评测的绝佳人选。”</p>

<img src="s2m1-12s.jpg" alt="萌狸の不科学系列-s2m1-图12" class="series">

<p>“老娘终于能毕业了…” T_T</p>

<p>之后的一狸星年，店员姐姐每天摆一堆使用了不同烹饪方式和不同配料比的豆浆桶，然后观察并记录萌狸最喜欢贴到哪个桶上…</p>

<img src="s2m1-13s.jpg" alt="萌狸の不科学系列-s2m1-图13" class="series">

</div>

{% include header.html param="三狸星年后" %}

<div class="content">

<img src="s2m1-14s.jpg" alt="萌狸の不科学系列-s2m1-图14" class="series">

<p>“SHU 分子食谱实验室出品的第七代调制豆浆，从色泽上来看使用的应该是波尔多大豆直系第 III 亚种，蛋白质是普通豆类的 2.5 倍…”</p>

<img src="s2m1-15s.jpg" alt="萌狸の不科学系列-s2m1-图15" class="series">

<p>“刚刚沸腾完毕，还透着清新的香气，大豆的采摘大概未超过二十四小时…”</p>

<img src="s2m1-16s.jpg" alt="萌狸の不科学系列-s2m1-图16" class="series">

<p>“配水量适中，浓度适中，甜度偏高，我喜欢…烹煮时间略显不足，建议增加五分钟以提升豆浆的醇厚感…”</p>

<img src="s2m1-17s.jpg" alt="萌狸の不科学系列-s2m1-图17" class="series">

<p>“我已经喝完了，再不快点不等你了…”</p>


</div>



