---
layout: wiki
categories: qbattery
title: Q 电池
---
<!-- <blockquote>
  <p>“”</p>
</blockquote>
<hr /> -->

<div class="content">
  <a title="夸克电池"><img src="/css/picplace.png" alt="夸克电池" class="wiki" style="width: 200px;"></a>
  <p>夸克电池（Quark Battery），简称 Q 电池，$\mathbf{SU}(3)$ 级的高效能量存储介质。Q 电池将电能存储在正反夸克的色势能中，正反夸克由<a href="voicuum">零真空场</a>在空间上隔开以阻断对产生效应。随着零真空场自然衰变体积缩小，色势能线性地被释放出来，由装在 Q 电池底端的色-电换能器转换为电能输出。</p>
  <p>由于零真空场有自然衰变，因此即使不使用电池也会慢慢输出电能。Q 电池内壁涂有荧光涂层，将这一电能转化为光能，从而 Q 电池池体是常亮着的。低温保存和<a href="#">相对论保存</a>可部分减少这一基础电能消耗，延长电池寿命。</p>
  <p>Q 电池的剩余电量可通过观察瓶中黑线的长度获知，这一黑线指示的正是零真空场的剩余体积，经过棱镜系统的放大使其肉眼可见。</p>
  <p>当零真空场全部衰变，即电量耗尽时，单色夸克和反色夸克重新复合，形成中子简并残余物，电池将不可再回收利用。零真空场对环境有潜在污染危险，因此 Q 电池均为一次性牢固封装成型，不允许私自拆卸。如果在电量未耗尽的情况下泄漏零真空场，可产生小型核爆炸。</p>
  <br />
</div>

{% include header.html param="型号" %}

<div class="content">
<table>
<tr>
  <th>型号</th><th>尺寸</th><th>能量</th><th>用途</th>
</tr>
<tr><td>0.3 号</td><td></td><td></td><td>个人电器（麦酱）</td></tr>
<tr><td>0.5 号</td><td></td><td></td><td>个人交通工具（车）</td></tr>
<tr><td>0.7 号</td><td></td><td></td><td>高能耗工具（光杖）</td></tr>
<tr><td>1 号</td><td></td><td></td><td>大型机械（航天器）</td></tr>

</table>
</div>

<!-- 待计算:
一支2g3cm的夸克电池可存储狸星20世纪全球发电量总和，所以个人设备基本上够用一辈子，设备坏了电还没用完呢
什么充电和输电问题，都是一个方案：运电池
 -->

{% include header.html param="历史" %}

<div class="content">
  <p>夸克能在狸星第 26 世纪就已被认识，但受控色能释放技术直到第 38 世纪才实现。</p>
  <p>夸克电池诞生后，逐渐取代了传统的输电方式，变为直接运输电池。用电器也全部变为电池供电，电池的寿命甚至比电器的使用寿命还长。</p>
</div>

